@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto";
  background: url(../assets/background.png); }

.main {
  margin: 20px auto;
  padding: 110px 20px 0;
  transition: 0.3s; }

.page-main {
  display: flex;
  flex-direction: row;
  max-width: 1320px;
  margin: 0 auto; }
  @media screen and (max-width: 950px) {
    .page-main {
      flex-direction: column; } }
  .page-main .post-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-right: 20px;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 950px) {
      .page-main .post-container {
        margin-right: 0px; } }
    .page-main .post-container .post-banner {
      height: 300px; }
      .page-main .post-container .post-banner .post-banner-image {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: grayscale(100%) brightness(70%) contrast(120%); }
      .page-main .post-container .post-banner::after {
        content: '';
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #c9524b, #360940);
        mix-blend-mode: screen; }
    .page-main .post-container .post-title {
      font-size: 2em;
      text-transform: uppercase;
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
      color: white;
      height: 200px;
      font-family: 'Bungee';
      width: calc(100% - 100px);
      text-align: center;
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0; }
      .page-main .post-container .post-title .post-title-text {
        max-width: 520px; }
    .page-main .post-container .post-details {
      display: flex;
      justify-content: space-between;
      padding: 50px;
      padding-top: 10px;
      padding-bottom: 20px; }
    .page-main .post-container .post-content {
      padding: 50px;
      padding-top: 0px; }
      .page-main .post-container .post-content p {
        padding-top: 10px; }
      .page-main .post-container .post-content .quote {
        font-style: italic;
        margin-left: 35px;
        font-size: 0.9em; }
      .page-main .post-container .post-content .media {
        padding-top: 10px;
        font-style: italic;
        font-size: 0.9em;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center; }
        .page-main .post-container .post-content .media img, .page-main .post-container .post-content .media .iframe-cont {
          max-width: 100%;
          height: auto;
          max-height: 360px;
          position: relative; }
        .page-main .post-container .post-content .media iframe {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px; }
      .page-main .post-container .post-content .teamlist {
        margin-left: 35px;
        font-size: 0.9em; }
  .page-main .post-related {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 950px) {
      .page-main .post-related {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; } }
    .page-main .post-related .post {
      display: flex;
      margin-bottom: 20px;
      padding: 10px;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.6;
      transition: 0.15s; }
      @media screen and (max-width: 950px) {
        .page-main .post-related .post {
          width: 250px; } }
      .page-main .post-related .post:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 2px;
        margin-bottom: 18px; }

.logoheadline {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.5em; }
  .logoheadline img {
    margin-right: 8px; }

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu:after,
#cssmenu > ul:after {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu #menu-button {
  display: none;
  height: 100%; }
  #cssmenu #menu-button .menu-icon {
    width: 24px;
    text-align: center;
    padding-bottom: 2px; }

#cssmenu > ul > li {
  float: left; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-center ul ul {
  text-align: left; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase; }

#cssmenu > ul > li:hover > a {
  color: #ffffff; }

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px; }

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: ''; }

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu ul ul {
  position: absolute;
  left: -9999px; }

#cssmenu.align-right ul ul {
  text-align: right; }

#cssmenu ul ul li {
  min-height: 0px;
  max-height: 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0; }

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%; }

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 16px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333; }

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0; }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff; }

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: ''; }

#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px; }

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px; }

@media screen and (min-width: 768px) {
  #cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0; }

  #cssmenu li:hover > ul {
    left: auto; }

  #cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0; }

  #cssmenu li:hover > ul > li {
    min-height: 35px;
    max-height: 70px; }

  #cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0; } }
@media screen and (max-width: 768px) {
  #cssmenu {
    width: calc(100% - 40px); }

  #cssmenu ul {
    width: 100%;
    display: none; }

  #cssmenu.align-center > ul {
    text-align: left; }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2); }

  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
    max-height: 9999px; }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0; }

  #cssmenu > ul > li {
    float: none; }

  #cssmenu ul ul li a {
    padding-left: 25px; }

  #cssmenu ul ul ul li a {
    padding-left: 35px; }

  #cssmenu ul ul li a {
    color: #dddddd;
    background: none; }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff; }

  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left; }

  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none; }

  #cssmenu #menu-button {
    display: flex;
    align-items: center;
    color: #dddddd;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700; }

  #menu-button .menu-icon:before {
    font-family: FontAwesome;
    content: "\f0c9"; }

  #menu-button.menu-opened .menu-icon:before {
    font-family: FontAwesome;
    content: "\f00d"; }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center; }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626; }

  #cssmenu ul ul .submenu-button {
    height: 38px;
    width: 38px; }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px; }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff; }

  #cssmenu .submenu-button:before {
    font-family: FontAwesome;
    content: "\f067"; }

  #cssmenu .submenu-button.submenu-opened:before {
    font-family: FontAwesome;
    content: "\f068"; } }
header {
  height: 110px;
  background: #3e3e3e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 200; }
  header nav {
    display: flex;
    flex-direction: row;
    max-width: 1060px;
    margin: 0 auto;
    align-items: flex-end;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    width: calc(100% - 40px); }
    header nav .main-logo {
      height: 90px;
      padding: 10px;
      padding-right: 16px;
      transition: 0.3s; }
    header nav > ul > li > a {
      padding-bottom: 25px !important;
      transition: 0.3s; }

.header-fixed {
  height: 65px; }
  .header-fixed nav .main-logo {
    height: 45px; }
  .header-fixed nav > ul > li > a {
    padding-bottom: 17px !important; }

@media screen and (max-width: 820px) {
  .main {
    padding: 65px 20px 0 !important; }

  header {
    height: 65px; }
    header nav {
      align-items: center; }
    header nav .main-logo {
      height: 45px; }
    header nav > ul > li > a {
      padding-bottom: 17px !important; }
    header .main {
      padding: 65px 20px 0 !important; } }
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between; }

  #menu-list {
    position: fixed !important;
    margin-left: -20px !important;
    top: 64px;
    background: #333333;
    overflow-y: auto;
    max-height: calc(100% - 65px); } }
.posts {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto; }
  .posts .post-link {
    text-decoration: none;
    color: black; }
    .posts .post-link .post {
      display: flex;
      margin-bottom: 20px;
      padding: 20px;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.6;
      transition: 0.15s;
      position: relative;
      overflow: hidden; }
      .posts .post-link .post:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 2px;
        margin-bottom: 18px; }
      .posts .post-link .post .post-boximage {
        height: 100px;
        width: 200px; }
      .posts .post-link .post .post-summary-cont {
        margin-left: 16px; }
        .posts .post-link .post .post-summary-cont .post-title {
          font-weight: 600;
          font-size: 1.2em; }
        .posts .post-link .post .post-summary-cont .post-details {
          font-style: italic;
          font-size: 0.8em;
          display: flex;
          justify-content: space-between; }
          .posts .post-link .post .post-summary-cont .post-details .post-separator {
            padding-left: 4px;
            padding-right: 4px; }
          .posts .post-link .post .post-summary-cont .post-details .post-detaillinks {
            display: flex; }
            .posts .post-link .post .post-summary-cont .post-details .post-detaillinks *:hover {
              text-decoration: underline; }
      .posts .post-link .post .post-character {
        position: absolute;
        height: 120%;
        top: 8;
        right: 8;
        opacity: 0.15; }
        .posts .post-link .post .post-character img {
          height: 100%;
          max-height: 200px; }

.pagination {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto; }
  .pagination a {
    margin: 2px;
    margin-bottom: 4px;
    text-decoration: none;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 42px;
    width: 42px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    transition: 0.15s;
    position: relative;
    overflow: hidden; }
    .pagination a:hover {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      margin-top: 6px;
      margin-bottom: 0px; }
  .pagination .active {
    font-weight: bold;
    background-color: #f2f2f2; }

.error {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px; }
  .error .main-logo {
    padding-bottom: 20px;
    max-width: 340px;
    width: 100%; }
  .error h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 20px; }
  .error p {
    padding-bottom: 20px;
    max-width: 500px;
    width: 100%; }
  .error a {
    text-decoration: none; }
  .error .button {
    margin: 2px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 42px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    transition: 0.15s;
    position: relative;
    overflow: hidden; }
  .error .button:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    margin-bottom: 0px; }
