html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Roboto", Arial;
  background: url(../assets/background.png); }

.main {
  margin: 20px auto;
  padding: 110px 20px 0;
  transition: 0.3s; }

.page-main {
  display: flex;
  flex-direction: row;
  max-width: 1320px;
  margin: 0 auto; }
  @media screen and (max-width: 950px) {
    .page-main {
      flex-direction: column; } }
  .page-main .post-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    line-height: 1.6;
    overflow: hidden;
    position: relative; }
    @media screen and (max-width: 950px) {
      .page-main .post-container {
        margin-right: 0px; } }
    .page-main .post-container .post-banner {
      height: 300px;
      overflow: hidden;
      border-radius: 5px 5px 0px 0px;
      overflow: hidden;
      background: #FFF; }
      @media screen and (max-width: 600px) {
        .page-main .post-container .post-banner {
          height: 200px; } }
      .page-main .post-container .post-banner .post-banner-image {
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        margin-top: -2px;
        margin-left: -2px;
        opacity: 0.5;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: grayscale(100%) brightness(70%) contrast(120%) blur(2px); }
      .page-main .post-container .post-banner::after {
        content: '';
        width: 100%;
        height: 300px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #c9524b, #360940);
        mix-blend-mode: screen; }
        @media screen and (max-width: 600px) {
          .page-main .post-container .post-banner::after {
            height: 200px; } }
    .page-main .post-container .post-title {
      font-size: 2em;
      text-transform: uppercase;
      text-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
      color: white;
      height: 200px;
      font-family: 'Bungee';
      width: calc(100% - 100px);
      text-align: center;
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0; }
      @media screen and (max-width: 600px) {
        .page-main .post-container .post-title {
          height: 150px;
          width: calc(100% - 50px);
          text-align: center;
          padding: 25px;
          font-size: 1.75em; } }
      @media screen and (max-width: 400px) {
        .page-main .post-container .post-title {
          font-size: 1.4em; } }
      @media screen and (max-width: 300px) {
        .page-main .post-container .post-title {
          font-size: 1.2em; } }
      .page-main .post-container .post-title .post-title-text {
        max-width: 520px; }
    .page-main .post-container .post-details {
      display: flex;
      justify-content: space-between;
      padding: 50px;
      padding-top: 10px;
      padding-bottom: 20px;
      background: #FFF; }
      @media screen and (max-width: 600px) {
        .page-main .post-container .post-details {
          flex-direction: column;
          padding: 20px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 0.95em; } }
    .page-main .post-container .post-sponsor {
      width: 100%;
      font-size: 0.8em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0px 50px;
      background: #FFF; }
      .page-main .post-container .post-sponsor span {
        margin-right: 10px; }
      @media screen and (max-width: 600px) {
        .page-main .post-container .post-sponsor {
          padding: 0px 20px; } }
    .page-main .post-container .post-content {
      padding: 50px;
      padding-top: 0px;
      margin-bottom: 20px;
      border-radius: 0px 0px 5px 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      background: #FFF; }
      @media screen and (max-width: 600px) {
        .page-main .post-container .post-content {
          padding: 20px;
          padding-top: 0px;
          font-size: 0.95em; } }
      .page-main .post-container .post-content p {
        padding-top: 10px; }
      .page-main .post-container .post-content .interview-question,
      .page-main .post-container .post-content .subheading {
        font-weight: bold; }
      .page-main .post-container .post-content .quote {
        font-style: italic;
        margin-left: 35px;
        font-size: 0.9em; }
      .page-main .post-container .post-content iframe.omnyfm {
        padding-top: 10px; }
      .page-main .post-container .post-content .media {
        padding-top: 10px;
        font-style: italic;
        font-size: 0.9em;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center; }
        .page-main .post-container .post-content .media img, .page-main .post-container .post-content .media .iframe-cont {
          max-width: 100%;
          height: auto;
          max-height: 360px;
          position: relative; }
        .page-main .post-container .post-content .media iframe {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0px;
          left: 0px; }
        .page-main .post-container .post-content .media .tweet {
          max-width: 100%; }
        .page-main .post-container .post-content .media .carousel {
          width: 100%; }
          .page-main .post-container .post-content .media .carousel .slides .slick-slide {
            display: flex !important;
            justify-content: center;
            align-items: center;
            outline: 0 !important;
            font-size: 40px; }
          .page-main .post-container .post-content .media .carousel .slides .slick-prev:before, .page-main .post-container .post-content .media .carousel .slides .slick-next:before {
            color: red !important; }
          .page-main .post-container .post-content .media .carousel .slides[data-builtin=true] {
            display: flex;
            align-items: center; }
          .page-main .post-container .post-content .media .carousel .pagination__button {
            cursor: pointer;
            font-style: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin: 4px;
            display: flex;
            background: #EEE;
            border-radius: 5px;
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
            line-height: 1.6;
            transition: 0.15s;
            position: relative;
            overflow: hidden;
            font-weight: bold;
            font-size: 1.2em; }
            .page-main .post-container .post-content .media .carousel .pagination__button:hover {
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
              margin-top: 6px;
              margin-bottom: 2px; }
            .page-main .post-container .post-content .media .carousel .pagination__button.pagination__button_nocap {
              flex-shrink: 0;
              width: 20px; }
            .page-main .post-container .post-content .media .carousel .pagination__button.slick-disabled {
              cursor: not-allowed;
              background: #ccc;
              color: #fff; }
          .page-main .post-container .post-content .media .carousel .controls {
            display: flex;
            width: 100%; }
            .page-main .post-container .post-content .media .carousel .controls .captions {
              flex: 1;
              max-width: calc(100% - 100px);
              padding: 10px;
              margin-top: 2px; }
              .page-main .post-container .post-content .media .carousel .controls .captions .caption {
                outline: 0 !important; }
            .page-main .post-container .post-content .media .carousel .controls .pagination {
              display: flex;
              margin-top: 2px; }
      .page-main .post-container .post-content .teamlist {
        margin-left: 35px;
        font-size: 0.9em; }
      .page-main .post-container .post-content .post-footer {
        padding-top: 10px;
        font-style: italic; }
      .page-main .post-container .post-content .tier-title-cont {
        background: url("/assets/tier/tier-line.png");
        width: calc(100% - 40px);
        padding-left: 20px;
        adding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100% 100%;
        margin-bottom: 10px;
        margin-top: 10px; }
        .page-main .post-container .post-content .tier-title-cont .tier-title {
          color: #222222;
          background: white;
          padding-left: 20px;
          padding-right: 20px;
          font-family: 'Bowlby One SC', cursive;
          font-size: 26px;
          height: 20px;
          display: flex;
          align-items: center; }
      .page-main .post-container .post-content .tier-cont {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap; }
        .page-main .post-container .post-content .tier-cont .tier-team-wrapper {
          height: 120px;
          width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #222;
          border-radius: 10px;
          flex-direction: column;
          margin: 10px;
          position: relative;
          overflow: hidden; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-team-bg {
            opacity: 0.25;
            position: absolute;
            top: -10px;
            left: 0;
            width: 100%;
            height: calc(100% + 20px);
            background-size: cover;
            background-position: center; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .logo {
            z-index: 1; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-team-name {
            z-index: 1; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-change {
            position: absolute;
            top: 2px;
            right: 2px;
            height: 20px;
            width: 20px;
            color: white;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2; }
            .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-change .fas {
              margin-left: 1px; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-change-up {
            background: #19c459; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-change-down {
            background: #ff492d; }
          .page-main .post-container .post-content .tier-cont .tier-team-wrapper .tier-change-debut {
            background: #d8d833;
            font-size: 0.7em; }
  .page-main .post-related {
    width: 300px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: center; }
    @media screen and (max-width: 950px) {
      .page-main .post-related {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%; } }
    @media screen and (max-width: 600px) {
      .page-main .post-related {
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% - 30px); } }
    .page-main .post-related h1 {
      margin-bottom: 6px;
      font-weight: bold;
      font-size: 1.2em; }
      @media screen and (max-width: 950px) {
        .page-main .post-related h1 {
          display: none; } }
    .page-main .post-related a {
      text-decoration: none;
      color: black; }
      @media screen and (max-width: 400px) {
        .page-main .post-related a {
          width: 100%; } }
      .page-main .post-related a .post {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding: 10px;
        background: #FFF;
        border-radius: 5px;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
        line-height: 1.6;
        transition: 0.15s;
        font-size: 0.95em;
        line-height: 1.3em; }
        .page-main .post-related a .post:hover {
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          margin-top: 2px;
          margin-bottom: 18px; }
        @media screen and (max-width: 950px) {
          .page-main .post-related a .post {
            width: 250px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 10px; }
            .page-main .post-related a .post:hover {
              box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
              margin-top: 2px;
              margin-bottom: 8px; } }
        @media screen and (max-width: 400px) {
          .page-main .post-related a .post {
            width: calc(100% - 40px); } }
        .page-main .post-related a .post .post-image {
          flex-shrink: 0;
          width: 100%;
          margin-bottom: 8px; }
        .page-main .post-related a .post.plug-post, .page-main .post-related a .post.sponsor-post {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
          overflow: hidden;
          margin-left: 0;
          margin-right: 0;
          /*Desktop: 300x250 medium rectangle*/
          height: 250px; }
          .page-main .post-related a .post.plug-post .post-image, .page-main .post-related a .post.sponsor-post .post-image {
            margin: 0; }
          .page-main .post-related a .post.plug-post .plug-image,
          .page-main .post-related a .post.plug-post .sponsor-image, .page-main .post-related a .post.sponsor-post .plug-image,
          .page-main .post-related a .post.sponsor-post .sponsor-image {
            display: block; }
            @media screen and (max-width: 950px) {
              .page-main .post-related a .post.plug-post .plug-image,
              .page-main .post-related a .post.plug-post .sponsor-image, .page-main .post-related a .post.sponsor-post .plug-image,
              .page-main .post-related a .post.sponsor-post .sponsor-image {
                display: none; } }
          .page-main .post-related a .post.plug-post .plug-image-wide,
          .page-main .post-related a .post.plug-post .sponsor-image-wide, .page-main .post-related a .post.sponsor-post .plug-image-wide,
          .page-main .post-related a .post.sponsor-post .sponsor-image-wide {
            display: none; }
            @media screen and (max-width: 950px) {
              .page-main .post-related a .post.plug-post .plug-image-wide,
              .page-main .post-related a .post.plug-post .sponsor-image-wide, .page-main .post-related a .post.sponsor-post .plug-image-wide,
              .page-main .post-related a .post.sponsor-post .sponsor-image-wide {
                display: block; } }
          @media screen and (max-width: 950px) {
            .page-main .post-related a .post.plug-post, .page-main .post-related a .post.sponsor-post {
              width: 100%;
              margin: 0 auto;
              margin-bottom: 10px;
              /*Mobile: 320x100 large mobile banner*/
              height: 120px; }
              .page-main .post-related a .post.plug-post:hover, .page-main .post-related a .post.sponsor-post:hover {
                margin-top: 2px;
                margin-bottom: 8px; } }
      @media screen and (max-width: 950px) {
        .page-main .post-related a.plug-link, .page-main .post-related a.sponsor-link {
          width: 100%; } }

.logoheadline {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.5em; }
  .logoheadline img {
    margin-right: 8px; }

.rankings {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px; }
  .rankings .headers {
    font-weight: bold;
    background: #d9d9d9 !important; }
  .rankings tr:nth-child(even) {
    background: #EEE; }
  .rankings tr td {
    vertical-align: middle;
    height: 100%;
    padding-top: 3px;
    padding-bottom: 3px; }
  .rankings tr .right {
    text-align: right; }
  .rankings tr .left {
    text-align: left; }
  .rankings tr .middle {
    text-align: center; }
  .rankings tr .tiny {
    width: 25px; }
  .rankings tr .flex {
    display: flex;
    align-items: center; }
    .rankings tr .flex * {
      padding-left: 4px;
      padding-right: 4px; }
  .rankings tr .fas.fa-arrow-down {
    color: #F7977A; }
  .rankings tr .fas.fa-arrow-up {
    color: #82CA9D; }
  @media screen and (max-width: 768px) {
    .rankings tr .unimportant {
      display: none; } }
  @media screen and (max-width: 400px) {
    .rankings tr .unimportant-2 {
      display: none; } }

#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#cssmenu:after,
#cssmenu > ul:after {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu #menu-button {
  display: none;
  height: 100%; }
  #cssmenu #menu-button .menu-icon {
    width: 24px;
    text-align: center;
    padding-bottom: 2px; }

#cssmenu > ul > li {
  float: left; }

#cssmenu > ul > li.socials {
  display: flex;
  height: 30px; }

#cssmenu > ul > li.socials a {
  padding: 11px 4px;
  font-size: 1.5em;
  font-weight: normal; }

#cssmenu > ul > li > ul > li > ul > li {
  overflow: hidden; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-center ul ul {
  text-align: left; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase; }

#cssmenu > ul > li > ul > li > ul > li > a > img {
  height: 60px;
  position: absolute;
  right: 4px;
  top: 0px;
  padding-top: 4px;
  opacity: 0.8; }

#cssmenu > ul > li:hover > a {
  color: #ffffff; }

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px; }

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: ''; }

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu ul ul {
  position: absolute;
  left: -9999px; }

#cssmenu.align-right ul ul {
  text-align: right; }

#cssmenu ul ul li {
  min-height: 0px;
  max-height: 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0; }

#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%; }

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 16px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #333333; }

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0; }

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff; }

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: ''; }

#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px; }

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px; }

@media screen and (min-width: 768px) {
  #cssmenu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0; }

  #cssmenu li:hover > ul {
    left: auto; }

  #cssmenu.align-right li:hover > ul {
    left: auto;
    right: 0; }

  #cssmenu li:hover > ul > li {
    min-height: 35px;
    max-height: 70px; }

  #cssmenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0; } }
@media screen and (max-width: 768px) {
  #cssmenu {
    width: calc(100% - 40px); }

  #cssmenu ul {
    width: 100%;
    display: none; }

  #cssmenu.align-center > ul {
    text-align: left; }

  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2); }

  #cssmenu > ul > li.socials {
    align-items: center;
    justify-content: center;
    height: auto; }

  #cssmenu > ul > li.socials a {
    text-align: center; }

  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
    max-height: 9999px; }

  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0; }

  #cssmenu > ul > li {
    float: none; }

  #cssmenu ul ul li a {
    padding-left: 25px; }

  #cssmenu ul ul ul li a {
    padding-left: 35px; }

  #cssmenu ul ul li a {
    color: #dddddd;
    background: none; }

  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff; }

  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left; }

  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none; }

  #cssmenu #menu-button {
    display: flex;
    align-items: center;
    color: #dddddd;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700; }

  #menu-button .menu-icon:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f0c9"; }

  #menu-button.menu-opened .menu-icon:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f00d"; }

  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center; }

  #cssmenu .submenu-button.submenu-opened {
    background: #262626; }

  #cssmenu ul ul .submenu-button {
    height: 38px;
    width: 38px; }

  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px; }

  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff; }

  #cssmenu .submenu-button:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: "\f067"; }

  #cssmenu .submenu-button.submenu-opened:before {
    font-family: 'Font Awesome\ 5 Free';
    content: "\f068"; } }
header {
  height: 110px;
  background: #3e3e3e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
  z-index: 200; }
  header nav {
    display: flex;
    flex-direction: row;
    max-width: 1060px;
    margin: 0 auto;
    align-items: flex-end;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.3s;
    width: calc(100% - 40px); }
    header nav .main-logo {
      height: 90px;
      padding: 10px;
      padding-right: 16px;
      transition: 0.3s; }
    header nav > ul > li > a {
      padding-bottom: 25px !important;
      transition: 0.3s; }

.header-fixed {
  height: 65px; }
  .header-fixed nav .main-logo {
    height: 45px; }
  .header-fixed nav > ul > li > a {
    padding-bottom: 17px !important; }

@media screen and (max-width: 820px) {
  .main {
    padding: 65px 20px 0 !important; }

  header {
    height: 65px; }
    header nav {
      align-items: center; }
    header nav .main-logo {
      height: 45px; }
    header nav > ul > li > a {
      padding-bottom: 17px !important; }
    header .main {
      padding: 65px 20px 0 !important; } }
@media screen and (max-width: 768px) {
  .main {
    padding: 45px 0px 0 !important;
    border-radius: 0px; }

  nav {
    justify-content: space-between; }

  #menu-list {
    position: fixed !important;
    margin-left: -20px !important;
    top: 64px;
    background: #333333;
    overflow-y: auto;
    max-height: calc(100% - 65px); } }
@media screen and (max-width: 600px) {
  .main {
    padding: 45px 0px 0 !important;
    border-radius: 0px; } }
.posts {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto; }
  @media screen and (max-width: 820px) {
    .posts {
      font-size: 0.9em; } }
  @media screen and (max-width: 768px) {
    .posts {
      font-size: 0.8em;
      padding: 10px;
      padding-top: 15px; } }
  @media screen and (max-width: 400px) {
    .posts {
      font-size: 0.7em; } }
  .posts .post-link-special {
    width: 100%; }
    .posts .post-link-special .post {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px !important;
      /*Desktop: 728x90 leaderboard*/
      height: 100px;
      width: 100%; }
      .posts .post-link-special .post ins {
        width: 100%; }
      @media screen and (max-width: 768px) {
        .posts .post-link-special .post {
          /*Mobile: 320x100 large mobile banner*/
          height: 110px; } }
  .posts .post-link {
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    transition: 0.15s; }
    @media screen and (max-width: 600px) {
      .posts .post-link {
        margin-bottom: 10px; } }
    .posts .post-link:hover {
      margin-bottom: 18px; }
      @media screen and (max-width: 600px) {
        .posts .post-link:hover {
          margin-bottom: 9px; } }
    .posts .post-link .post {
      display: flex;
      padding: 20px;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.6;
      transition: 0.15s;
      position: relative;
      overflow: hidden; }
      @media screen and (max-width: 768px) {
        .posts .post-link .post {
          padding: 15px; } }
      @media screen and (max-width: 400px) {
        .posts .post-link .post {
          padding: 10px; } }
      .posts .post-link .post:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 2px; }
      .posts .post-link .post .post-boximage {
        height: 100px;
        width: 200px; }
        @media screen and (max-width: 950px) {
          .posts .post-link .post .post-boximage {
            display: none; } }
      .posts .post-link .post .post-boximage-square {
        display: none;
        height: 100px;
        width: 100px; }
        @media screen and (max-width: 950px) {
          .posts .post-link .post .post-boximage-square {
            display: block; } }
        @media screen and (max-width: 768px) {
          .posts .post-link .post .post-boximage-square {
            height: 50px;
            width: 50px; } }
      .posts .post-link .post .post-summary-cont {
        margin-left: 16px;
        width: 100%;
        z-index: 2; }
        @media screen and (max-width: 600px) {
          .posts .post-link .post .post-summary-cont {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center; } }
        .posts .post-link .post .post-summary-cont .post-title {
          font-weight: 600;
          font-size: 1.2em; }
        .posts .post-link .post .post-summary-cont .post-details {
          font-style: italic;
          font-size: 0.8em;
          display: flex;
          justify-content: space-between; }
          .posts .post-link .post .post-summary-cont .post-details .post-separator {
            padding-left: 4px;
            padding-right: 4px; }
          .posts .post-link .post .post-summary-cont .post-details .post-detaillinks {
            display: flex; }
            @media screen and (max-width: 600px) {
              .posts .post-link .post .post-summary-cont .post-details .post-detaillinks {
                display: none; } }
          @media screen and (max-width: 600px) {
            .posts .post-link .post .post-summary-cont .post-details .post-date {
              width: 65px;
              text-align: right; } }
          @media screen and (max-width: 400px) {
            .posts .post-link .post .post-summary-cont .post-details .post-date {
              font-size: 1.1em;
              width: 60px; } }
        .posts .post-link .post .post-summary-cont .post-entry-cont {
          display: flex; }
          @media screen and (max-width: 768px) {
            .posts .post-link .post .post-summary-cont .post-entry-cont .post-entry {
              display: none; } }
          @media screen and (max-width: 768px) {
            .posts .post-link .post .post-summary-cont .post-entry-cont.empty {
              display: none; } }
          .posts .post-link .post .post-summary-cont .post-entry-cont .post-sponsor {
            width: 80px;
            flex-shrink: 0;
            flex-grow: 0;
            font-size: 0.8em;
            margin-left: 15px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-direction: column; }
            @media screen and (max-width: 768px) {
              .posts .post-link .post .post-summary-cont .post-entry-cont .post-sponsor {
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                margin-left: 0px; }
                .posts .post-link .post .post-summary-cont .post-entry-cont .post-sponsor span {
                  margin-right: 10px; } }
            @media screen and (max-width: 600px) {
              .posts .post-link .post .post-summary-cont .post-entry-cont .post-sponsor {
                flex-direction: column;
                justify-content: flex-end;
                width: 60px;
                font-size: 0.7em;
                margin-left: 15px; }
                .posts .post-link .post .post-summary-cont .post-entry-cont .post-sponsor img {
                  height: 30px;
                  width: 60px; }
                .posts .post-link .post .post-summary-cont .post-entry-cont .post-sponsor span {
                  margin-right: 0px; } }
      .posts .post-link .post .post-character {
        position: absolute;
        height: 120%;
        top: 8px;
        right: 8px;
        opacity: 0.2; }
        .posts .post-link .post .post-character.guest {
          height: calc(100% - 16px); }
        .posts .post-link .post .post-character img {
          height: 100%;
          max-height: 200px; }

.pagination {
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto; }
  .pagination a {
    margin: 2px;
    margin-bottom: 4px;
    text-decoration: none;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 42px;
    width: 42px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    transition: 0.15s;
    position: relative;
    overflow: hidden; }
    .pagination a:hover {
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      margin-top: 6px;
      margin-bottom: 0px; }
  .pagination .active {
    font-weight: bold;
    background-color: #f2f2f2; }

.autopage-title {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  max-width: 1060px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 768px) {
    .autopage-title {
      margin-bottom: 0;
      margin-top: 0.5em; } }

.post-author {
  padding: 30px;
  background: #FFF;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  display: flex; }
  .post-author a {
    color: #333; }
  @media screen and (max-width: 820px) {
    .post-author {
      margin-bottom: 15px; } }
  @media screen and (max-width: 600px) {
    .post-author {
      padding: 20px;
      font-size: 0.95em; } }
  @media screen and (max-width: 400px) {
    .post-author {
      font-size: 0.85em; } }
  .post-author .author-image {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 30px; }
    .post-author .author-image.author-image-human {
      border-radius: 55px; }
      @media screen and (max-width: 600px) {
        .post-author .author-image.author-image-human {
          border-radius: 35px;
          margin-right: 20px; } }
      @media screen and (max-width: 400px) {
        .post-author .author-image.author-image-human {
          border-radius: 25px;
          margin-right: 10px; } }
    @media screen and (max-width: 600px) {
      .post-author .author-image {
        width: 70px;
        height: 70px; } }
    @media screen and (max-width: 400px) {
      .post-author .author-image {
        width: 50px;
        height: 50px; } }
  .post-author .author-name {
    font-weight: bold;
    font-size: 1.2em; }
  .post-author .author-role {
    font-style: italic;
    margin-top: -5px; }
  .post-author .author-description {
    font-size: 0.9em; }
    @media screen and (max-width: 600px) {
      .post-author .author-description {
        display: none; } }

.single-page-cont {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 0 auto; }
  .single-page-cont .switch-button-cont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .single-page-cont .switch-button-cont .switch-button {
      margin: 6px;
      margin-bottom: 10px;
      text-decoration: none;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0.5em;
      color: black;
      height: 42px;
      width: 42px;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      line-height: 1em;
      font-size: 0.9em;
      transition: 0.15s;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      .single-page-cont .switch-button-cont .switch-button:hover {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        margin-top: 6px;
        margin-bottom: 6px; }
  .single-page-cont .heading-cont {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative; }
    .single-page-cont .heading-cont .heading {
      display: none;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%; }
    .single-page-cont .heading-cont .heading-placeholder {
      display: block; }
  .single-page-cont .graph-cont {
    display: flex;
    justify-content: space-around; }
    @media screen and (max-width: 768px) {
      .single-page-cont .graph-cont {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }
    .single-page-cont .graph-cont .graph {
      padding: 16px;
      margin: 6px;
      text-decoration: none;
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0.5em;
      color: black;
      background: #FFF;
      border-radius: 5px;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      line-height: 1em;
      font-size: 1em;
      transition: 0.15s;
      position: relative;
      overflow: hidden;
      position: relative; }
      @media screen and (max-width: 400px) {
        .single-page-cont .graph-cont .graph {
          width: calc(100% - 64px) !important;
          font-size: 0.9em; } }
      .single-page-cont .graph-cont .graph .graph-actual {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        padding: 16px;
        height: calc(100% - 32px);
        width: calc(100% - 32px); }
        .single-page-cont .graph-cont .graph .graph-actual table {
          width: 100%; }
          .single-page-cont .graph-cont .graph .graph-actual table th {
            font-weight: bold;
            padding-bottom: 4px; }
          .single-page-cont .graph-cont .graph .graph-actual table td, .single-page-cont .graph-cont .graph .graph-actual table th {
            text-align: center;
            vertical-align: middle; }
            .single-page-cont .graph-cont .graph .graph-actual table td .logo-small, .single-page-cont .graph-cont .graph .graph-actual table th .logo-small {
              padding-top: 4px;
              padding-bottom: 4px; }
    .single-page-cont .graph-cont .graph-teams {
      width: 300px;
      height: 542px; }
    .single-page-cont .graph-cont .graph-maps {
      width: 300px;
      height: 300px; }

.main {
  position: relative; }
  .main .masked {
    -webkit-clip-path: url(#myClip);
    clip-path: url(#myClip); }
  .main .single-page-cont.single-page-cont-tcg {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .main .single-page-cont.single-page-cont-tcg .tcg-preview {
      max-width: 20vw;
      cursor: pointer; }
    .main .single-page-cont.single-page-cont-tcg a {
      width: 120px;
      padding: 8px;
      text-decoration: none;
      color: black; }
      .main .single-page-cont.single-page-cont-tcg a .tcg-button {
        display: flex;
        padding: 20px;
        background: #FFF;
        border-radius: 5px;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
        line-height: 1.6;
        transition: 0.15s;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        margin-bottom: 3px;
        text-align: center;
        align-items: center;
        justify-content: center; }
        .main .single-page-cont.single-page-cont-tcg a .tcg-button:hover {
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
          margin-top: 2px;
          margin-bottom: 1px; }
        .main .single-page-cont.single-page-cont-tcg a .tcg-button.disable {
          filter: grayscale(100%); }
          .main .single-page-cont.single-page-cont-tcg a .tcg-button.disable img {
            opacity: 0.3; }
  .main .cardDisplay {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 65px);
    top: 65px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    align-items: center;
    justify-content: center; }
    .main .cardDisplay .carousel {
      width: calc(100% - 100px); }
      .main .cardDisplay .carousel .slick-slide {
        outline: none; }
        .main .cardDisplay .carousel .slick-slide .tcg-large {
          max-height: 100%;
          max-width: 100%;
          padding: 8px;
          text-align: center; }

.page-main-d3 {
  flex-direction: row !important; }
  .page-main-d3 .single-page-cont-d3 {
    padding: 0;
    margin: 0 auto;
    background-image: url("/assets/d3-bg.png");
    border-radius: 5px 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: calc(100vh - 200px); }
    @media screen and (max-width: 820px) {
      .page-main-d3 .single-page-cont-d3 {
        min-height: calc(100vh - 145px); } }
    .page-main-d3 .single-page-cont-d3 #d3-cont {
      overflow: hidden;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0; }
      .page-main-d3 .single-page-cont-d3 #d3-cont .node {
        cursor: pointer; }
        .page-main-d3 .single-page-cont-d3 #d3-cont .node circle {
          fill: #fff;
          stroke: steelblue;
          stroke-width: 1.5px; }
        .page-main-d3 .single-page-cont-d3 #d3-cont .node text {
          font: 26px 'Roboto Condensed'; }
      .page-main-d3 .single-page-cont-d3 #d3-cont .link {
        fill: none;
        stroke-width: 8px; }
      .page-main-d3 .single-page-cont-d3 #d3-cont svg {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        cursor: grab; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg foreignObject {
          pointer-events: none; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg div,
        .page-main-d3 .single-page-cont-d3 #d3-cont svg table {
          width: 100%;
          height: 100%; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg text {
          font-size: 1.2em; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg img.highlighted {
          border: 5px solid black !important;
          margin: 0px; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg span.highlighted {
          border: 5px solid black !important;
          border-radius: 20px;
          padding: 10px; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg rect.highlighted {
          stroke: black !important; }
        .page-main-d3 .single-page-cont-d3 #d3-cont svg path.highlighted {
          stroke: black !important; }
      .page-main-d3 .single-page-cont-d3 #d3-cont .teamlogo-cont {
        margin-top: 50px;
        height: calc(100% - 60px) !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        z-index: 20; }
        .page-main-d3 .single-page-cont-d3 #d3-cont .teamlogo-cont span {
          font: 50px Roboto;
          text-align: center; }
        .page-main-d3 .single-page-cont-d3 #d3-cont .teamlogo-cont img,
        .page-main-d3 .single-page-cont-d3 #d3-cont .teamlogo-cont div.fakeimg {
          flex-shrink: 0;
          flex-grow: 0;
          height: 60px;
          width: 60px;
          padding: 10px;
          border-radius: 20px;
          margin: 5px;
          z-index: 30;
          pointer-events: all;
          cursor: default;
          position: relative; }

.d3-title {
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  max-width: 1060px;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 768px) {
    .d3-title {
      margin-top: 0.5em; } }

.single-page-cont-timeline {
  color: #7f8c97; }
  .single-page-cont-timeline *, .single-page-cont-timeline *::after, .single-page-cont-timeline *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .single-page-cont-timeline a {
    color: #acb7c0;
    text-decoration: none; }
  .single-page-cont-timeline .cd-timeline__img img {
    max-width: 100%; }
  .single-page-cont-timeline .cd-timeline {
    overflow: hidden;
    margin: 0 auto;
    width: 100%; }
  .single-page-cont-timeline .cd-timeline__container {
    position: relative;
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
    margin-top: 6px; }
  .single-page-cont-timeline .cd-timeline__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed; }
  .single-page-cont-timeline .cd-timeline__block {
    position: relative;
    margin: 2em 0; }
  .single-page-cont-timeline .cd-timeline__block:after {
    content: "";
    display: table;
    clear: both; }
  .single-page-cont-timeline .cd-timeline__block:first-child {
    margin-top: 0; }
  .single-page-cont-timeline .cd-timeline__block:last-child {
    margin-bottom: 0; }
  .single-page-cont-timeline .cd-timeline__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }
    .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--NZ {
      background: #75ce66; }
      .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--NZ .img {
        background-image: url("/assets/flags-big/nz.png"); }
    .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--US {
      background: #c03b44; }
      .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--US .img {
        background-image: url("/assets/flags-big/us.png"); }
    .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--AU {
      background: #f0ca45; }
      .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--AU .img {
        background-image: url("/assets/flags-big/au.png"); }
    .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--UK {
      background: #45caf0; }
      .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--UK .img {
        background-image: url("/assets/flags-big/uk.png"); }
    .single-page-cont-timeline .cd-timeline__img div.img {
      display: block;
      width: 32px;
      height: 32px;
      position: relative;
      left: 50%;
      top: 50%;
      margin-left: -16px;
      margin-top: -16px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .single-page-cont-timeline .cd-timeline__content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    padding: 0.6em;
    -webkit-box-shadow: 0 3px 0 #d7e4ed;
    box-shadow: 0 3px 0 #d7e4ed; }
  .single-page-cont-timeline .cd-timeline__content:after {
    content: "";
    display: table;
    clear: both; }
  .single-page-cont-timeline .cd-timeline__content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white; }
  .single-page-cont-timeline .cd-timeline__content h2 {
    font-size: 1.2em;
    color: #303e49; }
  .single-page-cont-timeline .cd-timeline__date {
    font-size: 1.6em; }
  .single-page-cont-timeline .cd-timeline__date {
    display: inline-block; }
  .single-page-cont-timeline .cd-timeline__date {
    float: left;
    padding: 0;
    opacity: .7;
    font-size: 0.8em; }
  @media only screen and (min-width: 768px) {
    .single-page-cont-timeline .cd-timeline__content h2 {
      font-size: 1.6em; }
    .single-page-cont-timeline .cd-timeline__content {
      padding: 1.2em; }
    .single-page-cont-timeline .cd-timeline__date {
      font-size: 1.1em;
      padding: .3em 0; } }
  @media only screen and (min-width: 950px) {
    .single-page-cont-timeline .cd-timeline__date {
      font-size: 1.2em;
      padding: .8em 0; }
    .single-page-cont-timeline .cd-timeline__content {
      margin-left: 0;
      width: 45%;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
    .single-page-cont-timeline .cd-timeline__content::before {
      top: 24px;
      left: 100%;
      border-color: transparent;
      border-left-color: white; }
    .single-page-cont-timeline .cd-timeline__date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 6px;
      font-size: 1.3em; }
    .single-page-cont-timeline .cd-timeline__block:nth-child(even) .cd-timeline__content {
      float: right; }
    .single-page-cont-timeline .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
      top: 24px;
      left: auto;
      right: 100%;
      border-color: transparent;
      border-right-color: white; }
    .single-page-cont-timeline .cd-timeline__block:nth-child(even) .cd-timeline__date {
      left: auto;
      right: 122%;
      text-align: right; }
    .single-page-cont-timeline .cd-timeline__img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
      .single-page-cont-timeline .cd-timeline__img.cd-timeline__img--bounce-in {
        visibility: visible; }
      .single-page-cont-timeline .cd-timeline__img div.img {
        width: 42px;
        height: 42px;
        margin-left: -21px;
        margin-top: -21px; }
    .single-page-cont-timeline .cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em; }
    .single-page-cont-timeline .cd-timeline__container::before {
      left: 50%;
      margin-left: -2px; }
    .single-page-cont-timeline .cd-is-hidden {
      visibility: hidden; }
    .single-page-cont-timeline .cd-timeline__block {
      margin: 4em 0; } }

.posts .post-link .post-fake {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1em !important; }
  .posts .post-link .post-fake .makepage-cont {
    width: 400px;
    display: flex;
    justify-content: space-between; }
    .posts .post-link .post-fake .makepage-cont input {
      width: 60%; }
    .posts .post-link .post-fake .makepage-cont select {
      padding: 1px;
      width: calc(60% + 4px); }
  .posts .post-link .post-fake .makepage-buttons {
    display: flex; }
    .posts .post-link .post-fake .makepage-buttons button {
      padding: 4px;
      margin: 4px;
      width: 80px;
      font-size: 0.8em;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
  .posts .post-link .post-fake textarea {
    width: 100%; }
  .posts .post-link .post-fake:hover {
    margin-top: 0px !important;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1) !important; }

.image-editor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .image-editor .thumbnail {
    max-height: 240px;
    max-width: 427px;
    margin: 10px;
    float: left; }
  .image-editor #clear {
    display: none; }
  .image-editor #result {
    border: 4px dotted #cccccc;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: right;
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  .image-editor .cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 7px; }
    .image-editor .cropit-preview.cropit-preview-1 {
      width: 950px;
      height: 633px; }
    .image-editor .cropit-preview.cropit-preview-2 {
      width: 200px;
      height: 100px; }
    .image-editor .cropit-preview.cropit-preview-3 {
      width: 100px;
      height: 100px; }
  .image-editor .cropit-preview-image-container {
    cursor: move; }
  .image-editor .image-size-label {
    margin-top: 10px; }
  .image-editor input, .image-editor .export {
    display: block; }
  .image-editor button {
    margin-top: 10px; }
  .image-editor .cropit-image-zoom-input {
    width: 50%; }

.error {
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px; }
  .error .main-logo {
    padding-bottom: 20px;
    max-width: 340px;
    width: 100%; }
  .error h1 {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 20px; }
  .error p {
    padding-bottom: 20px;
    max-width: 500px;
    width: 100%; }
  .error a {
    text-decoration: none; }
  .error .button {
    margin: 2px;
    margin-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 42px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    transition: 0.15s;
    position: relative;
    overflow: hidden; }
  .error .button:hover {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 6px;
    margin-bottom: 0px; }
