---
layout: post
title: 'SK fer: "It is an incredible crowd and they love this game"'
fulltitle: 'SK Gaming fer:<br/>"It is an incredible crowd and they love this game"'
category: counter-strike
tags: features interviews fps-games 
image: sk-fer-interview
author: gradyhooker
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2017-05-14 12:00:00 +1300
---

<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">

<div style="background: url('/assets/tier/tier-line.png'); width: calc(100% - 40px); padding-left: 20px; padding-right: 20px; display: flex; align-items: center; justify-content: center; background-size: 100% 100%; margin-bottom: 10px; margin-top: 10px;">
	<div style="color: #222222; background: white; padding-left: 20px; padding-right: 20px; font-family: 'Bowlby One SC', cursive; font-size: 26px; height: 20px; display: flex; align-items: center;">
		S-Tier
	</div>
</div>
<div style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/eu.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="faze" %}
		<div style="z-index: 10;">FaZe Clan</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/dk.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="astralis" %}
		<div style="z-index: 10;">Astralis</div>
	</div>
</div>

<div style="background: url('/assets/tier/tier-line.png'); width: calc(100% - 40px); padding-left: 20px; padding-right: 20px; display: flex; align-items: center; justify-content: center; background-size: 100% 100%; margin-bottom: 10px; margin-top: 10px;">
	<div style="color: #222222; background: white; padding-left: 20px; padding-right: 20px; font-family: 'Bowlby One SC', cursive; font-size: 26px; height: 20px; display: flex; align-items: center;">
		A-Tier
	</div>
</div>
<div style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/ua.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="navi" %}
		<div style="z-index: 10;">NaVi</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/eu.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="mousesports" %}
		<div style="z-index: 10;">mousesports</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/us.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="liquid" %}
		<div style="z-index: 10;">Liquid</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/br.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="skgaming" %}
		<div style="z-index: 10;">SK</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/se.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="fnatic" %}
		<div style="z-index: 10;">Fnatic</div>
	</div>
</div>

<div style="background: url('/assets/tier/tier-line.png'); width: calc(100% - 40px); padding-left: 20px; padding-right: 20px; display: flex; align-items: center; justify-content: center; background-size: 100% 100%; margin-bottom: 10px; margin-top: 10px;">
	<div style="color: #222222; background: white; padding-left: 20px; padding-right: 20px; font-family: 'Bowlby One SC', cursive; font-size: 26px; height: 20px; display: flex; align-items: center;">
		B-Tier
	</div>
</div>
<div style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/se.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="nip" %}
		<div style="z-index: 10;">NiP</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/us.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="cloud9" %}
		<div style="z-index: 10;">Cloud9</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/cn.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="tyloo" %}
		<div style="z-index: 10;">TyLoo</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/dk.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="north" %}
		<div style="z-index: 10;">North</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/us.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="nrg" %}
		<div style="z-index: 10;">NRG Esports</div>
	</div>
</div>

<div style="background: url('/assets/tier/tier-line.png'); width: calc(100% - 40px); padding-left: 20px; padding-right: 20px; display: flex; align-items: center; justify-content: center; background-size: 100% 100%; margin-bottom: 10px; margin-top: 10px;">
	<div style="color: #222222; background: white; padding-left: 20px; padding-right: 20px; font-family: 'Bowlby One SC', cursive; font-size: 26px; height: 20px; display: flex; align-items: center;">
		C-Tier
	</div>
</div>
<div style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/pl.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="ago-2018" %}
		<div style="z-index: 10;">AGO</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/tk.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="spacesoldiers" %}
		<div style="z-index: 10;">Space Sol.</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/fr.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="g2" %}
		<div style="z-index: 10;">G2 Esports</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/ua.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="hellraisers" %}
		<div style="z-index: 10;">HellRaisers</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/au.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="renegades" %}
		<div style="z-index: 10;">Renegades</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/kz.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="gambit" %}
		<div style="z-index: 10;">Gambit</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/se.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="godsent" %}
		<div style="z-index: 10;">GODSENT</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/dk.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="heroic" %}
		<div style="z-index: 10;">Heroic</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/dk.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="optic" %}
		<div style="z-index: 10;">OpTic</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/kz.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="avangar-2018" %}
		<div style="z-index: 10;">AVANGAR</div>
	</div>
</div>

<div style="background: url('/assets/tier/tier-line.png'); width: calc(100% - 40px); padding-left: 20px; padding-right: 20px; display: flex; align-items: center; justify-content: center; background-size: 100% 100%; margin-bottom: 10px; margin-top: 10px;">
	<div style="color: #222222; background: white; padding-left: 20px; padding-right: 20px; font-family: 'Bowlby One SC', cursive; font-size: 26px; height: 20px; display: flex; align-items: center;">
		D-Tier
	</div>
</div>
<div style="display: flex; align-content: center; justify-content: center; flex-wrap: wrap;">
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/au.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="grayhound" %}
		<div style="z-index: 10;">Grayhound</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/pl.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="virtuspro" %}
		<div style="z-index: 10;">Virtus.Pro</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/us.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="rogue" %}
		<div style="z-index: 10;">Rogue</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/fr.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="envyus" %}
		<div style="z-index: 10;">EnVyUs</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/de.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="big" %}
		<div style="z-index: 10;">BIG</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/us.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="eunited" %}
		<div style="z-index: 10;">eUnited</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/kr.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="mvp" %}
		<div style="z-index: 10;">MVP PK</div>
	</div>
	<div style="height: 120px; width: 100px; display: flex; align-items: center; justify-content: center; border: 2px solid #222; border-radius: 10px; flex-direction: column; margin: 10px; position: relative; overflow: hidden;">
		<div style="background: url('/assets/flags-big/dk.png'); opacity: 0.25; position: absolute; top: -10px; left: 0; width: 100%; height: calc(100% + 20px); background-size: cover; background-position: center;">&nbsp;</div>
		<!--z-index: 10;-->{% include logo.html size="medium" logo="fragsters" %}
		<div style="z-index: 10;">Fragsters</div>
	</div>
</div>
