<script src="/js/menu.js" type="text/javascript"></script>
<nav class="nav" id="cssmenu">
	<a href="">
		<img class="main-logo" src="/assets/logo_medium.png" alt="Esports Kingdom logo"/>
	</a>
	<div id="menu-button">
		<div class="menu-text">MENU</div>
		<div class="menu-icon"></div>	
	</div>
	<ul id="menu-list">
	<li><a href=''>Home</a></li>
	<li class='active'><a href='#'>Games</a>
		<ul>
			<li><a href='/fps-games'>FPS Games</a>
				<ul>
					<li><a href='/counter-strike'>Counter Strike<img src="/assets/characters/counter-strike.png" alt="Counter-Strike character"></a></li>
					<!--<li><a href='/call-of-duty'>Call of Duty</a></li>-->
					<!--<li><a href='/halo'>Halo</a></li>-->
					<li><a href='/overwatch'>Overwatch<img src="/assets/characters/overwatch.png" alt="Overwatch character"></a></li>
					<li><a href='/pubg'>PUBG<img src="/assets/characters/pubg.png" alt="PUBG character"></a></li>
					<!--<li><a href='/rainbow-six'>Rainbow Six</a></li>-->
				</ul>
			</li>
			<!--<li><a href='/moba-rts-games'>MOBA/RTS Games</a>
				<ul>
					<li><a href='/dota-2'>Dota 2</a></li>
					<li><a href='/heroes-of-the-storm'>Heroes of the Storm</a></li>
					<li><a href='/league-of-legends'>League of Legends</a></li>
					<li><a href='/starcraft'>StarCraft</a></li>
				</ul>
			</li>-->
			<li><a href='/fighting-games'>Fighting Games</a>
				<ul>
					<!--<li><a href='/marvel-v-capcom'>Marvel vs. Capcom</a></li>
					<li><a href='/smash-bros'>Smash Bros.</a></li>
					<li><a href='/street-fighter'>Street Fighter</a></li>
					<li><a href='/tekken'>Tekken</a></li>-->
					<li><a href='/arms'>ARMS</a></li>
					<li><a href='/pokken'>Pokkén Tournament</a></li>
				</ul>
			</li>
			<li><a href='/sports-games'>Sports Games</a>
				<ul>
					<!--<li><a href='/fifa'>FIFA</a></li>
					<li><a href='/madden'>Madden</a></li>
					<li><a href='/nba'>NBA</a></li>-->
					<li><a href='/gt-sport'>GT Sport</a></li>
					<li><a href='/project-cars2'>Project CARS 2</a></li>
					<!--<li><a href='/rocket-league'>Rocket League<img src="/assets/characters/rocket-league.png" alt="Rocket League character"></a></li>-->
				</ul>
			</li>
			<li><a href='/other-games'>Other Games</a>
				<ul>
					<li><a href='/fortnite'>Fortnite</a></li>
					<li><a href='/splatoon2'>Splatoon 2</a></li>
					<!--<li><a href='/hearthstone'>Hearthstone</a></li>-->
					<!--<li><a href='/pokemon'>Pokemon<img src="/assets/characters/pokemon.png" alt="Pokemon character"></a></li>-->
				</ul>
			</li>
		</ul>
	</li>
	<!--<li><a href='#'>Articles</a>
		<ul>
			<li><a href='/features'>Feature Articles</a>
			<ul>
				<li><a href='/game-updates'>Game Updates</a></li>
				<li><a href='/event-previews'>Event Previews</a></li>
				<li><a href='/event-recaps'>Event Recaps</a></li>
				<li><a href='/from-the-event'>From The Event</a></li>
				<li><a href='/interviews'>Interviews</a></li>
				<li><a href='/other-articles'>Other</a></li>
			</ul>
			<li><a href='/weekly'>Weekly Recaps</a>
				<ul>
					<li><a href='/lesser-tournament'>Lesser Tournament Lowdown</a></li>
					<li><a href='/roster-change'>Roster Change Roundup</a></li>
					<li><a href='/this-week-in'>This Week In...</a></li>
				</ul>
			</li>
		</ul>
	</li>-->
	<li><a href='#'>Special Features</a>
		<ul>
			<li><a href='/tcg'>CSGO Trading Cards</a></li>
			<li><a href='/stats'>CSGO Year-End Stats</a></li>
		</ul>
	</li>
</ul>
</nav>