<div class="posts">
  {% assign counter = 0 %}
  {% assign total = paginator.posts.size %}
  {% assign currentblock = total | divided_by: 3.0 | ceil %}
  {% assign nextblock = total | divided_by: 3.0 | floor %}
  {% if nextblock <= 4 %}
	{% assign currentblock = total | divided_by: 2.0 | ceil %}
	{% assign nextblock = total | divided_by: 2.0 | floor %}
	{% if nextblock <= 4 %}
		{% assign currentblock = total | plus: 1 %}
	  {% endif %}
  {% endif %}
  {% for post in paginator.posts %}
    {% assign counter = counter | plus: 1 %}
	{% if post.guest != null %}
	{% assign guest = site.data.mappingsShows | where:"id",post.guest | first %}
	{% endif %}
    <a class="post-link" href="{{ site.baseurl }}{{ post.url | replace: '.html', ''}}">
		<div class="post"{% if post.guest != null %} style="background: #{{ guest.color }}"{% endif %}>
		  <div class="post-boximage-cont">
			<img class="post-boximage" src="/assets/banner/{{ post.image }}-small.jpg" alt="{{ post.title | escape }}"/>
			<img class="post-boximage-square" src="/assets/banner/{{ post.image }}-square.jpg" alt="{{ post.title | escape }}"/>
		  </div>
		  <div class="post-summary-cont">
			<h1 class="post-title">
			  {{ post.title }}
			</h1>
			
			<div class="post-details">
				<div class="post-detaillinks">
					{% if post.guest != null %}
					<div class="post-show pretty-print">Supplied by {{ guest.title }}</div>
					{% else %}
					{% assign category-metadata = site.data.mappingsGames | where:"id",post.category | first %}
					<div class="post-game pretty-print">{{ category-metadata.title }}</div>
					<div class="post-separator">|</div>
					{% assign article-metadata = site.data.mappingsTypes | where:"id",post.tags[0] | first %}
					<div class="post-genre pretty-print">{{ article-metadata.title }}</div>
					<div class="post-separator">|</div>
					{% assign author = site.data.authors | where:"id",post.author | first %}
					<div class="post-show pretty-print">{{ author.firstname }} {% if author.nickname != null %}"{{ author.nickname }}" {% endif %}{{ author.lastname }}</div>
					{% endif %}
				</div>
				{% assign displayTime = post.circa | date: "%Y.%m.%d" %}
				<div class="post-date"><time datetime="{{ post.circa }}" title="{{ post.circa | date: '%d %B %Y at %r' }}" data-format="timeSince">{{ displayTime }}</time></div>
			</div>

			{% if post.sponsor != null %}
			<div class="post-entry-cont">
			{% else %}
			<div class="post-entry-cont empty">
			{% endif %}
				<div class="post-entry">
				  {{ post.excerpt | strip_html }}
				</div>
				{% if post.sponsor != null %}
				<div class="post-sponsor">
				  <span>Presented by</span>
				  <img src="/assets/sponsors/{{ post.sponsor }}-tiny.png" alt="Sponsor logo"/>
				</div>
				{% endif %}
			</div>
		  </div>
		  {% if post.guest != null %}
		  <div class="post-character guest">
			{% assign showName = site.data.mappingsShows | where:"id",post.guest | first %}
			<img src="/assets/characters/guest/{{ post.guest }}.png" alt="{{ showName.title }} logo"/>
		  </div>
		  {% else %}
		  {% assign charPath = post.category | prepend: "/characters/" %}
		  {% assign imageFiles = site.static_files | where_exp: "image","image.path contains charPath" %}
		  {% for image in imageFiles %}
		  <div class="post-character">
			<img src="{{ image.path }}" alt="{{ post.category }} character"/>
		  </div>
		  {% endfor %}
		  {% endif %}
		</div>
	  </a>
	  {% assign c = counter %}
	  {% if c == currentblock %}
	  <div class="post-link-special">
	  <div class="post">
		{% include advertisement.html %}
	  </div>
	  </div>
		{% assign nextblock = total | minus: counter | divided_by: 2.0 | floor %}
		{% assign currentblock = total | minus: counter | divided_by: 2.0 | ceil %}
		{% if nextblock <= 4 %}
		  {% assign currentblock = total | plus: 1 %}
		{% else %}
			{% assign currentblock = currentblock | plus: counter %}
		{% endif %}
	  {% endif %}
  {% endfor %}
</div>
{% include paginator-links.html %}