<div class="posts">
  {% for post in paginator.posts %}
    <a class="post-link" href="{{ site.baseurl }}{{ post.url | replace: '.html', ''}}">
		<div class="post">
		  <div class="post-boximage-cont">
			<img class="post-boximage" src="{{ site.url }}/assets/{{ post.smallimage }}.jpg" alt="{{ post.title }}"/>
		  </div>
		  <div class="post-summary-cont">
			<h1 class="post-title">
			  {{ post.title }}
			</h1>
			
			<div class="post-details">
				<div class="post-detaillinks">
					<div class="post-game pretty-print">{{ post.category }}</div>
					<div class="post-separator">|</div>
					<div class="post-genre pretty-print">{{ post.tags[1] }}</div>
					<div class="post-separator">|</div>
					<div class="post-show pretty-print">{{ post.tags[2] }}</div>
				</div>
				{% assign today = site.time | date: '%s' %}
				{% assign start = post.circa | date: '%s' %}
				{% assign secondsSince = today | minus: start %}
				{% assign minutesSince = secondsSince | divided_by: 60 %}
				{% assign hoursSince = minutesSince | divided_by: 60 %}
				{% assign daysSince = hoursSince | divided_by: 24 %}
				{% if minutesSince == 1 %}
					{% assign displayTime = "a minute ago" %}
				{% elsif minutesSince <= 59 %}
					{% assign displayTime = minutesSince | append: " minutes ago" %}
				{% elsif hoursSince == 1 %}
					{% assign displayTime = "an hour ago" %}
				{% elsif hoursSince <= 23 %}
					{% assign displayTime = hoursSince | append: " hours ago" %}
				{% elsif daysSince == 1 %}
					{% assign displayTime = "a day ago" %}
				{% elsif daysSince <= 6 %}
					{% assign displayTime = daysSince | append: " days ago" %}
				{% else %}
					{% assign displayTime = post.circa | date: "%Y.%m.%d" %}
				{% endif %}
				<div class="post-date"><time datetime="{{ post.circa }}" title="{{ post.circa | date: '%d %B %Y at %r' }}">{{ displayTime }}</time></div>
			</div>

			<div class="post-entry">
			  {{ post.excerpt }}
			</div>
		  </div>
		  {% for image in site.static_files %}
			{% if image.path contains post.category | prepend: "/characters/" %}
		  <div class="post-character">
			<img src="{{ site.url }}/assets/characters/{{ post.category }}.png" alt="{{ post.category }} character"/>
		  </div>
			{% endif %}
		  {% endfor %}
		</div>
	  </a>
  {% endfor %}
</div>
{% include paginator-links.html %}