<div class="posts">
  {% assign counter = 0 %}
  {% for post in paginator.posts %}
    {% assign counter = counter | plus: 1 %}
    <a class="post-link" href="{{ site.baseurl }}{{ post.url | replace: '.html', ''}}">
		<div class="post {{ post.guest }}">
		  <div class="post-boximage-cont">
			<img class="post-boximage" src="{{ site.url }}/assets/banner/{{ post.image }}-small.jpg" alt="{{ post.title | escape }}"/>
			<img class="post-boximage-square" src="{{ site.url }}/assets/banner/{{ post.image }}-square.jpg" alt="{{ post.title | escape }}"/>
		  </div>
		  <div class="post-summary-cont">
			<h1 class="post-title">
			  {{ post.title }}
			</h1>
			
			<div class="post-details">
				<div class="post-detaillinks">
					{% if post.guest != null %}
					{% assign category-metadata = site.data.mappingsShows | where:"id",post.guest | first %}
					<div class="post-show pretty-print">Interview supplied by {{ category-metadata.title }}</div>
					{% else %}
					{% assign category-metadata = site.data.mappingsGames | where:"id",post.category | first %}
					<div class="post-game pretty-print">{{ category-metadata.title }}</div>
					<div class="post-separator">|</div>
					{% assign article-metadata = site.data.mappingsTypes | where:"id",post.tags[1] | first %}
					<div class="post-genre pretty-print">{{ article-metadata.title }}</div>
					<div class="post-separator">|</div>
					{% assign category-metadata = site.data.mappingsGenres | where:"id",category-metadata.parent | first %}
					<div class="post-show pretty-print">{{ category-metadata.title }}</div>
					{% endif %}
				</div>
				{% assign displayTime = post.circa | date: "%Y.%m.%d" %}
				<div class="post-date"><time datetime="{{ post.circa }}" title="{{ post.circa | date: '%d %B %Y at %r' }}" data-format="timeSince">{{ displayTime }}</time></div>
			</div>

			<div class="post-entry">
			  {{ post.excerpt | strip_html }}
			</div>
		  </div>
		  {% if post.guest != null %}
		  <div class="post-character guest">
			{% assign showName = site.data.mappingsShows | where:"id",post.guest | first %}
			<img src="/assets/characters/guest/{{ post.guest }}.png" alt="{{ showName.title }} logo"/>
		  </div>
		  {% else %}
		  {% assign charPath = post.category | prepend: "/characters/" %}
		  {% assign imageFiles = site.static_files | where_exp: "image","image.path contains charPath" %}
		  {% for image in imageFiles %}
		  <div class="post-character">
			<img src="{{ image.path }}" alt="{{ post.category }} character"/>
		  </div>
		  {% endfor %}
		  {% endif %}
		</div>
	  </a>
	  {% assign c = counter | modulo: 5 %}
	  {% if c == 0 %}
	  <div class="post-link post-link-special">
	  <div class="post">
		{% include advertisement.html %}
	  </div>
	  </div>
	  {% endif %}
  {% endfor %}
</div>
{% include paginator-links.html %}