<div class="quiz personality">
	<div class="progress">
		<span class="actual-progress" style="width: 33.3%"></span>
		<span class="text-progress">Question 1 of 10</span>
	</div>
	<div class="question">
		In Star Tours, when your ship gets stopped, what is the dark side looking for? PAD PAD PAD
	</div>
	<div class="answers">
		<div class="answer-box"><p>answer</p></div>
		<div class="answer-box"><p>LONGER ANSWER</p></div>
		<div class="answer-box"><p>REALLY LONG ANSWER</p></div>
		<div class="answer-box"><p>EVEN LONGER ANSWER THAN THAT</p></div>
	</div>
</div>