<table class="rankings">
	<tr class="headers">
		<th>Rank</th>
		<th>Team</th>
		<th class="unimportant-2">Division</th>
		<th class="unimportant-2">Matches</th>
		<th colspan="3">Match W/L</th>
		<th class="unimportant">Points Diff</th>
	</tr>
{% assign rows = include.data | split: "," %}
{% assign num_rows = rows | size | minus: 1 %}
{% for i in (0..num_rows)%}
	<tr>
		{% assign cols = rows[i] | split: "|" %}
		{% assign rank = cols[0] | escape | strip_newlines %}
		{% if cols[1] == rank %}
		<td class="middle">{{ cols[0] }} (NC)</td>
		{% elsif cols[1] < rank %}
		<td class="middle">{{ cols[0] }} (<i class="fa fa-arrow-down" aria-hidden="true"></i> {{ cols[1] }})</td>
		{% elsif cols[1] > rank %}
		<td class="middle">{{ cols[0] }} (<i class="fa fa-arrow-up" aria-hidden="true"></i> {{ cols[1] }})</td>
		{% endif %}
		
		{% assign team_name = cols[2] %}
		<td class="left flex">{% include logo.html size="tiny" logo=team_name %} <img class="flag" src="{{ site.url }}/assets/flags/{{ cols[3] }}.png" alt="{{ cols[3] }} flag"/> {{ site.data.teams[team_name] }}</td>
		
		<td class="middle unimportant-2">{{ cols[4] }}</td>
		
		<td class="middle unimportant-2">{{ cols[5] }}</td>
		
		{% assign losses = cols[5] | minus: cols[6] %}
		<td class="right">{{ cols[6] }}</td>
		<td class="middle tiny">-</td>
		<td class="left">{{ losses }}</td>
		
		{% assign losses = cols[7] | minus: cols[8] %}
		<td class="middle unimportant">{{ losses }}</td>
	</tr>
{% endfor %}
</table>