{% include tier-list-header.html tier=include.tier %}

<div class="tier-cont">
{% assign teams = include.teams | split: '|' %}
{% assign countries = include.country | split: '|' %}
{% assign shortnames = include.shortnames | split: '|' %}
{% assign changes = include.change | split: '|' %}
{% assign leagues = include.leagues | split: '|' %}
{% assign length = teams | size %}
{% assign length = length | minus: 1 %}
{% for index in (0..length)%}
	{% assign t = teams[index] %}
	{% assign l = leagues[index] %}
	{% assign s = shortnames[index] %}
	{% assign c = countries[index] %}
	{% assign ch = changes[index] %}
	{% include tier-list-team.html team=t shortname=s country=c change=ch league=l %}
{% endfor %}
</div>