{% for post in site.tags[include.tag] limit:1 %}
	{% assign date = post.date %}
{% endfor %}

<a href="/{{ include.link }}">
	{% if include.disabled == "true" %}
	<div class="tier-button disable">
	{% else %}
	<div class="tier-button">
	{% endif %}
		<div class="button-background" style="background-image: url('/assets/gamebgs/{{ include.game }}.jpg')"></div>
		{% include logo.html size="medium" logo=include.game %}
		<span class="game-title">{{ site.data.teams[include.game] }}</span>
		{% if include.disabled == "true" %}
		<span class="latest-date">Coming Soon</span>
		{% else %}
		<span class="latest-date">Latest Rankings<br/>{{ date | date: "%-d %B %Y" }}</span>
		{% endif %}
	</div>
</a>