.posts {
	.post-link {
		.post-fake {
			margin-bottom: 8px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			line-height: 1em !important;
			
			.makepage-cont {
				width: 400px;
				display: flex;
				justify-content: space-between;
				
				input {
					width: 60%;
				}
				
				select {
					padding: 1px;
					width: calc(60% + 4px);
				}
			}
			
			.makepage-buttons {
				display: flex;
				
				button {
					padding: 4px;
					margin: 8px;
					width: 100px;
					display: flex;
					flex-direction: column;
					align-items: center;
					cursor: pointer;
				}
			}
			
			textarea {
				width: 100%;
			}
			
			&:hover {
				margin-top: 0px !important;
				box-shadow: 0 3px 0 rgba(0,0,0,0.1) !important;
			}
		}
	}
}

.image-editor {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	.thumbnail{
		max-height: 240px;
		max-width: 427px;
		margin: 10px; 
		float: left;
	}
	
	#clear{
	   display: none;
	}
	
	#result {
		border: 4px dotted #cccccc;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		float: right;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	
	.cropit-preview {
		background-color: #f8f8f8;
		background-size: cover;
		border: 1px solid #ccc;
		border-radius: 3px;
		margin-top: 7px;
		
		&.cropit-preview-1 {
			width: 950px;
			height: 633px;
		}
		
		&.cropit-preview-2 {
			width: 200px;
			height: 100px;
		}
		
		&.cropit-preview-3 {
			width: 100px;
			height: 100px;
		}
	}
	
	.cropit-preview-image-container {
		cursor: move;
	}

	.image-size-label {
		margin-top: 10px;
	}

	input, .export {
		display: block;
	}

	button {
		margin-top: 10px;
	}
	  
	.cropit-image-zoom-input {
		  width: 50%;
	}
}