.page-main {
	display: flex;
	flex-direction: row;
	max-width: 1320px;
	margin: 0 auto;
	
	@media screen and (max-width: $break-large) {
		flex-direction: column;
	}
	
	.post-container {
		display: flex;
		flex-direction: column;
		margin-right: 20px;
		line-height: 1.6;
		overflow: hidden;
		position: relative;
		
		@media screen and (max-width: $break-large) {
			margin-right: 0px;
		}
		
		.post-banner {
			height: 300px;
			overflow: hidden;
			border-radius: 5px 5px 0px 0px;
			overflow: hidden;
			background: #FFF;
			
			@media screen and (max-width: $break-tiny) {
				height: 200px;
			}
			
			.post-banner-image {
				width: calc(100% + 4px);
				height: calc(100% + 4px);
				margin-top: -2px;
				margin-left: -2px;
				opacity: 0.5;
				object-fit: cover;
				background-repeat: no-repeat;
				background-position: center center;
				filter: grayscale(100%) brightness(70%) contrast(120%) blur(2px);
			}
			
			&::after {
				content: '';
				width: 100%;
				height: 300px;
				border-radius: 5px 5px 0px 0px;
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				background: linear-gradient(to right, #c9524b, #360940);
				mix-blend-mode: screen;
				
				@media screen and (max-width: $break-tiny) {
					height: 200px;
				}
			}
		}
		
		.post-title {
			font-size: 2em;
			text-transform: uppercase;
			text-shadow: 0 0 18px rgba(black, 0.25);
			color: white;
			height: 200px;
			font-family: 'Bungee';
			width: calc(100% - 100px);
			text-align: center;
			padding: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0;
			
			@media screen and (max-width: $break-tiny) {
				height: 150px;
				width: calc(100% - 50px);
				text-align: center;
				padding: 25px;
				font-size: 1.75em;
			}
			
			@media screen and (max-width: $break-supertiny) {
				font-size: 1.4em;
			}
			
			@media screen and (max-width: $break-micro) {
				font-size: 1.2em;
			}
			
			.post-title-text {
				max-width: 520px;
			}
		}
		
		.post-details {
			display: flex;
			justify-content: space-between;
			padding: 50px;
			padding-top: 10px;
			padding-bottom: 20px;
			background: #FFF;
			
			@media screen and (max-width: $break-tiny) {
				flex-direction: column;
				padding: 20px;
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 0.95em;
			}
		}
		
		.post-sponsor {
			width: 100%;
			font-size: 0.8em;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0px 50px;
			background: #FFF;
			
			span {
				margin-right: 10px;
			}
			
			@media screen and (max-width: $break-tiny) {
				padding: 0px 20px;
			}
		}
		
		.post-content {
			padding: 50px;
			padding-top: 0px;
			margin-bottom: 20px;
			border-radius: 0px 0px 5px 5px;
			box-shadow: 0 3px 0 rgba(0,0,0,0.1);
			background: #FFF;
			
			@media screen and (max-width: $break-tiny) {
				padding: 20px;
				padding-top: 0px;
				font-size: 0.95em;
			}
			
			p {
				padding-top: 10px;
			}
			
			.interview-question,
			.subheading {
				font-weight: bold;
			}
			
			.quote {
				font-style: italic;
				margin-left: 35px;
				font-size: 0.9em;
			}
			
			iframe.omnyfm {
				padding-top: 10px;
			}
			
			.media {
				padding-top: 10px;
				font-style: italic;
				font-size: 0.9em;
				width: 100%;
				display: flex;
				text-align: center;
				flex-direction: column;
				align-items: center;
				
				img, .iframe-cont {
					max-width: 100%;
					height: auto;
					max-height: 360px;
					position: relative;
				}
				
				iframe {
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0px;
					left: 0px;
				}
				
				.tweet {
					max-width: 100%;
				}
				
				.carousel {
					width: 100%;

					.slides {
						.slick-slide {
							display: flex !important;
							justify-content: center;
							align-items: center;
							outline: 0 !important;
							font-size: 40px;
						}
						
						.slick-prev:before, .slick-next:before { 
							color:red !important;
						}
						
						&[data-builtin=true] {
							display: flex;
							align-items: center;
						}
					}
					
					.pagination__button {
						cursor: pointer;
						font-style: normal;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 40px;
						height: 40px;
						margin: 4px;
						display: flex;
						background: #EEE;
						border-radius: 5px;
						box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
						line-height: 1.6;
						transition: 0.15s;
						position: relative;
						overflow: hidden;
						font-weight: bold;
						font-size: 1.2em;
						
						&:hover {
							box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
							margin-top: 6px;
							margin-bottom: 2px;
						}
						
						&.pagination__button_nocap {
							flex-shrink: 0;
							width: 20px;
						}
						
						&.slick-disabled {
							cursor: not-allowed;
							background: #ccc;
							color: #fff;
						}
					}
					
					.controls {
						display: flex;
						width: 100%;
						
						.captions {
							flex: 1;
							max-width: calc(100% - 100px);
							padding: 10px;
							margin-top: 2px;
							
							.caption {
								outline: 0 !important;
							}
						}
					
						.pagination {
							display: flex;
							margin-top: 2px;
						}
					}
				}
			}
			
			.teamlist {
				margin-left: 35px;
				font-size: 0.9em;
				
				.player-name {
				}
			}
			
			.post-footer {
				padding-top: 10px;
				font-style: italic;
			}
			
			.tier-title-cont {
				background: url('/assets/tier/tier-line.png');
				width: calc(100% - 40px);
				padding-left: 20px;
				adding-right: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-size: 100% 100%;
				margin-bottom: 10px;
				margin-top: 10px;
				
				.tier-title {
					color: #222222;
					background: white;
					padding-left: 20px;
					padding-right: 20px;
					font-family: 'Bowlby One SC', cursive;
					font-size: 26px;
					height: 20px;
					display: flex;
					align-items: center;
				}
			}
			
			.tier-cont {
				display: flex;
				align-content: center;
				justify-content: center;
				flex-wrap: wrap;
				
				.tier-team-wrapper {
					height: 120px;
					width: 100px;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 2px solid #222;
					border-radius: 10px;
					flex-direction: column;
					margin: 10px;
					position: relative;
					overflow: hidden;
					
					.tier-team-bg {
						opacity: 0.25;
						position: absolute;
						top: -10px;
						left: 0;
						width: 100%;
						height: calc(100% + 20px);
						background-size: cover; 
						background-position: center;
					}
					
					.logo {
						z-index: 1;
					}
					
					.tier-team-name {
						z-index: 1;
					}
					
					.tier-change {
						position: absolute;
						top: 2px;
						right: 2px;
						height: 20px;
						width: 20px;
						color: white;
						border-radius: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						z-index: 2;
						
						.fas {
							margin-left: 1px;
						}
					}
					
					.tier-change-up {
						background: #19c459;
					}
					
					.tier-change-down {
						background: #ff492d;
					}
					
					.tier-change-debut {
						background: #d8d833;
						font-size: 0.7em;
					}
				}
			}
		}
	}
	
	.post-related {
		width: 300px;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
		
		@media screen and (max-width: $break-large) {
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
			width: 100%;
		}
		
		@media screen and (max-width: $break-tiny) {
			padding-left: 15px;
			padding-right: 15px;
			width: calc(100% - 30px);
		}
		
		h1 {
			margin-bottom: 6px;
			font-weight: bold;
			font-size: 1.2em;
			
			@media screen and (max-width: $break-large) {
				display: none;
			}
		}
		
		a {
			text-decoration: none;
			color: black;
			
			@media screen and (max-width: $break-supertiny) {
				width: 100%;
			}
		
			.post {
				display: flex;
				flex-direction: column;
				margin-bottom: 20px;
				padding: 10px;
				background: #FFF;
				border-radius: 5px;
				box-shadow: 0 3px 0 rgba(0,0,0,0.1);
				line-height: 1.6;
				transition: 0.15s;
				font-size: 0.95em;
				line-height: 1.3em;
				
				&:hover {
					box-shadow: 0 1px 0 rgba(0,0,0,0.1);
					margin-top: 2px;
					margin-bottom: 18px;
				}
				
				@media screen and (max-width: $break-large) {
					width: 250px;
					margin-left: 10px;
					margin-right: 10px;
					margin-bottom: 10px;
					
					&:hover {
						box-shadow: 0 1px 0 rgba(0,0,0,0.1);
						margin-top: 2px;
						margin-bottom: 8px;
					}
				}
				
				@media screen and (max-width: $break-supertiny) {
					width: calc(100% - 40px);
				}
				
				.post-image {
					flex-shrink: 0;
					width: 100%;
					margin-bottom: 8px;
				}
				
				&.plug-post,
				&.sponsor-post {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0;
					overflow: hidden;
					margin-left: 0;
					margin-right: 0;
					/*Desktop: 300x250 medium rectangle*/
					height: 250px;
					
					.post-image {
						margin: 0;
					}
					
					.plug-image,
					.sponsor-image {
						display: block;
						
						@media screen and (max-width: $break-large) {
							display: none;
						}
					}
					
					.plug-image-wide,
					.sponsor-image-wide {
						display: none;
						
						@media screen and (max-width: $break-large) {
							display: block;
						}
					}
					
					@media screen and (max-width: $break-large) {
						width: 100%;
						margin: 0 auto;
						margin-bottom: 10px;
						/*Mobile: 320x100 large mobile banner*/
						height: 120px;
					
						&:hover {
							margin-top: 2px;
							margin-bottom: 8px;
						}
					}
				}
			}
			
			&.plug-link,
			&.sponsor-link {
				@media screen and (max-width: $break-large) {
					width: 100%;
				}
			}
		}
	}
}

.logoheadline {
	display: flex;
    align-items: center;
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 1.5em;
	
	img {
		margin-right: 8px;
	}
}
