.single-page-cont {
    display: flex;
    flex-direction: column;
    max-width: 1060px;
    margin: 0 auto;
	
	.switch-button-cont {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		
		.switch-button {
			margin: 6px;
			margin-bottom: 10px;
			text-decoration: none;
			flex: 0 0 auto; 
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 0.5em;
			color: black;
			height: 42px;
			width: 42px;
			background: #FFF;
			border-radius: 5px;
			box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
			line-height: 1em;
			font-size: 0.9em;
			transition: 0.15s;
			position: relative;
			overflow: hidden;
			cursor: pointer;
			
			&:hover {
				box-shadow: 0 1px 0 rgba(0,0,0,0.1);
				margin-top: 6px;
				margin-bottom: 6px;
			}
		}
	}
	
	.heading-cont {
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;
		margin-top: 8px;
		margin-bottom: 8px;
		position: relative;
		
		.heading {
			display: none;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
		}
		
		.heading-placeholder {
			display: block;
		}
	}
	
	.graph-cont {
		display: flex;
		justify-content: space-around;
		
		@media screen and (max-width: $break-small) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		
		.graph {
			padding: 16px;
			margin: 6px;
			text-decoration: none;
			flex: 0 0 auto; 
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 0.5em;
			color: black;
			background: #FFF;
			border-radius: 5px;
			box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
			line-height: 1em;
			font-size: 1em;
			transition: 0.15s;
			position: relative;
			overflow: hidden;
			position: relative;
			
			@media screen and (max-width: $break-supertiny) {
				width: calc(100% - 64px) !important;
				font-size: 0.9em;
			}
				
			.graph-actual {
				position: absolute;
				top: 0px;
				left: 0px;
				display: none;
				padding: 16px;
				height: calc(100% - 32px);
				width: calc(100% - 32px);
				
				table {
					width: 100%;

					th {
						font-weight: bold;
						padding-bottom: 4px;
					}
					
					td, th {
						text-align: center;
						vertical-align: middle;
						
						.logo-small {
							padding-top: 4px;
							padding-bottom: 4px;
						}
					}
				}
			}
		}
		
		.graph-teams {
			width: 300px;
			height: 542px;
		}
		
		.graph-maps {
			width: 300px;
			height: 300px;
		}
	}
	
	&.single-page-cont-tiers {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		a {
			width: 40%;
			max-width: 280px;
			min-width: 120px;
			height: 180px;
			padding: 8px;
			text-decoration: none;
			color: black;
		
			@media screen and (max-width: $break-tiny) {
				font-size: 0.9em;
			}
			
			.tier-button {
				height: calc(100% - 10px);
				width: calc(100% - 10px);
				display: flex;
				flex-direction: column;
				padding: 5px;
				background: transparent;
				border-radius: 5px;
				box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
				line-height: 1.6;
				transition: 0.15s;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				margin-bottom: 3px;
				text-align: center;
				align-items: center;
				justify-content: center;
				
				&:not(.disable):hover {
					box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
					margin-top: 2px;
					margin-bottom: 1px;
				}
				
				&.disable {
					filter: grayscale(100%);
					cursor: default;
					
					span {
						color: #555;
					}
					
					img {
						opacity: 0.3;
					}
				}
				
				.button-background {
					background-size: cover;
					position: absolute;
					top: -10px;
					left: -10px;
					height: calc(100% + 20px);
					width: calc(100% + 20px);
					filter: blur(1.5px) saturate(60%) opacity(0.5);
					-webkit-filter: blur(1.5px) saturate(60%) opacity(0.5);
					z-index: -10;
				}
				
				.game-title {
					margin-top: 6px;
					margin-bottom: 4px;
					font-weight: bold;
					font-size: 1.2em;
					line-height: 1.2em;
				}
				
				.latest-date {
					font-style: italic;
					font-size: 0.8em;
					line-height: 1.2em;
				}
			}
		}
	}
}