.main {
    position: relative;
	
	.masked {
		-webkit-clip-path: url(#myClip);
		clip-path: url(#myClip);
	}
	
	.single-page-cont.single-page-cont-tcg {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		
		.tcg-preview {
			max-width: 20vw;
			cursor: pointer;
		}

		a {
			width: 120px;
			padding: 8px;
			
			.tcg-button {
				display: flex;
				padding: 20px;
				background: #FFF;
				border-radius: 5px;
				box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
				line-height: 1.6;
				transition: 0.15s;
				position: relative;
				overflow: hidden;
				cursor: pointer;
				margin-bottom: 3px;
				
				&:hover {
					box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
					margin-top: 2px;
					margin-bottom: 1px;
				}
				
				&.disable {
					filter: grayscale(100%);
					
					img {
						opacity: 0.3;
					}
				}
			}
		}
	}
	
	.cardDisplay {
		position: fixed;
		width: 100vw;
		height: calc(100vh - 65px);
		top: 65px;
		left: 0px;
		background: rgba(0, 0, 0, 0.6);
		color: white;
		display: none;
		align-items: center;
		justify-content: center;
		
		.carousel {
			width: calc(100% - 100px);
			
			.slick-slide {
				outline: none;
				
				.tcg-large {
					max-height: 100%;
					max-width: 100%;
					padding: 8px;
					text-align: center;
				}
			}
		}
	}
}