---
layout: base
type: index
title: Counter-Strike Major Flowcharts
---

<h2 class="autopage-title">Counter-Strike Major Flowcharts</h2>
<div class="single-page-cont single-page-cont-tcg">
	<a href="/charts/london18">
		<div class="tcg-button">
			{% include logo.html size="medium" logo="faceitlondon18" %} 
		</div>
	</a>
	<a href="/charts/boston18">
		<div class="tcg-button">
			{% include logo.html size="medium" logo="eleagueboston18" %} 
		</div>
	</a>
	<a href="/charts/krakow17">
		<div class="tcg-button">
			{% include logo.html size="medium" logo="pglkrakow17" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="eleagueatlanta17" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="eslcologne16" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="mlgcolumbus16" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="dreamhackclujnapoca15" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="eslcologne15" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="eslkatowice15" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="dreamhackwinter14" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="eslcologne14" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="eslkatowice14" %} 
		</div>
	</a>
	<a href="#" title="Coming Soon">
		<div class="tcg-button disable">
			{% include logo.html size="medium" logo="dreamhackwinter13" %} 
		</div>
	</a>
</div>