---
layout: post
title: "Faker, Cloud9 and Overwatch come up big at The Game Awards 2017"
fulltitle: "Faker, Cloud9 and Overwatch come up big at The Game Awards 2017"
category: multiple-games
tags: features other-articles other-games 
image: game-awards17
author: gradyhooker
headercredit:
  - name: Riot Games' on Flickr
    link: https://www.flickr.com/photos/lolesports/
circa: 2017-12-08 22:00:00 +1300
---
<p>Esports took center stage during the fourth incarnation of Geoff Keighley's award ceremony. Three awards at the event were dedicated to esports; 'Best eSports Game', 'Best eSports Team' and 'Best eSports Player' as voted on by the fans.</p>

{% include image.html image="/assets/game-awards17-esportsgame.jpg" caption="Screencap of the 'Best eSports Game' nominees from The Game Awards" %}

<p>The 'Best eSports Game' category saw last year's reigning champion and 'Game of the Year' Overwatch come up against four older games who are no stranger to the world of esports, including two properties from Valve. Blizzard seem to be on a roll with the launch of the Overwatch League on the horizon and no signs of the game slowing down, including constant balance patches and new characters such as Doomfist and Moria. It will be interesting to see if Overwatch can compete in this award again next year with the rise of esports-focused games such as PUBG bursting onto the scene, despite Blizzard's unwavering support of this game as a title and a esports scene.</p>

{% include image.html image="/assets/game-awards17-esportsteam.jpg" caption="Screencap of the 'Best eSports Team' nominees from The Game Awards" %}

<p>We saw yet another repeat performance in the 'Best eSports Team' category with Cloud9 topping the list. Cloud9 and SK Telecom T1 were the only teams to be nominated for this award in both 2016 and 2017, SK Telecom T1's nominations actually dated back to 2015. Cloud9 has become a recognizable brand in the esports world and that includes boasting rosters in; League of Legends, Counter-Strike, Overwatch, Hearthstone, Super Smash Bros., Rocket League, PUBG and Vain Glory. The brand also consists of dedicated and popular streamers such as 'Trending Gamer' award nominee shroud and many others.</p>

{% include image.html image="/assets/game-awards17-esportsplayer.jpg" caption="Screencap of the 'Best eSports Player' nominees from The Game Awards" %}

<p>After loses in 2016 and 2015, Lee "Faker" Sang-hyeok came back with a vengeance this year to sweep the 'Best eSports Player' category and take home the award statue. He wasn't able to attend due to being at All-Stars 2017, but was able to accept the award live on the stream from the American LCS studios. Faker hails from South Korea and represents the SK Telecom T1 team in League of Legends, leading them to victory in three separate $1,000,000 World Championship events (and runner-up at another). He plays the Mid Lane position and is generally perceived to be the best League of Legends player active in the scene, but now he has a trophy to prove not only that, but that he is the best esports player of the year.</p>