---
layout: post
title: 'CSGO Tier Rankings: ELEAGUE Premier & IEM Shanghai'
fulltitle: 'CSGO Tier Rankings:<br/>ELEAGUE Premier & IEM Shanghai'
tweettext: '#ELEAGUEPremier saw 8 of the top teams in #CSGO go head-to-head and nothing out of the ordinary happened, then #IEMShanghai just ended and again nothing shocked us or shook up the rankings #Esports'
category: counter-strike
tags: features tier-rankings fps-games esportskingdom palmtoppitbull gradyhooker
image: csgo-tiers-premier-shanghai
author: esportskingdom
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2018-08-06 19:00:00 +1200
---
<p>ELEAGUE Premier saw 8 of the top teams in the Counter-Strike world go head-to-head and nothing out of the ordinary happened, so we delayed our rankings until after the next big tournament. Then IEM Shanghai just ended and again nothing shocked us or shook up the rankings.</p>

<p>Tier Rankings compiled by Jamie "PalmtopPitbull" Wert (<a href="https://twitter.com/PalmtopPitbull">@PalmtopPitbull on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="faze|navi|mousesports|liquid" country="eu|ua|eu|us" shortnames="FaZe|NaVi|mousesports|Liquid" change="|||" %}

{% include tier-list.html tier="B" teams="fnatic|mibr|nrg|north" country="se|br|us|dk" shortnames="Fnatic|MiBR|NRG|North" change="|||" %}

{% include tier-list.html tier="C" teams="g2|cloud9|nip|tyloo|spacesoldiers|hellraisers|optic|big|renegades|ence" country="fr|us|se|cn|tk|ua|dk|de|au|fi" shortnames="G2|Cloud9|NiP|TyLoo|Space Sol.|HellRaisers|OpTic|BIG|Renegades|ENCE" change="|||||||||" %}

{% include tier-list.html tier="D" teams="ago-2018|heroic|redreserve-2018|gambit|grayhound|rogue|complexity|imperial|kinguin|luminosity|sprout" country="pl|eu|se|kz|au|us|us|eu|pl|br|dk" shortnames="AGO|Heroic|Red Reserve|Gambit|Grayhound|Rogue|compLexity|Imperial|Kinguin|Luminosity|Sprout" change="||||||||||" %}

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
