---
layout: post
title: "Road to the Major - HellRaisers"
fulltitle: "Road to the Major<br/>HellRaisers"
category: counter-strike
tags: features roadtothemajor fps-games palmtoppitbull
image: roadtothemajor-hellraisers
author: palmtoppitbull
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2018-08-30 7:30:00 +1200
---
<p>Our Road to the Major series continues in the CIS Minor with HellRaisers. Though Vladyslav 'bondik' Nechyporchuk was loaned to TyLoo for a short period, this team has been together since August, 2017. The roster consists of:</p>

{% include teamlist.html logo="hellraisers" players="Kirill 'ANGE1' Karasov|Vladyslav 'bondik' Nechyporchuk|Bence 'DeadFox' Böröcz|Özgür 'woxic' Eker|Issa 'ISSAA' Murad" country="UA|UA|HU|TR|JO" %}

{% include image.html image="roadtothemajor-hellraisers-chart" caption="HellRaisers' player's history at the CSGO majors" %}

<p class="subheading">CIS Closed Qualifier</p>

<p>HellRaisers was one of 8 teams invited without having to go through the Open Qualifiers.</p>

<p>They went 3-0 in matches in the Closed Qualifier. They started with a 2-0 sweep of 5balls, 16-14 on Overpass, and 16-9 on Inferno. They played better on Inferno, 5balls pick, than they did on their own map pick.</p>

<p>Their second match was with eL'quvet. This was another 2-0 sweep, with HR winning Train 16-5 and Mirage 11-4. They started on T side both maps, jumping out to 10-5 and 11-4 leads.</p>

<p>HellRaisers drew Nemiga for their third match, and once again swept their opponents 2-0. On Nemiga's pick of Mirage, HellRaisers embarrassed their opponents 16-1. Though Nemiga put up a little more fight on Train, HR still won 16-9, securing a top seed in the CIS Minor Group Stage.</p>

<p class="subheading">CIS Minor</p>

<p class="subheading">Group Stage</p>

<p>HellRaisers secured the top seed in Group A. They shared the group with pro100, PLINK-TECH and Nemiga Gaming. Unfortunately Nemiga could not get their visas approved and had to drop out. This gave HR a bye for their first match of the Group Stage.</p>

<p>In the second match of the group HellRaisers faced PLINK-TECH on Mirage. They comfortably beat PLINK 16-11 to secure a spot in the Playoffs.</p>

<p>Their next match put Team Spirit up against forZe, a team they had swept in the Closed Qualifier. This game was a bit closer than the first match of the Groups, but on Mirage, Spirit jumped out to a 5-10 lead on T side. Though they gave up 6 rounds on CT side, they also closed the match out with 6 of their own to win the match 11-16. This locked up a spot in the playoffs for Team Spirit.</p>

<p class="subheading">Upper Bracket Semifinals</p>

<p>HellRaisers drew AVANGAR for their first match in the playoffs. Map 1 was HR's pick of Dust II. They chose right, as they jupmed out to an 11-4 first half lead on CT side and then closed the game out with 5 straight rounds in the second half. This gave them the map 16-4 and the match lead 1-0 headed to Cache.</p>

<p>AVANGAR chose Cache for map 2, and HR looked lost on T side, giving up 11 rounds to AVANGAR in the first half. Luckily they turned it all around in the second half, winning 12 of 14 rounds to sweep the match 2-0 with a 16-13 victory. This gave HR a spot in the Upper Bracket final against pro100.</p>

<p class="subheading">Upper Bracket Final</p>

<p>Map 1 of the UB Final was HellRaisers choice, and they picked Dust II. The first half saw HR on CT side, and taking the first 7 rounds. However, pro100 came back and HR ended up barely winning the half 7-8. They duplicated this result in the second half to win the match 14-16.</p>

<p>Pro100 chose Inferno for the second map. HellRaisers fell behind in the first half 9-6, but on CT side in the second half they dominated 2-10. This gave them an 11-16 map win and yet another 2-0 sweep. This sweep clinched a spot in the Grand Final and the New Challengers Stage of the Major.</p>

<p class="subheading">Grand Final</p>

<p>Team Spirit was HellRaisers opponent for the Grand Final, and they chose Overpass as the first map. It did not start well for them, as HellRaisers took a 10-5 first half lead on CT side. Spirit managed a hard fought comeback in the second half, but fell just short, losing to HellRaisers 16-14.</p>

<p>Mirage was HellRaisers choice for map 2. HellRaisers fell behind early 5-10, and that was a death sentence for the map. Spirit easily closed the map out in the second half by winning 6 of 7 rounds to win 6-16, and send the Grand Final to the decider map of Dust II.</p>

<p>On Dust II, HellRaisers again let Team Spirit took a commanding first half lead on T side, 3-12. They managed to come back though, winning 13 or 15 rounds on their T side, 16-14. This gave them the match win 2-1 and 1st place in the CIS Minor.</p>

{% include image.html image="roadtothemajor-hellraisers-issaa" caption="HellRaisers' Jordanian player ISSAA, at DreamHack Masters Stockholm 2018" credit="HLTV.org" creditlink="https://www.hltv.org/" %}

<p class="subheading">Year to Date</p>

<p>2018 has been an up and down year, but overall HellRaisers has performed admirably in mid-sized international events They won the Minor, and Bets.net Masters:Season 1, placed 2nd at DreamHack Open Tours, and placed 3rd/4th at V4 Future Sports Festival-Budapest.</p>

<p class="subheading">Player to Watch</p>

<p>Issa 'ISSAA' Murad</p>

<p>While Özgür 'woxic' Eker is the muscle of the team, ISSAA is the heart of the team. As he performs, so does the team. He must be consistent and have a few exceptional matches in order to propel the team through a good run, especially if there are any visa problems for woxic.</p>