---
layout: post
title: "ESL Pro League Season 7 Finals - Group Red Preview"
fulltitle: "ESL Pro League Season 7 Finals - Group Red Preview"
category: counter-strike
tags: event-previews fps-games palmtoppitbull
image: epl-finals-red-preview
author: palmtoppitbull
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2018-05-13 17:45:00 +1200
---
<p>The ESL Pro League regular season is all wrapped up, IEM Sydney is over, and the next stop on the LAN circuit is the Verizon Theater for those teams that qualified for the Pro League Finals.</p>

<p>Yesterday we covered the stronger <a href="2018-05-epl-finals-yellow-preview">Yellow Group</a>, and today is the Red Group’s turn!</p>

{% include image.html image="epl-finals-red-preview-liquid" caption="Team Liquid celebrating a win at DreamHack Masters Marseille 2018" credit="HLTV.org" creditlink="https://www.hltv.org/" %}

<p class="subheading">The Teams</p>
{% include team-info.html logo="liquid" text="Liquid comes out of NA as the #1 seed, blowing away all the competition with a 20-2 (1-1 OT) record and 60 points. They did not make it to Sydney as they were knocked out in the North American qualifier in the Semifinals by NRG in 3 maps. At DH Marseilles they were removed in the group stage by Gambit, 1 game to 2. However, despite that, they have performed well prior to Marseilles. They managed a 3rd/4th at IEM Katowice and a 4rd at Starladder in Kiev over FaZe Clan in 3 games. Their lone LAN win came at cs_summit 2 over the old Cloud9 roster in 5." %}

<p>Player to Watch: The key to Liquid's future successes will be Epitacio 'TACO' de Melo finding his place in the team. His first 2 weeks with the team were rough, as he averaged a 0.92 HLTV rating in the seven maps he played against top-10 opponents. He only performed marginally better against 3rd tier NA teams with a .98 average HLTV rating over 4 maps. Now that he has had more time to practice with the team, if he cannot show up and perform, the 1st seed could see another embarrassing group stage exit.</p>

{% include team-info.html logo="nip" text="The notorious NiP are the 2 seed from Europe, and they finished the regular season with a 17-9 (1-2 OT) record. They have not had the same success at LAN though, as they haven't made it past the quarterfinals of the past 2 LANs they have attended, DH Masters Marseilles and IEM Katowice. They need to show up at LAN with this new lineup if they want to be taken seriously." %}

<p>Player to Watch: The AWP is once again the focus of this section, as William “draken” Sundin is who you will want to focus on to see how the team will perform. At Marseilles he had a horrible showing, eclipsing 1.00 HLTV rating on only 2 maps. If his team is to have LAN success they need his AWP to shine in order to give the others room to breathe and play their game.</p>

{% include team-info.html logo="optic" text="The NA 3 seed has many familiar faces, but since the team went full Dane, they just haven't played on the International scene together to show what they are capable of. So all we have to go off of is their online play. In the Regular Season they finished 14-8(1-0 OT) and 41 points, and most of that record is with Peter “stanislaw” Jarguz and Shahzeeb “ShahZaM” Kahn on the team. They will have to weather many questions about the drama that unfolded late in April and keep their focus on the games if they want to have success." %}

<p>Player to Watch: Marco “Snappi” Pfeiffer and Jakob “JUGi” Hansen have only had 2 maps with the team in competition. In those two maps, against eUnited, Snappi only managed a 0.51 and 0.61 HLTV rating. Even for an IGL this is atrocious, and if they hope to even get close to a single map win, OpTic will require him to become an average player at the very least.</p>

{% include image.html image="epl-finals-red-preview-spacesoldiers" caption="Space Soldiers' MAJ3R screaming in celebration at WESG 2017 World Finals" credit="HLTV.org" creditlink="https://www.hltv.org/" %}

{% include team-info.html logo="spacesoldiers" text="Space Soldiers, the pride of Turkey took the 5th seed in Europe despite being in contention for 1st throughout much of the regular season. They finished with a 15-11 (0-1 OT) record and 46 points. Though they had an unfortunate group stage exit in Marseilles, the Space Soldiers managed a 2nd place finish at WESG, losing to Fnatic, 1-2. Before that they were eliminated in groups at the Boston Major by mouz." %}

<p>Player to Watch: Who other than LANTARES would be the player to watch for Space Soldiers at LAN? Can “XANTARES” Dörtkardeş has recently performed well at LAN, until he did not show up at DreamHack Marseilles. There he had a horrible 0.83 HLTV rating. He is a pillar of the Turkish scene and his team. They need him to perform to get the results they are looking for.</p>

{% include team-info.html logo="renegades" text="The Ameristralian majority of 	Renegades performed took the 5 seed this season in NA, with a 13-9 (2-3 OT) record and 40 points accumulated. However, their high point recently came at IEM Sydney where they were overwhelmingly the crowd's favorite. On the way to a hard-fought Quarterfinals loss to mouz, they beat FaZe Clan, the eventual champs in the group stage in a best of 3, as well as reminding fellow Aussies on Legacy who is the premier Australian side." %}

<p>Player to Watch: Noah “Nifty” Francis is the man who managed to pull Renegades within striking distance of beating mouz in the Quarterfinals of IEM Sydney. His name was chanted by the crowd as they bowed down to his prowess in a fifty kill map against mouz, and he might as well be an adopted Australian now. Though he performed well in a single map against mouz, he was relatively absent the rest of Sydney with a 0.88 HLTV rating(0.97 including his 1.56 map against mouz). Nifty must show up on his home turf and, at the very least, put up average numbers.</p>

{% include team-info.html logo="astralis" text="The DreamHack Marseilles champs made it to the Grand Finals again at IEM Sydney, but this time they couldn't convert it to another title as they were swept by FaZe Clan in 3 games. Though it was a sweep, every map but the third was very close. As for the regular season, Astralis finished as the 5 seed from Europe, amassing a 15-11 (2-2 OT) record and 45 points." %}

<p>Player to Watch: Astralis' AWPer, Nicolai “dev1ce” Reedtz is the player with the most impact on the team. During the Grand Finals in Sydney against FaZe, he even showed he can out AWP GuardiaN on occasion. His ability to lock down sites will be key to the continued success of Astralis in Dallas.</p>

{% include image.html image="epl-finals-red-preview-sk" caption="The players of SK Gaming watching from the crowd at IEM Sydney 2018" credit="HLTV.org" creditlink="https://www.hltv.org/" %}

{% include team-info.html logo="skgaming" text="The Brazilian supermen have been less than super in their last two appearances at International LAN's since the addition of Jacky “Stewie2K” Yip. Both events they bowed out in the group stages, and looked very sloppy in team play." %}

<p>Player to Watch: Jacky “Stewie2K” Yip is the man to watch. If he cannot find his place in the SK scheme, we may be seeing yet another roster change from the Brazilians. He showed minor flashes of his Cloud9 play in Sydney, but not enough to say that he has finally integrated with the team.</p>

{% include team-info.html logo="grayhound" text="A welcome surprise at IEM Sydney, Grayhound Gaming knocked SK Gaming out in the lower bracket of Group A in a best of 3 before falling to FaZe in a hard fought best of 3. With no real International LAN experience to show before this, they came into the tourney relative unknowns. Now with one under their belt, they will look to continue their upsets in Dallas." %}

<p>Player to Watch: Though Olivier “DickStacy” Tierney is more of the fan-favorite, the player to watch for the team is Sean “Gratisfaction” Kaiwai. The only Kiwi on the team, Gratisfaction is also currently the best performing member of the team, and must keep his hand hot to lead Grayhound to more upsets.</p>

{% include image.html image="epl-finals-red-preview-renegades" caption="AZR and USTILO from Renegades cheering during a match at IEM Sydney 2018" credit="HLTV.org" creditlink="https://www.hltv.org/" %}

<p class="subheading">The Matches</p>
{% include team-info.html logo="liquid" logo2="grayhound" text="Grayhound pulled another tough team to start out with, as Team Liquid has been performing well. Though Grayhound gives them a good fight, ultimately Team Liquid will prevail, sending the underdogs to the lower bracket." %}

{% include team-info.html logo="spacesoldiers" logo2="renegades" text="Space Soldiers may be the 5 seed from Europe, but Renegades has been looking surprisingly good, especially with their victory over FaZe Clan. Renegades comes out on top with the “upset”." %}

{% include team-info.html logo="optic" logo2="astralis" text="The Danish Derby comes early in Dallas, but it does not look to be 		competitive. With the extremely new roster of OpTic and how well Astralis is playing, it will be one-sided with Astralis burying OpTic and reminding them who is the better Danish side." %}

{% include team-info.html logo="nip" logo2="skgaming" text="NiP is performing better at LAN than SK, and I just don't see SK finding their groove against this team. NiP takes it in relatively easy fashion." %}