---
layout: post
title: 'Overwatch League Week 2 results and rankings'
fulltitle: 'Overwatch League Week 2 results and rankings'
category: overwatch
tags: weekly this-week-in fps-games gradyhooker
image: overwatch-league-week2
author: gradyhooker
circa: 2018-01-21 14:15:00 +1300
---

<p>The second week of Blizzard's esports league for Overwatch has come to an end with three teams still undefeated and two yet to even pick up a win. We take a look at the winners and losers this week and how that had changed the standings.</p>

<p class="subheading">Rankings</p>
{% include rankings-overwatch.html data="1|1|seouldynasty|KR|PAC|4|4|14|1,
1|1|newyorkexcelsior|US|ATL|4|4|13|2,
1|1|londonspitfire|UK|ATL|4|4|13|4,
4|9|houstonoutlaws|US|ATL|4|2|11|6,
4|1|losangelesvaliant|US|PAC|4|2|9|6,
4|5|losangelesgladiators|US|PAC|4|2|7|10,
4|5|philadelphiafusion|US|ATL|4|2|7|10,
4|5|sanfranciscoshock|US|PAC|4|2|7|9,
9|5|bostonuprising|US|ATL|4|1|7|10,
9|9|floridamayhem|US|ATL|4|1|5|11,
11|9|dallasfuel|US|PAC|4|0|2|12,
11|9|shanghaidragons|CN|PAC|4|0|1|15" %} 

<p class="subheading">Result List</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="philadelphiafusion" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">2 - 1</span> {% include logo.html logo="sanfranciscoshock" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="seouldynasty" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">4 - 0</span> {% include logo.html logo="floridamayhem" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="houstonoutlaws" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">4 - 0</span> {% include logo.html logo="shanghaidragons" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="houstonoutlaws" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">4 - 0</span> {% include logo.html logo="dallasfuel" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="newyorkexcelsior" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">3 - 0</span> {% include logo.html logo="losangelesvaliant" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="losangelesgladiators" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">3 - 2</span> {% include logo.html logo="philadelphiafusion" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="seouldynasty" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">4 - 0</span> {% include logo.html logo="bostonuprising" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="floridamayhem" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">4 - 0</span> {% include logo.html logo="shanghaidragons" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="londonspitfire" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">3 - 1</span> {% include logo.html logo="dallasfuel" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="londonspitfire" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">3 - 2</span> {% include logo.html logo="losangelesvaliant" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="newyorkexcelsior" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">4 - 0</span> {% include logo.html logo="losangelesgladiators" size="tiny" %}</p>
<p style="display: flex; align-content: center;">{% include logo.html logo="sanfranciscoshock" size="tiny" %} <span style="padding-left: 8px; padding-right: 8px;">2 - 2</span> {% include logo.html logo="bostonuprising" size="tiny" %}</p>