---
layout: post
title: 'CSGO Tier Rankings: ESL Belo Horizonte, CSGO Asia Champs & DreamHack Summer'
fulltitle: 'CSGO Tier Rankings:<br/>ESL Belo Horizonte, CSGO Asia Champs & DreamHack Summer'
category: counter-strike
tags: features tier-rankings fps-games esportskingdom
image: csgo-tiers-esl-cac-summer
author: esportskingdom
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2018-06-19 9:00:00 +1200
---
<p>It was a big weekend of Counter-Strike with three huge top-tier LANs all going on at once. We had ESL over in Belo Horizonte, Perfect World in Asia for the CSGO Asia Championships and DreamHack in Jönköping for DreamHack Open Summer 2018 - so there has been a lot of movement on our tier rankings.</p>

<p class="subheading">Reasons for Selected Teams (Movement or Roster Changes)</p>

<p>Fnatic - We lowered Fnatic because they have not had steady performances over the last 2 months, in fact they have barely played at all over the last two months. If they come back and show us they are deserving of the spot, they will be moved back up to A Tier.</p>

<p>North - Beaten by Imperial and OpTic, while only beating AGO and Red Reserve in 2-1 matches, they don't deserve the B tier. </p>

<p>Ninjas in Pyjamas - They beat VG.Flash, but then lost to TyLoo. While they took a game off of NaVi, it was against a NaVi team that was clearly not playing their best. </p>

<p>TyLoo - A win against NiP and MVP, but they lost twice to Virtus.Pro, a D tier team. They were on the border already, and these losses do not promote faith in the team.</p>

<p>Renegades - Losses to Gambit and compLexity swept them out of DreamHack Open Summer....this is not good for our confidence in them.</p>

<p>Heroic - Their previous C-tier was based on their play at Pro League and the tournaments before. They have not played with the same skill as they did at the Pro League Finals since then. </p>

<p>AVANGAR - Having this team in C Tier has been an oversight by our team. We are correcting that this week.</p>

<p>compLexity - This team has been on our radar for a long time and this week they finally earned their spot due to their recent performances.</p>

<p>Valiance - Although not appearing at any of the three big LANs they did manage to have good showing as of late and have performed better than the three team removed.</p>

<p>Imperial - Imperial really surprised everyone taking out DreamHack and beating teams like North, AGO, Gambit and OpTic on their way to the the trophy.</p>

<p>MVP PK - MVP have had a couple of great opportunities now to show themselves to the CSGO world and they blew each chance they had dropping out of IEM Sydney, ESL Pro League Finals and CSGO Asia Champs.</p>

<p>Fragsters - Simply put, this team has failed to beat any other team in our top 30 since May 7th and even then that was a D-Tier team</p>

<p>eUnited - Much like Fragsters they haven't had any notable wins since May 7th</p>

{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="faze|navi|mousesports|liquid" country="eu|ua|eu|us" shortnames="FaZe|NaVi|mousesports|Liquid" change="|||" %}

{% include tier-list.html tier="B" teams="fnatic|skgaming|cloud9|nrg" country="se|br|us|us" shortnames="Fnatic|SK|Cloud9|NRG" change="down|||||" %}

{% include tier-list.html tier="C" teams="north|nip|tyloo|ago-2018|spacesoldiers|g2|hellraisers|optic" country="dk|se|cn|pl|tk|fr|ua|dk" shortnames="North|NiP|TyLoo|AGO|Space Sol.|G2|HellRaisers|OpTic" change="down|down|down|||||" %}

{% include tier-list.html tier="D" teams="renegades|heroic|avangar-2018|gambit|redreserve-2018|grayhound|virtuspro|rogue|envyus|big|complexity|valiance|imperial" country="au|eu|kz|kz|se|au|pl|us|fr|de|us|rs|eu" shortnames="Renegades|Heroic|AVANGAR|Gambit|Red Reserve|Grayhound|Virtus.Pro|Rogue|EnVyUs|BIG|compLexity|Valiance|Imperial"  change="down|down|down||||||||debut|debut|debut" %}

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
