---
layout: post
title: "FACEIT announces Australasia Pro League for Oceania players"
fulltitle: "FACEIT announces Australasia Pro League for Oceania players"
category: counter-strike
tags: event-news fps-games gradyhooker
image: faceit-australasia-pro-league
author: gradyhooker
circa: 2018-03-2 06:49:11 +1300
---
<p>FACEIT announced this morning that Oceania players will have a Hub to play in the Australasia Pro League - the project is the brain-child of James "JAMES" Quinn and Iain "Snyper" Turner. There is divisions for every skill level from Skill Level 1 - 10.</p>

<p>The Australasian Pro League is using FACEIT's new Hub system and offers a unique experience where you can play and chat with other Oceania players in a solo queue environment, improve your CS:GO skills by advancing through divisions, and play games daily with the best Oceania teams and players. </p>

<p>The project will go by the name of <a href='https://faceit.com/en/organizers/e180740b-afb9-4834-8be8-e2b5bf070ac0/InstaFrag'>Instafrag</a>, and their first mission is providing a circuit of leagues where players of every skill level can play and enjoy quality competitive matches, improve and feel closer to a community instead of playing with random players over and over.</p>

<p>Australian pro player for Dark Sided, James "JAMES" Quinn, said:</p>

{% include quote.html text="In the past few weeks we noticed that many organizers and CSGO players have started local circuits for their local communities by using HUBS on FACEIT, with the aim to offer a better PUG experience within a closed and moderated environment. So I contacted Iain 'Snyper' Turner and we together decided to start a venture together and build something for the AUS community. He is, in my opinion, one of the greatest ambassadors of the Australian community out there, and together, we hope to push Oceania CSGO scene to further heights, and hopefully give a taste of what 'competition' really means."%}

{% include image.html image="faceit-australasia-pro-league-1" caption="ORDER from Australia competing at IEM Katowice 2018 against the tier 1 teams" credit="HLTV.org" creditlink="http://www.hltv.org/" %}

<p>The circuit is made by 3 divisions, where each one is hosted in its own HUB on FACEIT. Every match played in our HUB will affect the elo and the skill level of the players which will have the possibility to join dynamically different leagues based on their current skill level. </p>

<p>FACEIT Skill Level 9-10 [Solo queue only] - <a href='https://faceit.com/en/hub/18f6127f-ce33-455e-bbd7-68365819d72f/Australasian%20Pro%20League%20Division%202'>Australasian Pro League Division 2</a></p>

<p>FACEIT Skill Level 5-8 [Solo queue only] - <a href='https://faceit.com/en/hub/a770bc60-9bee-4c3c-aca8-7fe66fa8ab16/Australasian%20Pro%20League%20Division%203'>Australasian Pro League Division 3</a> </p>

<p>FACEIT Skill Level 1-4 [Solo queue only] - <a href='https://faceit.com/en/hub/d99b7e73-bc5c-43d6-a168-24a9745cd604/Australasian%20Pro%20League%20Division%204'>Australasian Pro League Division 4</a> </p>

<p>On top of the 3 Open Divisions there will be the Australasian Pro League, which will be an invite-only division, where we aim to get the most talented players in Oceania. Players who are not directly invited into APL can qualify from Division 2, which will send the top 3 players directly into the Pro League on a monthly basis.</p>

<p>You can find the list of divisions and the entry requirements for each of them on Instafrag's <a href='https://faceit.com/en/organizers/e180740b-afb9-4834-8be8-e2b5bf070ac0/InstaFrag'>FACEIT organizer page</a>. To connect with them and ask questions directly you can visit the official Instafrag <a href='https://discord.gg/SZgcebu'>Discord channel</a>.</p>

