---
layout: post
title: 'CSGO Tier Rankings: FACEIT London Major, also DreamHack Montreal'
fulltitle: 'CSGO Tier Rankings:<br/>FACEIT London Major, also DreamHack Montreal'
category: counter-strike
tags: features tier-rankings fps-games esportskingdom palmtoppitbull gradyhooker
image: csgo-tiers-faceit-major-montreal
author: esportskingdom
circa: 2018-09-24 23:05:00 +0100
---
<p>The FACEIT Major was held this past week in London and we have to take all three stages of that into account as well as a smaller tournament hosted by DreamHack up in Montreal - There was some huge rank moves this time!</p>

<p>Tier Rankings compiled by Jamie "PalmtopPitbull" Wert (<a href="https://twitter.com/PalmtopPitbull">@PalmtopPitbull on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

<div class="tier-list">
{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="faze|navi|liquid" country="eu|ua|us" shortnames="FaZe|NaVi|Liquid" change="||" %}

{% include tier-list.html tier="B" teams="mousesports|north|fnatic|mibr|nip|hellraisers|big|complexity" country="eu|dk|se|br|se|ua|de|us" shortnames="mousesports|North|Fnatic|MiBR|NiP|HellRaisers|BIG|compLexity" change="down|down||||up|up|up2" %}

{% include tier-list.html tier="C" teams="nrg|g2|tyloo|optic|ence|kinguin" country="us|fr|cn|dk|fi|pl" shortnames="NRG|G2|TyLoo|OpTic|ENCE|Kinguin" change="|||||up" %}

{% include tier-list.html tier="D" teams="heroic|cloud9|renegades|spacesoldiers|ago-2018|redreserve-2018|gambit|rogue|imperial|luminosity|spirit|vega" country="eu|us|au|tk|pl|se|kz|us|lt|br|ru|ru" shortnames="Heroic|Cloud9|Renegades|Space Sol.|AGO|Red Reserve|Gambit|Rogue|Imperial|Luminosity|Spirit|Vega" change="down|down|down||||||||debut|debut" %}
</div>

<p class="subheading">Reasons for Selected Teams (Movement or Roster Changes)</p>

<p>mousesports - While looking good in previous tournaments, mouz did not impress at all at the Major. They only just barely fall into B Tier.</p>

<p>North - We were far too quick to crown North after DreamHack Masters Stockholm. They reminded us in London why they were B Tier before.</p>

<p>HellRaisers - They showed up in a big way this Major, being the only team besides Astralis to take a single Map off of Team Liquid.</p>

<p>compLexity - CompLexity played out of their minds on the way to a Champions Stage appearance. Though they had a tough draw in the playoffs, nobody can deny they earned their spot.</p>

<p>Kinguin - They beat ENCE to handily win DreamHack Open Montreal. They are just above D Tier, so they have earned their spot in C.</p>

<p>Heroic - They were swept right out of DreamHack Montreal and our C Tier.</p>

<p>Cloud9 - C9 continues their meteoric fall from grace, requiring overtime to beat Winstrike for their only win of the Major.</p>

<p>Renegades - Renegades continues to struggle on the larger international stage.</p>

<p>Team Spirit - Spirit showed great fight, and were 1 match win away from the Legends Stage.</p>

<p>Vega Squadron - Good play to get to the Legends Stage, but tough opponents kept them from reaching for more.</p>

<p>AVANGAR - It's less what they did, and more they were the weakest link in D Tier, and needed to move to allow Spirit and Vega into the rankings.</p>

<p>Ghost Gaming - Again, they didn't do anything to deserve this except be one of the two weakest links in D Tier.</p>

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
