---
layout: post
title: "Road to the Major - Ninjas in Pyjamas"
fulltitle: "Road to the Major<br/>Ninjas in Pyjamas"
category: counter-strike
tags: roadtothemajor fps-games palmtoppitbull faceit-london-2018
image: roadtothemajor-nip
author: palmtoppitbull
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2018-08-31 8:00:00 +1200
---
<p>The second team we cover from the European Minor is the legendary organization of Ninjas in Pyjamas. Though Patrick 'f0rest' Lindberg and Christopher 'GeT_RiGht' Alesund have been with the team since 2012, every other member has been added since June 2017.</p>

{% include teamlist.html logo="nip" players="Patrick 'f0rest' Lindberg|Christpher 'GeT_RiGhT' Alesund|Fredrik 'REZ' Sterner|Dennis 'dennis' Edman|Jonas 'Lekr0' Olofsson" country="SE|SE|SE|SE|SE" %}

{% include image.html image="roadtothemajor-nip-chart" caption="Ninjas in Pyjamas' player's history at the CSGO majors" %}

<p class="subheading">Europe Closed Qualifier</p>

<p>NiP was directly invited to the Closed Qualifier.</p>

<p>They were matched against 3DMAX for the first match, and things did not start well. They fell in OT 17-19. NiP then ended up on Overpass, where they were swept out of the series in a 12-16 map loss.</p>

<p>With the loss, NiP fell to the low matches where they met Fragsters. In this match, the first map was NiP's pick of Train and though they dug a deep hole in the first half, they mounted a comeback in the second half, but fell just short of coming all the way back, losing the first map 14-16. On Nuke for Map 2, they handily beat Fragsters 16-6. In the decider on Inferno NiP squeaked out a 16-14 win to take the match 2-1.</p>

<p>The third match of the Qualifier for NiP was against Nrdvnd. They played on Nuke for the first map and won convincingly 16-6. Map 2 was closer, but they still prevailed 16-13 on Overpass to sweep their way to their fourth match.</p>

<p>Their final match of the Qualifier was against AGO. They won the first map of Cache with a 16-12 score, but proceeded to lose map 2 9-16 on Overpass. The decider was played on Train and NiP managed to win 16-7 to lock up their spot in the Minor.</p>

<p class="subheading">Europe Minor</p>

<p class="subheading">Group Stage</p>

<p>The Ninjas were placed in Group B with Sprout, Red Reserve, and Team Kinguin. They drew Red Reserve for their first match and though it was close, they won 16-14 on Overpass.</p>

<p>Match 2 was against Sprout on Inferno. Through reversed 9-6, 6-9 scorelines on T side, the match was sent to OT where Sprout managed to win 19-16. This meant NiP had a third match to play in the Groups against Red Reserve.</p>

<p>In the Best of 3 rematch, NiP had a close 16-14 win on Red Reserve's choice of Mirage for the first map. The Ninjas then picked Train for map 2 and swept the match with a 16-12 win. This locked up the final spot in the playoff for NiP.</p>

<p class="subheading">Upper Bracket Semifinals</p>

<p>NiP got the Group A winners, OpTic, in the first round of the playoffs. OpTic chose Nuke as the first map, winning a 9-6 T side in the first half. NiP could not slow them down in the second half, and they won the map 16-7.</p>

<p>Map 2 saw the team's take to Overpass as picked by NiP. OpTic had a 10-5 lead in the first half, but they were not able to finish the match in the second half. NiP also too 10 rounds on their CT side to send it to OT. A 4 round sweep by NiP won the map 19-15 and sent the match to a decider on Inferno.</p>

<p>The decider map unfortunately was the most lopsided as OpTic rolled over NiP, 16-3 to win the match 2-1 and cast NiP into the Lower Bracket.</p>

<p class="subheading">Lower Bracket Semifinals</p>

<p>NiP met Sprout in a rematch in the lower bracket. For map 1, Sprout chose Nuke, and NiP quickly proved that choice to be foolish. With an overwhelming 3-16 win, NiP looked in command headed to their map choice of Mirage.</p>

<p>On Mirage, Sprout turned the match on its head with a 12-3 first half. NiP fought valiantly in the second half, but fell just short of sending it to overtime, losing the map 16-14.</p>

<p>This meant NiP would play another decider, this time on Train. They narrowly took the half time lead 7-8 on T side, and closed the map 13-16 to advance 1-2 to the next round.</p>

<p class="subheading">Lower Bracket Final</p>

<p>In the Lower Bracket Final, NiP met ENCE. They started the match out on Overpass, NiP's pick. ENCE commanded a strong 5-10 first half lead, but NiP did not back down, and this time their second half heroics payed off. They won the match by taking 11 of 13 second half rounds, winning 16-3.</p>

<p>Map 2 was ENCE's choice and they picked Inferno. This did not work as they hoped, dropping 13 rounds in the first half and not winning a single round in the second. This meant NiP, with a 16-2 win, swept the match and advanced to the Grand Final. It also punched their ticket to the New Challengers Stage of the Major.</p>

<p class="subheading">Grand Final</p>

<p>The Grand Final was a rematch of OpTic and NiP. First map was Dust II as chosen by NiP, and while the first half was close, 7-8 in favor of NiP, the second half easily went in NiP's favor. They won the second half in only 9 rounds, taking the map 8-16.</p>

<p>Map 2, Nuke, was OpTic's choice. The first half was close, 6-9 in NiP's favor. However the second half again went in favor of NiP, 1-7. This gave NiP the 7-16 win and 2-0 sweep to claim the European Minor Champs title.</p>

{% include image.html image="roadtothemajor-nip-rez" caption="Ninjas in Pyjamas' Swedish player REZ, at DreamHack Master Stockholm 2018" credit="HLTV.org" creditlink="https://www.hltv.org/" %}

<p class="subheading">Year to Date</p>

<p>2018 has been a disappointing year for Ninjas in Pyjamas, with very few high profile finishes. Arguably their best placement all season came with their 2nd place online ESL Pro League Season 7 Europe finish.</p>

<p class="subheading">Player to Watch</p>

<p>Fredrik 'REZ' Sterner</p>

<p>While the youngest and most inexperienced player on the team, REZ has the ability to turn games on their head. He is also the only player on the team that has not appeared at a Major, putting a lot of pressure on him to perform. If he is able to stand up to it, the team could shine.</p>
