---
layout: post
title: 'CSGO Tier Rankings: EPICENTER and StarSeries i-League Season 6'
fulltitle: 'CSGO Tier Rankings:<br/>EPICENTER and StarSeries i-League Season 6'
category: counter-strike
tags: features tier-rankings fps-games esportskingdom palmtoppitbull gradyhooker
image: csgo-tiers-epicenter-starseries
author: esportskingdom
headercredit:
  - name: EpicenterGG on Twitter
    link: https://twitter.com/epicentergg
circa: 2018-10-29 8:45:00 +1300
---
<p>We missed the last ranking so there was a lot to be taken into consideration for this one. Post-major events are always interesting as we see a lot of teams falling off the charts and others jumping to take the open spots, but how much did that shift out tiers? Spoilers: A lot.</p>

<p>Tier Rankings compiled by Jamie "PalmtopPitbull" Wert (<a href="https://twitter.com/PalmtopPitbull">@PalmtopPitbull on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="faze|navi|liquid|mibr" country="eu|ua|us|br" shortnames="FaZe|NaVi|Liquid|MIBR" change="|||up" %}

{% include tier-list.html tier="B" teams="mousesports|north|nip|big|nrg|ence" country="eu|dk|se|de|us|fi" shortnames="mousesports|North|NiP|BIG|NRG|ENCE" change="||||up|up" %}

{% include tier-list.html tier="C" teams="hellraisers|fnatic|complexity|g2|tyloo|optic" country="ua|se|us|fr|cn|dk" shortnames="HellRaisers|Fnatic|compLexity|G2|TyLoo|OpTic" change="down|down|down|||" %}

{% include tier-list.html tier="D" teams="kinguin|heroic|cloud9|renegades|exspacesoldiers|gambit|rogue|imperial|vega|avangar|fragsters|ghost|eunited" country="pl|eu|eu|au|tk|kz|us|lt|ru|kz|dk|ca|us" shortnames="Kinguin|Heroic|Cloud9|Renegades|ex-SS|Gambit|Rogue|Imperial|Vega|AVANGAR|Fragsters|Ghost|eUnited" change="down|||||||||debut|debut|debut|debut" %}

<p class="subheading">Reasons for Selected Teams (Movement or Roster Changes)</p>

<p>MIBR - We said if they showed some consistent play we would move them up, and their performance at BLAST Pro Series Istanbul really cemented their spot here.</p>

<p>NRG - Consistent play against solid competition lands them in B Tier.</p>

<p>ENCE - They proved they were the best of the middle of the pack at StarSeries.</p>

<p>HellRaisers - Inconsistent play coupled with a few embarrassing losses sees them drop.</p>

<p>Fnatic - Again, another inconsistent team with roster instability that is likely to impact future performances.</p>

<p>compLexity - We jumped the gun after the Major by placing them in B Tier. They have settled now into a spot where we think they belong.</p>

<p>Kinguin - Two second place finishes in small LANs, but nothing to show they are better than any of the teams in C Tier. They need to play real competition if they want to move up.</p>

<p>AVANGAR - A string of some impressive upsets over multiple LANS big and small sees AVANGAR return to the rankings.</p>

<p>Fragsters - They had a great performance at StarSeries to move them into D Tier.</p>

<p>Ghost - Ghost is primarily here due to their online results. They haven't been to any real LANs recently, but have shown they are getting better, at least online.</p>

<p>eUnited - Like Ghost, eUnited moved up because they showed some good performances online.</p>

<p>Also, four teams have fallen off the bottom of the rankings due to recent results; AGO, Red Reserve, Luminosity and Team Spirit.</p>

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
