---
layout: post
title: 'IEM Sydney is returning for 2018'
fulltitle: 'IEM Sydney is returning for 2018'
category: counter-strike
tags: event-news fps-games gradyhooker iem-sydney-2018
tournament: iem-sydney-2018
image: iem-sydney-2018-announced
author: gradyhooker
headercredit:
  - name: ESL & IEM
    link: http://en.intelextrememasters.com/
circa: 2018-01-20 15:00:00 +1300
---

<p>ESL has been quiet ever since May of last year where they rocked the Qudos Bank Arena in Sydney with 7,000 attendees each day. But thanks to a post by EEAA (Exhibition & Event Association of Australia) we now know that the event will be back for 2018 and a few details.</p>

{% include video.html video="QTzT3xlC8kU" caption="A promo video for last years event, IEM Sydney 2017" credit="ESL Australia" creditlink="https://www.youtube.com/channel/UCPXzzZZAVqHpJ2yST-baz_A" thumbnail="iem-sydney-2018-announced-thumb" %}

<p>The post by EEAA starts off by highlighting the previous years event, boasting about statistics and viewer-ship:</p>

{% include quote.html text="On May 6-7th 2017, ESL Australia delivered the Oceanic region’s first ever esports mega event, The Intel Extreme Masters (IEM) Sydney. The show was launched as a catalyst for industry expansion in Australia, whilst gaining international recognition as a major part of the global esports calendar.<br/><br/>IEM Sydney presented the game ‘CS:GO’ as its major arena event attraction, inviting 8 of the top teams in the world to compete for a $260,000 prize pool. The show also delivered Australia’s first ever “Esports specific” exhibition, attracting over 7000 visitors on each event day to Qudos Bank Arena in Sydney’s Olympic Park.<br/><br/>The main event broadcast was delivered in 22 languages across 30 digital and traditional TV channels and watched by 8 million unique viewers." %} 

<p>Then at the bottom of the page we get the first glimpse of any information about the event so far:</p>

{% include quote.html text="In 2018 ESL Australia will bring IEM back to Sydney, expanding to a 3 day event with the largest esports exhibition the region has ever seen." %} 

<p>Included in a table at the top of the page we confirm the event will once again be held in the Sydney Olympic Park, the entry fee will be $39.00 and that the event will run from May 4th - 6th.</p>

<p>In an attempt to check out this information, I found that the link to IEM Sydney on the official <a href="http://intelextrememasters.com">intelextrememasters.com</a> website in fact links to a Season 12 event, which returns a 404 not found error for now. For now we have no information about the format, teams invited or the reason for the expansion into a third day.</p>

<p>Will the event host a PUBG tournament like the previous two IEM events? Will the team count be brought up to 12 or 16 like Oakland or Katowice? Be on the look out for an official announcement from ESL in the coming weeks.</p>