---
layout: post
title: "Breakaway Esports signs Kiwi players DanBanter and Jakattack"
fulltitle: "Breakaway Esports signs Kiwi players DanBanter and Jakattack"
category: multiple-games
tags: features player-news other-games gradyhooker
image: breakaway-danbanter-jakattack
author: gradyhooker
circa: 2018-08-24 20:20:00 +1200
---
<p>After launching just over two weeks ago with members Hazz, LoriiPops and FIFA/NBA2K player airbrn, Breakaway Esports has made another talent acquisition. This time they look to the fighting game community for TEKKEN7 player DanBanter and a successful Hearthstone player in Jakattack.</p>

<p>Daniel "DanBanter" Saeidian was most recently seen in New Zealand for the LetsPlay.Live TEKKEN7 Esports World Championship Qualifier, where he managed to top the field and will represent New Zealand and the E-Blacks over in the IESF World Championship. His first outing as an official member of Breakaway Esports will be in September when he goes to Lyon, France to compete in The Mixup. About the signing, Dan said:</p>

{% include quote.html text="I’ve been looking for the right home for a while now, and Breakaway Esports is the perfect fit for me as a player. I’m excited to have the opportunity to wear the team colours on a global stage, and show the world what I’ve got."%}

<p>It wasn't only fighting games where Breakaway picked up a new member as they also signed on Jack "Jakattack" Gifford from the competitive Hearthstone scene. Jack took out Odyssey (Thailand) in the grand finals of the HCT Sydney Tour Stop in February cementing himself at the top game. Currently Jack is competing in the Global Games tournament; he has beat Portugal and Bulgaria, but fell to Spain and the Netherlands so far. The first time we will see Jack int he Breakaway jersey will be in Oslo, Norway for the next HCT Tour Stop. Jack had the following to say:</p>

{% include quote.html text="Following the success of the worldwide investment into esports, I'm excited to see that New Zealand is following suit. I had a lot of team offers following my success at HCT Sydney, but Breakaway Esports was the first one to jump off the page as a real opportunity to play some competitive Hearthstone on the global stage. I'm ecstatic to join the team and am confident this will elevate me to the next level."%}

<p>Finally Matt Walsh, CEO of Breakaway Esports (who sources say isn't the best at NBA2K) commented on both of the signings:</p>

{% include quote.html text="When scouting talent to join our roster, Jack and Daniel were instantly players that we wanted to join our Breakaway family. We’re ecstatic that they’re on board with both the team and our vision for Breakaway Esports, and can’t wait to elevate them to a new level of success."%}

<p>We wish DanBanter and Jakattack all the best with their new organization and look forward to seeing how they do in their respective esports.</p>