---
layout: post
title: "IEM Chicago announced - Invites, Dates and On-Air Talent"
fulltitle: "IEM Chicago announced - Invites, Dates and On-Air Talent"
tweettext: "This morning ESL announced #IEMChicago along with the first 8 of 10 invites, all the on-air talent and the dates/arena #csgo #esports #IEM #ESL #Chicago"
category: counter-strike
tags: event-news fps-games gradyhooker
image: iem-chicago-announced
author: gradyhooker
headercredit: 
  - name: Intel Extreme Masters
    link: https://www.intelextrememasters.com/season-13/chicago/
circa: 2018-08-10 08:00:00 +1200
---
<p>After rumors circulating this week about IEM Oakland being replaced with IEM Chicago for 2018, this morning ESL came out and made the announcement along with 8 of the 10 invited teams, all the on-air talent and the dates.</p>

{% include image.html image="iem-chicago-announced-3" caption="Teams attending IEM Chicago 2018" credit="IEM on Twitter" creditlink="https://twitter.com/IEM" %}

<p class="subheading">Tickets</p>
Early Bird tickets go live 24 hours after this article has been published and can be purchased from the <a href="https://www.intelextrememasters.com/season-13/chicago/tickets/">IEM Website</a>.

<p class="subheading">Invited Teams</p>

<p>The first 8 of 10 invited teams were released along with this announcement, we have some of the worlds best and then some of the top teams from different regions.</p>

{% include logolist.html logos="faze|astralis|big|mousesports|liquid|renegades|mibr|nrg" %}

<p>These teams will be joined by 2 other invites yet to be announced and 6 teams from qualifiers (2 Europe, 2 North America, 1 South American, 1 Asia) - the details for these qualifiers are below.</p>

<p class="subheading">On-Air Talent</p>

{% include image.html image="iem-chicago-announced-1" caption="On-Air Talent attending IEM Chicago 2018" credit="IEM on Twitter" creditlink="https://twitter.com/IEM" %}

{% include teamlist.html logo="talent" players="OJ Borg (Stage Host)|Stunna (Reporter)|Machine (Desk Host)|SPUNJ (Analyst)|Pimp (Analyst)|HenryG (Caster)|Sadokist (Caster)|Anders (Caster)|moses (Caster)" country="UK|US|UK|AU|DK|UK|CA|DK|US" %}

<p class="subheading">Schedule</p>

{% include image.html image="iem-chicago-announced-2" caption="Schedule for IEM Chicago 2018" credit="IEM on Twitter" creditlink="https://twitter.com/IEM" %}

<p>The group stages will run from Tuesday 6th November through Thursday 8th for both Group A and Group B. Each group will host a double-elimination GSL stage that is seeded based on the <a href='https://www.eslgaming.com/worldranking/csgo#/'>ESL CSGO World Rankings</a>. The first round matchups will be Best-Of-1, but from there on every match played will be a Best-Of-3.</p>

<p>Three teams will advance from each group, one directly into the Semifinals and the other two are set to face off in the Quarterfinals in a BO3. The Quarterfinals will take place on Friday the 9th of November and are still played backstage.</p>

<p>Saturday, November 10th and Sunday, November 11th are the day the main stage will be open to the public to watch the Semifinals (Saturday) and the Show Match and BO5 Grand Final (Sunday).</p>

<p class="subheading">Qualifiers (Times are all in local time)</p>

<p>Each of the 4 closed qualifiers will feature 6 invited teams and then 2 from the open qualifiers, the dates are as follows:</p>

<p>Europe Closed Qualifier</p>

<li>{% include time.html datetime="2018-08-23 11:00 UTC+2" format="E, d MMM HH:mm" %} - Upper Bracket Ro8</li>
<li>{% include time.html datetime="2018-08-23 14:00 UTC+2" format="E, d MMM HH:mm" %} - Upper Bracket Ro4</li>
<li>{% include time.html datetime="2018-08-23 17:00 UTC+2" format="E, d MMM HH:mm" %} - Lower Bracket Ro4a</li>
<li>{% include time.html datetime="2018-08-24 11:00 UTC+2" format="E, d MMM HH:mm" %} - Lower Bracket Ro4b</li>
<li>{% include time.html datetime="2018-08-24 14:00 UTC+2" format="E, d MMM HH:mm" %} - Upper Bracket Ro2 (Winner Qualifies)</li>
<li>{% include time.html datetime="2018-08-24 17:00 UTC+2" format="E, d MMM HH:mm" %} - Lower Bracket Ro2a</li>
<li>{% include time.html datetime="2018-08-25 14:00 UTC+2" format="E, d MMM HH:mm" %} - Lower Bracket Ro2b (Winner Qualifies)</li>

<p>North America Closed Qualifier</p>

<li>{% include time.html datetime="2018-08-23 15:00 EDT" format="E, d MMM HH:mm" %} - Upper Bracket Ro8</li>
<li>{% include time.html datetime="2018-08-23 18:00 EDT" format="E, d MMM HH:mm" %} - Upper Bracket Ro4</li>
<li>{% include time.html datetime="2018-08-23 21:00 EDT" format="E, d MMM HH:mm" %} - Lower Bracket Ro4a</li>
<li>{% include time.html datetime="2018-08-24 15:00 EDT" format="E, d MMM HH:mm" %} - Lower Bracket Ro4b</li>
<li>{% include time.html datetime="2018-08-24 18:00 EDT" format="E, d MMM HH:mm" %} - Upper Bracket Ro2 (Winner Qualifies)</li>
<li>{% include time.html datetime="2018-08-24 21:00 EDT" format="E, d MMM HH:mm" %} - Lower Bracket Ro2a</li>
<li>{% include time.html datetime="2018-08-25 18:00 EDT" format="E, d MMM HH:mm" %} - Lower Bracket Ro2b (Winner Qualifies)</li>

<p>South America Closed Qualifier</p>

<li>{% include time.html datetime="2018-08-29 14:00 UTC-3" format="E, d MMM HH:mm" %} - Upper Bracket Ro8</li>
<li>{% include time.html datetime="2018-08-29 17:00 UTC-3" format="E, d MMM HH:mm" %} - Upper Bracket Ro4</li>
<li>{% include time.html datetime="2018-08-29 20:00 UTC-3" format="E, d MMM HH:mm" %} - Lower Bracket Ro4a</li>

<li>{% include time.html datetime="2018-08-30 14:00 UTC-3" format="E, d MMM HH:mm" %} - Lower Bracket Ro4b</li>
<li>{% include time.html datetime="2018-08-30 17:00 UTC-3" format="E, d MMM HH:mm" %} - Upper Bracket Ro2</li>
<li>{% include time.html datetime="2018-08-30 20:00 UTC-3" format="E, d MMM HH:mm" %} - Lower Bracket Ro2a</li>

<li>{% include time.html datetime="2018-08-31 14:00 UTC-3" format="E, d MMM HH:mm" %} - Lower Bracket Ro2b</li>
<li>{% include time.html datetime="2018-08-31 17:00 UTC-3" format="E, d MMM HH:mm" %} - Grand Final Bo5 with 1:0 advantage (Winner Qualifies)</li>

<p>Asia Closed Qualifier</p>

<li>{% include time.html datetime="2018-08-20 14:00 UTC+8" format="E, d MMM HH:mm" %} - Upper Bracket Ro8</li>
<li>{% include time.html datetime="2018-08-20 17:00 UTC+8" format="E, d MMM HH:mm" %} - Upper Bracket Ro4</li>
<li>{% include time.html datetime="2018-08-20 20:00 UTC+8" format="E, d MMM HH:mm" %} - Lower Bracket Ro4a</li>

<li>{% include time.html datetime="2018-08-21 14:00 UTC+8" format="E, d MMM HH:mm" %} - Lower Bracket Ro4b</li>
<li>{% include time.html datetime="2018-08-21 17:00 UTC+8" format="E, d MMM HH:mm" %} - Upper Bracket Ro2</li>
<li>{% include time.html datetime="2018-08-21 20:00 UTC+8" format="E, d MMM HH:mm" %} - Lower Bracket Ro2a</li>

<li>{% include time.html datetime="2018-08-22 14:00 UTC+8" format="E, d MMM HH:mm" %} - Lower Bracket Ro2b</li>
<li>{% include time.html datetime="2018-08-22 17:00 UTC+8" format="E, d MMM HH:mm" %} - Grand Final Bo5 with 1:0 advantage (Winner Qualifies)</li>
