---
layout: post
title: "DreamHack Masters Marseille Day 1 Summary and Day 2 Predictions"
fulltitle: "DreamHack Masters Marseille Day 1 Summary and Day 2 Predictions"
category: counter-strike
tags: features event-recaps fps-games 
image: dreamhack-marseille-day1
author: palmtoppitbull
headercredit:
  - name: HLTV.org
    link: https://www.hltv.org/
circa: 2018-04-19 8:00:00 +1200
---
<p>Day 1 at Le Dôme de Marseille is over, and we had a few surprises, some close games, and some absolutely one-sided affairs. Let's take a look at each Group and where they stand after the best of 1's.</p>

<p class="subheading">Group A</p>
{% include team-info.html logo="faze" logo2="envyus" text="In Game 1 of Group A, FaZe Clan poleaxed Team EnVyUs 16-1 on Cache. EnVyUs looked completely lost in this game against the European super-team. Not much to say but this sent the first French team to the Elimination match." %}

{% include team-info.html logo="cloud9" logo2="g2" text="Game 2 was on the completely other end of the spectrum from Game 1. Cloud 9 won a nail-biter of a double-OT game on Mirage, 22-20. G2 had 6 match points, 15-12 and 18-15, and they couldn't close it out either time. FNS showed up big in this game, as C9 sent G2 to join their French brothers in the elimination game." %}

{% include team-info.html logo="g2" logo2="envyus" extratext="Elimination Match" text="In front of a home crowd, a French team was going to go home on day one of this five day tourney, and in the end, Team EnVyUs reversed their fortunes from Pro League by easily handling their rivals, 16-7 on Cache. Is it time to start the French Shuffle Speculation Machine up again?" %}

{% include team-info.html logo="cloud9" logo2="faze" pretext="Going Forward (Day 2)" extratext="Best of 3" text="FaZe looks a little unstoppable after that drubbing of Team EnVyUs, and C9 didn't look bad against a G2 team that played well against them. Though FaZe brutalized EnVyUs, I think C9 has the guts to pull out at Best of 3 against FaZe for the second time in two tournaments." %}

<p class="subheading">Group B</p>
{% include team-info.html logo="mousesports" logo2="valiance" text="The first game of Group B looked to be extremely one sided Mirage game in the first half, with mouse taking a 13-2 lead. Then Valiance showed some brilliant moments on T-side, and the classic mousesports collapse began. Valiance, a previous unknown, showed up and surprised many with this performance despite ultimately falling 16-13." %}

{% include team-info.html logo="nip" logo2="skgaming" text="NiP played well in the second game of Group B, but SK threw the game away just as much as NiP won it. SK made far too many mistakes in a 16-13 loss on Train where NiP capitalized on every slip-up." %}

{% include team-info.html logo="skgaming" logo2="valiance" extratext="Elimination Match" text="Unfortunately Valiance, a pleasant surprise against mouse, ran into a pissed off SK that corrected all of its deficiencies from their game against NiP. SK won 16-4 on Mirage, but Valiance showed some flashes of brilliance with huNter- showing why he's a promising up and coming player. Valiance goes home with some good LAN experience and hopefully this ignites a fire in them." %}

{% include team-info.html logo="nip" logo2="mousesports" pretext="Going Forward (Day 2)" extratext="Best of 3" text="mouse and NiP have both been playing to the level of their opponents recently, making this a tough one to pick. However, mouse has shown an inability to close out matches, and I think that becomes their downfall against an NiP team that has been punishing such mistakes for the past couple weeks." %}

<p class="subheading">Group C</p>
{% include team-info.html logo="fnatic" logo2="tyloo" text="TyLoo was completely outclassed in this Inferno match 16-4 by a Fnatic team that played surprisingly well considering their recent Pro League performances. TyLoo again shows what seems to be a fear of European teams. They dominate in Asia, but whenever they run up against a European team they play significantly worse." %}

{% include team-info.html logo="navi" logo2="renegades" text="The American side stood little chance against an in-form S1mple and NaVi, falling 16-4 in another one-sided match on Inferno. Electronic and S1mple showed what they can do with a 1.93 and 1.70 rating respectively. Renegades couldn't manage much against a NaVi team that supposedly is only grudgingly playing together still." %}

{% include team-info.html logo="tyloo" logo2="renegades" extratext="Elimination Match" text="This was a hard fought match between TyLoo and Renegades, but in the end Renegades took it 16-12 on Mirage. Renegades had a better CT side, managing to hold TyLoo to 8 rounds from T side. Renegades showed much better coordination in their site takes. TyLoo heads back to China and gets some time to figure out how they can better perform on the international stage." %}

{% include team-info.html logo="navi" logo2="fnatic" pretext="Going Forward (Day 2)" extratext="Best of 3" text="NaVi will not allow Fnatic to hang around, and NaVi will take this 2-0. There is too much of a gulf in talent and form right now between the teams for Fnatic to hope to win this match up." %}

<p class="subheading">Group D</p>
{% include team-info.html logo="liquid" logo2="gambit" text="A Gambit team in poor form ever since their Major win stood little chance against a newly improved Liquid team. Liquid won 16-7 on Cobblestone in a game where Gambit looked lost at times." %}

{% include team-info.html logo="astralis" logo2="spacesoldiers" text="These teams have faced each other 3 times in the past 2 months. Astralis has won all three while only giving up a total of 20 rounds, letting Space Soldiers to eclipse 10 rounds only once. This time, Space Soldiers found themselves being beat 16-2 on Inferno." %}

{% include team-info.html logo="gambit" logo2="spacesoldiers" extratext="Elimination Match" text="Gambit rolled Space Soldiers in a continuation of Space Soldiers previous match. Gambit took a 14-1 lead in the first half on Train, but Space Soldiers showed a bit of fight on CT side. Unfortunately for Space Soldiers, that only meant they made it a closer loss at 16-7." %}

{% include team-info.html logo="liquid" logo2="astralis" pretext="Going Forward (Day 2)" extratext="Best of 3" text="This will be an interesting match, as both teams are in fantastic form, and having fun. Both teams have a lot of fight in them, and this match goes to game 3. However, Astralis has had much more time to practice together, and so they get the nod." %}