---
layout: post
title: "Rumor Roundup: Dignitas, Gen.G, OG entering CS with new rosters"
fulltitle: "Rumor Roundup<br/>Dignitas, Gen.G, OG entering CS with new rosters"
category: counter-strike
tags: roster-change fps-games gradyhooker
image: rumor-roundup-dec19
author: gradyhooker
circa: 2019-12-04 09:30:00 +1300
---
<p>We are kicking off a new column with our CSGO Rumor Roundup. We will scour the internet looking for all the rumors around the CSGO scene and round them all up into one article for easy consumption (and yes, we will credit and link the original authors).</p>

<p>Please keep in mind that everything mentioned in this article are rumors. That means that nothing has been confirmed as legitimate news or fact. Take everything mentioned here with a grain of salt.</p>

<p class="subheading">Rumors:</p>

<p>{% include logo.html logo="mibr" size="tiny" %} MIBR are in talks with the Sharks Esports organization to sign 17 year old Argentinian player Ignacio "meyern" Meyer as a replacement for LUCAS1. Source: <a href="https://www.hltv.org/news/28550/mibr-target-meyern-as-lucas1-replacement">MIRAA from HLTV.org</a> and Globo Esporte.</p>

<p>{% include logo.html logo="dignitas-2019" size="tiny" %} Dignitas are eying a Nordic team for their reentry to Counter-Strike. It will feature Xizt from Fnatic, f0rest from NiP, free agents friberg and GeT_RiGhT, and hallzerk from Nordavind. Source: <a href="https://www.dbltap.com/posts/sources-dignitas-acquires-hallzerk-eyes-xizt-friberg-and-f0rest-in-new-cs-go-lineup-01dtcr2ppn3f">Dekay from DBLTAP</a>.</p>

<p>{% include logo.html logo="geng" size="tiny" %} Gen.G are in talks to enter the Counter-Strike scene buy taking a massive chunk out of the current Cloud9 roster. Currently autimatic, daps, and koosta from Cloud9 are mentioned alongside the Bulgarian player SHiPZ from CR4ZY. <a href="https://www.dbltap.com/posts/sources-gen-g-in-discussion-with-cloud9-players-and-shipz-01drwme7ewyc">Dekay from DBLTAP</a>.</p>

<p>{% include logo.html logo="og" size="tiny" %} The new OG roster has been circulating for awhile, but now the players are each adding fuel to fire on social media. The squad is made up of NBK- from Vitality, Aleksib from ENCE, valde from North, and ISSAA from HellRaisers. The fifth player would have been Jamppi if it were not for his VAC ban, now it looks to be mantuu from Alternate Attax. Source: <a href="https://www.1pv.fr/fr/news/86579-og-va-dbarquer-sur-cs-avec-nbk-aleksib-valde-issaa-et-jamppi">neL from 1pv</a>.</p>

<p>Again, we will remind you one more time - Rumors. Not Confirmed. Grain of salt.</p>