---
layout: post
title: "EPL Day 3: The dream ends for ATK and the Australians"
fulltitle: "EPL Day 3: The dream ends for ATK and the Australians"
category: counter-strike
tags: event-previews fps-games gradyhooker
image: epl-finals-season10-day3
author: gradyhooker
headercredit:
  - name: ESLCS on Twitter
    link: https://twitter.com/ESLCS/
circa: 2019-12-06 20:15:00 +1300
---
<p>The final day of the group stage is upon us and that means a lot of teams are going to leave heartbroken and only 6 of them will make it into the playoffs. We have had some of the best matchups today and could see a repeat in the grand finals later on.</p>

{% include image.html image="epl-finals-season10-day3-groupb" caption="mousesports' ingame-leader karrigan that helped send both ATK and Renegades home" credit="ESLCS on Twitter" creditlink="https://twitter.com/ESLCS/" %}

<p class="subheading">Group B - Lower Bracket Round 2 (Elimination Games)</p>

{% include team-info.html logo="mousesports" logo2="renegades" text="" %}
<p>Despite loses early in the tournament on it, Renegades picked Nuke and it wasn't as easy of a win as they had probably hoped. chrisJ put up a huge fight against Renegades and made it competitive 9-6 to mousesports in the first half, but after that it was all over as Renegades began to roll on their CT-side and closed it out 16-14.</p>
<p>Map 2 comes along and it is Train, suddenly the rest of mousesports remember how to play Counter-Strike and stomp down on Renegades who were reaching out for that playoffs spot. Everyone was firing on the European team and a few flashes of good play from Renegades wasn't going to stop them on their way to a 16-8 scoreline.</p>
<p>The final map was Inferno and it didn't look too hot for mousesports in the opening rounds with Renegades going up 5-2. Sadly for any Australian fans this way the last time they would see the Renegades with the upper hand as mousesports began to start rolling and claimed the victory 16-7 and advances on to the Lower Bracket Final.</p>

{% include team-info.html logo="atk" logo2="g2-2019" text="" %}
<p>This match-up should have been an easy one for the French side as ATK are the weaker team, that is at least what we all thought. It seemed to be on that path with a swift 16-4 win for G2 on the first map of Vertigo and it looked like ATK should start packing.</p>
<p>Over on map 2 of Train it was much of the same again with G2 dominating the first six rounds and ending the half 10-5 up. I wrote off ATK at this point and I did it too soon as they proved themselves to not give up and to keep fighting until the bitter end by winning the map 16-13 by winning 11 of 12 rounds in the end.</p>
<p>We came into the final map of Inferno and I don't know what had come over ATK, but it was like watching a miracle unfold as they ran away with it. The boys from ATK fought hard and overwhelmed G2 16-6, sending them home, and advancing themselves on to being one step away from playoffs.</p>

{% include image.html image="epl-finals-season10-day3-groupa" caption="Natus Vincere celebrating their first seed position" credit="ESLCS on Twitter" creditlink="https://twitter.com/ESLCS/" %}

<p class="subheading">Upper Bracket Round 3 (Seeding Games)</p>

{% include team-info.html logo="navi" logo2="evilgeniuses-2019" text="" %}
<p>It really is the classic story of NaVi, s1mple trying his hardest and dropping crazy numbers, but ultimately falling to their opponents. Evil Geniuses had Mirage as their map pick and made quick work of NaVi with a 16-12 score.</p>
<p>We look to the second map and Natus Vincere picked Dust2 and s1mple was not too happy about the loss in map 1. s1mple kicked electronic underneath the table and woke him up so the team actually played like a team and took down the Americans 16-5 to tie the series 1-1 and send up into Nuke.</p>
<p>When we came to Nuke there was a new strategy for NaVi - also wake up flamie and GuardiaN! With four players firing off, it was a really competitive match with EG trading rounds back and forth. Ultimately the deathblow came when NaVi hit their T-side and it all started to kick off and led to a final score of 16-11 sending NaVi straight into the semifinals.</p>

{% include team-info.html logo="astralis" logo2="liquid" text="" %}
<p>Astralis and Liquid, the game that everyone expected to be the grand final and we were starting off on Inferno. These two teams matched up quite evenly and were shifting momentum back-and-forth. Team Liquid came out on top and ended the map a not-so-decisive 16-4.</p>
<p>Second map was Nuke and Astralis is well known for a win-streak on this map, so it was pretty daunting for Liquid. It probably didn't help that Astralis kicked some serious ass on their T-side to be up 11-4 at half. From there Liquid failed to claw it back and it came to an end at 16-7.</p>
<p>That score tied the series and dragged us into the third map of Dust2. The game turned into device and Magisk vs. NAF and EliGE as these four players dominated the top of the leaderboard. Eventually it all boiled down the number one team in the world Astralis coming out on top 16-13 to go directly into the semifinals.</p>

{% include image.html image="epl-finals-season10-day3-groupc" caption="Fnatic's KRIMZ and flusha celebrating making the playoffs" credit="ESLCS on Twitter" creditlink="https://twitter.com/ESLCS/" %}

<p class="subheading">Lower Bracket Round 3 (Elimination & Advancing Games)</p>

{% include team-info.html logo="fnatic" logo2="100thieves" text="" %}
<p>The final hope for Australia is 100 Thieves and they head onto Train to start it off. In classic Australian fashion they get your hopes up with a good half 8-7 and then piss it all away in the second half. flusha was just too strong and led his team to a 16-13 victory in map one.</p>
<p>Map two kicked off and again 100T had a flash of brilliance and picked up the pistol round and second rounds. That is all there really is to say about 100T in this map and they all started packing their bags early as Fnatic just walked into the playoffs with a 16-5 scoreline.</p>

{% include team-info.html logo="mousesports" logo2="atk" text="" %}
<p>Final game of the night and we see what should be a top six team go up against the underdogs, ATK, who have been on a run so far taking out both North and G2 Esports. Sadly that run wasn't going to continue on Vertigo as mousesports put a stop to the fairy tail quickly ending with a 16-5 score.</p>
<p>mousesports were not content with one stomp victory and continued the punishment on Dust2. Every single player was on their game and they just shut down anything that ATK tried to pull. ATK's miracle run ends here at 16-6, but full credit to their performance in this tournament.</p>

<p class="subheading">Tomorrow's Games</p>

<p>Quarterfinals</p>
{% include team-info.html logo="liquid" logo2="fnatic" text="" %}
{% include team-info.html logo="evilgeniuses-2019" logo2="mousesports" text="" %}