---
layout: post
title: "CSGO introduces a new case, 3 new weapon collections, and new stickers and graffiti"
fulltitle: "CSGO introduces a new case, 3 new weapon collections, and new stickers and graffiti"
category: counter-strike
tags: features game-updates fps-games gradyhooker
image: csgo-update-shatter-weapons
author: gradyhooker
hasSlick: true
circa: 2019-11-19 18:02:00 +1300
---
<p>In the second part of today's Counter-Strike update, Valve added a bunch of new community content to the game. We have three brand new weapon collections (Norse Collection, St. Marc Collection, Canals Collection), some new stickers, and some new graffiti.</p>

<p class="subheading">Shattered Web Case</p>

<p>First up is the brand new case to be used alongside the new Shattered Web Operation. It includes four new knives; the Paracord handled field knife, the Survival, the Nomad, and the Skeleton knife.</p>

{% include carousel.html folder="article" images="csgo-update-shatter-weapons-1|csgo-update-shatter-weapons-2|csgo-update-shatter-weapons-3|csgo-update-shatter-weapons-4|csgo-update-shatter-weapons-5|csgo-update-shatter-weapons-6|csgo-update-shatter-weapons-7|csgo-update-shatter-weapons-8|csgo-update-shatter-weapons-9|csgo-update-shatter-weapons-10|csgo-update-shatter-weapons-11|csgo-update-shatter-weapons-12|csgo-update-shatter-weapons-13|csgo-update-shatter-weapons-14|csgo-update-shatter-weapons-15|csgo-update-shatter-weapons-16|csgo-update-shatter-weapons-17|csgo-update-shatter-weapons-18|csgo-update-shatter-weapons-19|csgo-update-shatter-weapons-20|csgo-update-shatter-weapons-21" captions=" | | | | | | | | | | | | | | | | | | | | " %}

<p class="subheading">The Norse Collection</p>

<p>Secondly we have the Norse Collection which features designs by The Honey Badger and contains 18 different designs.</p>

{% include carousel.html folder="article" images="csgo-update-shatter-weapons-22|csgo-update-shatter-weapons-23|csgo-update-shatter-weapons-24|csgo-update-shatter-weapons-25|csgo-update-shatter-weapons-26|csgo-update-shatter-weapons-27|csgo-update-shatter-weapons-28|csgo-update-shatter-weapons-29|csgo-update-shatter-weapons-30|csgo-update-shatter-weapons-31|csgo-update-shatter-weapons-32|csgo-update-shatter-weapons-33|csgo-update-shatter-weapons-34|csgo-update-shatter-weapons-35|csgo-update-shatter-weapons-36|csgo-update-shatter-weapons-37|csgo-update-shatter-weapons-38|csgo-update-shatter-weapons-39" captions=" | | | | | | | | | | | | | | | | | " %}

<p class="subheading">The St. Marc Collection</p>

<p>Thirdly is the St. Marc Collection which contains 18 unique weapon skins created by Chemical Alia.</p>

{% include carousel.html folder="article" images="csgo-update-shatter-weapons-40|csgo-update-shatter-weapons-41|csgo-update-shatter-weapons-42|csgo-update-shatter-weapons-43|csgo-update-shatter-weapons-44|csgo-update-shatter-weapons-45|csgo-update-shatter-weapons-46|csgo-update-shatter-weapons-47|csgo-update-shatter-weapons-48|csgo-update-shatter-weapons-49|csgo-update-shatter-weapons-50|csgo-update-shatter-weapons-51|csgo-update-shatter-weapons-52|csgo-update-shatter-weapons-53|csgo-update-shatter-weapons-54|csgo-update-shatter-weapons-55|csgo-update-shatter-weapons-56|csgo-update-shatter-weapons-57" captions=" | | | | | | | | | | | | | | | | | " %}

<p class="subheading">The Canals Collection</p>

<p>Lastly for the weapons collections is everyones favorite map, Canals, and the weapon collection contains designs by Teo~.</p>

{% include carousel.html folder="article" images="csgo-update-shatter-weapons-58|csgo-update-shatter-weapons-59|csgo-update-shatter-weapons-60|csgo-update-shatter-weapons-61|csgo-update-shatter-weapons-62|csgo-update-shatter-weapons-63|csgo-update-shatter-weapons-64|csgo-update-shatter-weapons-65|csgo-update-shatter-weapons-66|csgo-update-shatter-weapons-67|csgo-update-shatter-weapons-68|csgo-update-shatter-weapons-69|csgo-update-shatter-weapons-70|csgo-update-shatter-weapons-71|csgo-update-shatter-weapons-72|csgo-update-shatter-weapons-73|csgo-update-shatter-weapons-74|csgo-update-shatter-weapons-75" captions=" | | | | | | | | | | | | | | | | | " %}

<p class="subheading">Stickers and Graffiti</p>

<p>With all of these skins, Valve has also released a set of Shattered Web inspired skins designed by community artist daniDem.</p>

{% include image.html image="csgo-update-shatter-weapons-76" caption="New Shattered Web Sticker Capsule contents" %}

<p>As well as some new graffiti for the game too.</p>

{% include image.html image="csgo-update-shatter-weapons-77" caption="New Shattered Graffiti Pack contents" %}