---
layout: post
title: "CSGO Tier Rankings: IEM Katowice Minors, iBuyPower Masters and ELEAGUE Invitational"
fulltitle: "CSGO Tier Rankings:<br/>IEM Katowice Minors, iBuyPower Masters and ELEAGUE Invitational"
category: counter-strike
tags: features tier-rankings fps-games esportskingdom palmtoppitbull gradyhooker
image: csgo-tiers-minors-ibuy-eleague
author: esportskingdom
headercredit:
  - name: FaZeClan on Twitter
    link: https://twitter.com/FaZeClan
circa: 2019-01-29 8:00:00 +1300
---
<p>In our first rankings for over a month we see a large amount of movement in every single tier. 7 new teams join the rankings with 6 dropping off the bottom and even the A-Tier is starting to get a little thin with the IEM Katowice Major on the horizon.</p>

<p>Tier Rankings compiled by Jamie "PalmtopPitbull" Wert (<a href="https://twitter.com/PalmtopPitbull">@PalmtopPitbull on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="navi|liquid|mibr" country="ua|us|br" shortnames="NaVi|Liquid|MIBR" change="||" %}

{% include tier-list.html tier="B" teams="faze|mousesports|nip|nrg-2018|ence" country="eu|eu|se|us|fi" shortnames="FaZe|mousesports|NiP|NRG|ENCE" change="down|down|||up" %}

{% include tier-list.html tier="C" teams="big|hellraisers|fnatic|renegades|ghost|cloud9" country="de|eu|se|au|ca|us" shortnames="BIG|HellRaisers|Fnatic|Renegades|Ghost|Cloud9" change="|||||up" %}

{% include tier-list.html tier="D" teams="north|complexity|optic|tyloo|g2|vega|avangar-2018|vitality-2018|spirit|grayhound|furia|winstrike-2018|vici|valiance-2018|envyus" country="dk|us|dk|cn|fr|ru|kz|fr|ru|au|br|ru|cn|rs|us" shortnames="North|compLexity|OpTic|TyLoo|G2|Vega|AVANGAR|Vitality|Spirit|Grayhound|Furia|Winstrike|ViCi|Valiance|Enyvus" change="down|down|down||||||debut|debut|debut|debut|debut|debut|debut" %}

<p class="subheading">Reasons for Selected Teams (Movement or Roster Changes)</p>

<p>FaZe Clan (-1): Despite winning the ELEAGUE invite, they struggled tremendously, and at the iBP Masters they barely even showed up. They need to show us something more with this new roster to move back into A Tier.</p>

<p>mousesports (-1): What can we say about mousesports' horrid performance at the European Minor that hasn't already been said? If they don't show us something to mitigate worries about consistency after the Major ends, they will most certainly continue to move to lower tiers.</p>

<p>ENCE (+1): A fantastic showing at the European Minor nets ENCE a spot in B Tier.</p>

<p>Cloud9 (+1): Great performance at the ELEAGUE Invitational, and trading wins with Fnatic at the iBP Masters was enough to put C9 back in C Tier.</p>

<p>North (-1): A shaky performance at the European Minor coupled with what can only be described as a failure in the Last Chance Qualifier led to our decision to drop North into D Tier.</p>

<p>compLexity (-1): They didn't really even show up at iBP Masters or the ELEAGUE Invitational. They really need to right the ship before the Major, or they could be looking at an early exit.</p>

<p>OpTic (-1): They failed to even take a map at the European Minor. 'Nuff said.</p>

<p>Additionally, seven teams have debuted on the rankings this week; Spirit, Grayhound, Furia, Winstrike, ViCi Gaming, Valiance, Envyus. They were selected because of their performance at their respective minors as well as the 3rd place play-in. After the major we will truly see where they belong in the tier rankings based on performance against higher tier talent.</p>

<p>Also, six teams have fallen off the bottom of the rankings due to recent results; Bravado, Heroic, ex-Space Soldiers, Rogue, Luminosity Gaming and x6tence Gaming.</p>

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
