---
layout: post
title: "IEM Chicago: 5 stories to watch"
fulltitle: "IEM Chicago:<br/>5 stories to watch"
category: counter-strike
tags: features event-previews fps-games palmtoppitbull
image: chicago19-preview
author: palmtoppitbull
headercredit: 
  - name: IEM on Twitter
    link: https://twitter.com/IEM
circa: 2019-07-15 07:49:00 +1200
---
<p>The Groups have been set, and IEM Chicago 2019 is nearly upon us. With that said, it is time to take a look at some of the story-lines that will be on display.</p>

<p class="subheading">Groups</p>
<p>Group A</p>
{% include logolist.html logos="envyus|g2|liquid|mibr"%} 
<p>Group B</p>
{% include logolist.html logos="ence|heroic-2019|renegades|vitality-2018"%} 

<p class="subheading">1. Season 3 of the Intel Grand Slam</p>

<p>Chicago marks the start of Season 3 of the Intel Grand Slam. Even with the new rule set in place, if Team Liquid continues their dominance they can win a second Grand Slam in a calendar year.</p>

<p class="subheading">2. Team Liquid's Dominance</p>

<p>Team Liquid has won the last 5 tournaments they have taken part in (including BLAST Pro LA). This is a dominance that rivals, and surpasses, Astralis's dominance last year. If they manage to win, does that guarantee them favorite status at the Major? Can they continue to perform at this level, or will one of the teams chasing them finally knock them off?</p>

<p class="subheading">3. French CS is Back</p>

<p>Both G2 and Vitality have faced Team Liquid in the Grand Finals of Liquid's last two non-BLAST Pro events, and both teams pushed them to 4 maps. On top of that, the most electrifying player in the world right now is not S1mple, but young French player, ZywOo. French CS has finally come back into relevance and the outlook for the scene hasn't looked this good in years. Can one of these two be the one to take Liquid's crown?</p>

<p class="subheading">4. ENCE</p>

<p>They proved they belonged in the discussion at the Major. They proved time and again that wasn't a fluke, and yet people still doubt the Finnish squad. They need a good performance at this event if they want to remind everyone they deserve to continue to receive invites, and that they are a threat going forward.</p>

<p class="subheading">5. Major Looming</p>

<p>IEM Chicago will be the last big international LAN besides the Minors before the player break. This tournament could very well set the tone for teams headed into the StarLadder Major and have a big impact on how things shake out in Berlin.</p>