---
layout: post
title: "Valve Major is going to Rio de Janeiro"
fulltitle: "Valve Major is going to Rio de Janeiro"
category: counter-strike
tags: event-news fps-games gradyhooker eslone-rio-2020
tournament: eslone-rio-2020
image: esl-one-rio-major
author: gradyhooker
headercredit: 
  - name: ESLCS on Twitter
    link: https://twitter.com/ESLCS
circa: 2019-12-12 09:35:34 +1300
hasTweets: true
---
<p>ESL this morning confirmed that the first CSGO major of 2020 will be hosted by themselves and it will be in Rio de Janeiro, Brazil for the first time! We have all the details and reactions to the big announcement.</p>

<p>ESL One Rio 2020 will be in May, with all three stages of the event taking place over a two week period from the 11th May - 24th May.</p>

<li>The New Challengers Stage: May 11th - 14th, 2020</li>

<li>The New Legends Stage: May 16th - 19th, 2020</li>

<li>The New Champions Stage: May 21st - 24th, 2020</li>

<p>The first two stages will be held backstage away from a crowd, but the New Champions stage will be at the Jeunesse Arena and tickets go on sale <a href='https://www.esl-one.com/csgo/rio/pt/tickets/'>tomorrow</a>. The tickets range from R$70 for a one-day ticket to R$1999 for a 4-day Global Elite Lounge pass for 15 guests.</p>

<p>The Minors will all be held at the same time from April 26 through to May 3. The two teams that place at the top of each region (Asia, Americas, Europe, and CIS) will advance into the New Challengers Stage. The third place teams from each minor get one more chance to fight for two final spots in the New Challengers Stage, joining the six teams who advance based on results in the last major:</p>

{% include logolist.html logos="g2-2019|cr4zy|mibr|north|faze-solid|mousesports" %}

<p>The top eight teams from the New Challengers Stage will advance on to the New Legends Stage and play against the right teams that qualified based on results in the last major:</p>

{% include logolist.html logos="astralis|liquid-2019|navi|avangar-2019|ence|vitality-2018|evilgeniuses-2019|100thieves" %}

<p>In 2017 ESL talked to some of the Brazilian CSGO players about having a major in Brazil and they tweeted out the video:</p>

{% include tweet.html tweet="1204838262847623168" %}

