---
layout: post
title: "15 of the DreamLeague Season 13 (Leipzig Major) teams finalized"
fulltitle: "15 of the DreamLeague Season 13 (Leipzig Major) teams finalized"
category: dota-2
tags: event-previews moba-rts-games gradyhooker
image: dreamleague-season13-teams-finalized
author: gradyhooker
circa: 2019-12-05 13:32:00 +1300
---
<p>DreamLeague Season 13 is taking place in January next year and is the second major of the 2019/20 Dota Pro Circuit season so every team wants to be there, but which 15 teams were able to make it through their region's qualifier and will be flying to Leipzig?</p>

<p>Coming through from the Europe Qualifier, both Team Liquid and Team Secret claim spots from the Upper Bracket and Alliance slip through and grab the third spot from the Lower Bracket.</p>

<p>The China Qualifier saw Invictus Gaming and ViCi Gaming grab the top two spots and Team Aster crush EHOME to secure the final Chinese spot at the major.</p>

<p>Over to Southeast Asia and we see Reality Rift defeating Cignal Ultra and Fnatic defeating TNC Predator for the top two placings, and then in the Lower Bracket TNC Predator stamp their passport with a win over Cignal Ultra.</p>

<p>With only two spots for CIS Region teams a first place team was crowned in Virtus.Pro and then a Lower Bracket winner in Natus Vincere after they clawed back from losing in round one.</p>

<p>The North Americans fought hard, but ultimately Choas Esports Club reigned supreme to take the top spot and was first to qualify, with Evil Geniuses not too far behind after a redeeming win over the Fighting PandaS.</p>

<p>The last region-based qualifier saw the South American teams go head-to-head and paiN Gaming coming out victorious. In second place was beastcoast, who had made it all the way to the Upper Bracket Finals.</p>

{% include image.html image="dreamleague-season13-teams-finalized-1" caption="WePlay! Bukovel Minor 2020" %}

<p>The final spot of 16 in the DreamLeague Season 13 Leipzig Major will be decided at the WePlay! Bukovel Minor 2020 which is played January 9th - 12th in the Ukraine. Invited will be 8 teams that lost out in their regional qualifiers and can best the other middle-placing teams from their region.</p>

<p>Full team lists of all 15 teams currently qualified are below:</p>

{% include logoheadline.html logo="liquid" headline="Team Liquid" size="tiny" %}
{% include teamlist.html logo="liquid" players="Michael 'miCKe' Vu|Max 'qojqva' Bröcker|Samuel 'Boxi' Svahn|Tommy 'Taiga' Le|Aydin 'iNSaNiA' Sarkohi|William 'Blitz' Lee (Coach)" country="SE|DE|SE|NO|SE|US" %}

{% include logoheadline.html logo="secret" headline="Team Secret" size="tiny" %}
{% include teamlist.html logo="secret" players="Lasse Aukusti 'MATUMBAMAN' Urpalainen|Michał 'Nisha' Jankowski|Ludwig 'zai' Wåhlberg|Yazied 'YapzOr' Jaradat|Clement 'Puppey' Ivanov|Lee 'Heen' Seung Gon (Coach)" country="FI|PL|SE|JO|EE|KR" %}

{% include logoheadline.html logo="alliance" headline="Alliance" size="tiny" %}
{% include teamlist.html logo="alliance" players="Nikolay 'Nikobaby' Nikolov|Linus 'Limmp' Blomdin|Neta '33' Shapira|Simon 'Handsken' Haag|Adrian 'Fata' Trinks" country="BG|SE|IL|SE|DE" %}

{% include logoheadline.html logo="invictus" headline="Invictus Gaming" size="tiny" %}
{% include teamlist.html logo="invictus" players="Jin 'flyfly' Zhiyi|Zhou 'Emo' Yi|Thiay 'JT-' Jun|Hu 'Kaka' Liangzhi|Chan 'Oli' Chon Kien|Su 'super' Peng (Coach)" country="CN|CN|MY|CN|MY|CN" %}

{% include logoheadline.html logo="vici" headline="Vici Gaming" size="tiny" %}
{% include teamlist.html logo="vici" players="Zhang 'Eurus' Chengjun|Zeng 'Ori' Jiaoyang|Zhou 'Yang' Haiyang|Xiong 'Pyw' Jiahan|Ding 'Dy' Cong|Bai 'rOtK' Fan (Coach)" country="CN|CN|CN|CN|CN|CN" %}

{% include logoheadline.html logo="aster" headline="Team Aster" size="tiny" %}
{% include teamlist.html logo="aster" players="Song 'Sccc' Chun|Kee Chyuan 'ChYuan' Ng|Lin 'Xxs' Jing|Ye 'BoBoKa' Zhibiao|Pan 'Fade' Yi|Tong 'Mikasa' Junjie (Coach)" country="CN|MY|CN|CN|CN|CN" %}

{% include logoheadline.html logo="realityrift" headline="Reality Rift" size="tiny" %}
{% include teamlist.html logo="realityrift" players="Andrew 'Drew' Halim|Vincent 'AlaCrity' Hiew Teck Yoong|Lee 'kYxY' Kong Yang|Ravdan 'Hustla' Narmandakh|Wong 'NutZ' Jeng Yih|Nguyen 'Mikadzan' Binh Nguyen (Coach)" country="ID|MY|MY|MN|SG|VN" %}

{% include logoheadline.html logo="fnatic" headline="Fnatic" size="tiny" %}
{% include teamlist.html logo="fnatic" players="Nuengnara '23savage' Teeramahanon|Kam 'Moon' Boon Seng|Daryl Koh 'iceiceice' Pei Xiang|Djardel Jicko B. 'DJ' Mampusti|Anucha 'Jabz' Jirawong" country="TH|MY|SG|PH|TH" %}

{% include logoheadline.html logo="tncpredator" headline="TNC Predator" size="tiny" %}
{% include teamlist.html logo="tncpredator" players="Kim 'Gabbi' Villafuerte|Armel Paul 'Armel' Tabios|Damien 'kpii' Chok|Timothy John 'Tims' Randrup|Park 'March' Tae-won" country="PH|PH|AU|PH|KR" %}

{% include logoheadline.html logo="virtuspro-2019" headline="Virtus.pro" size="tiny" %}
{% include teamlist.html logo="virtuspro-2019" players="Egor 'epileptick1d' Grigorenko|Vladimir 'No[o]ne' Minenko|Roman 'Resolut1on' Fominok|Vitalie 'Save-' Melnic|Alexey 'Solo' Berezin|Anatoly 'boo1k' Ivanov (Coach)" country="RU|UA|UA|MD|RU|RU" %}

{% include logoheadline.html logo="navi" headline="Natus Vincere" size="tiny" %}
{% include teamlist.html logo="navi" players="Vladislav 'Crystallize' Krystanek|Idan 'MagicaL' Vardanian|Pavel '9pasha' Khvastunov|Bakyt 'Zayac' Emilzhanov|Ilyas 'illias' Ganeev|Andrey 'Mag' Chipenko (Coach)" country="UA|IL|RU|KG|RU|UA" %}

{% include logoheadline.html logo="chaos" headline="Chaos Esports Club" size="tiny" %}
{% include teamlist.html logo="liquid" players="Yawar 'YawaR' Hassan|Quinn 'CCnC' Callahan|Dmitry 'DM' Dorokhin|Arif 'MSS' Anwar|Avery 'SVG' Silverman" country="PK|US|RU|US|US" %}

{% include logoheadline.html logo="evilgeniuses-2019" headline="Evil Geniuses" size="tiny" %}
{% include teamlist.html logo="evilgeniuses-2019" players="Artour 'Arteezy' Babaev|Abed 'Abed' Azel L. Yusop|Roman 'RAMZES666' Kushnarev|Andreas Franck 'Cr1t-' Nielsen|Tal 'Fly' Aizik" country="CA|PH|RU|DK|IL" %}

{% include logoheadline.html logo="pain" headline="paiN Gaming" size="tiny" %}
{% include teamlist.html logo="pain" players="William 'hFn' Medeiros|Leonardo 'Mandy' Viana|Danylo 'Kingrd' Nascimento|Kaue 'Dunha1' Camuci|Anderson '444' Santos" country="BR|BR|BR|BR|BR" %}

{% include logoheadline.html logo="beastcoast" headline="beastcoast" size="tiny" %}
{% include teamlist.html logo="beastcoast" players="Hector Antonio 'K1' Rodriguez|Jean Pierre 'Chris Luck' Gonzales|Adrian 'Wisper' Cespedes Dobles|Elvis 'Scofield' De la Cruz Peña|Steven 'StingeR' Vargas" country="PE|PE|BO|PE|PE" %}