---
layout: post
title: "CSGO Tier Rankings: ESL Pro League Season 9 and ECS Season 7 Finals"
fulltitle: "CSGO Tier Rankings:<br/>ESL Pro League Season 9 and ECS Season 7 Finals"
category: counter-strike
tags: features tier-rankings fps-games esportskingdom
image: csgo-tiers-eslproleague-ecs-finals
author: esportskingdom
headercredit: 
  - name: TeamLiquid on Twitter
    link: https://twitter.com/TeamLiquid
circa: 2019-06-26 21:50:00 +1200
---
<p>Both of the big leagues came to a close and had massive LAN Grand Finals showing exactly what teams are ready to bring it just before the major. There were a lot of teams that underperformed and that is reflected in a number of down-ranks in this edition of the Tier Rankings.</p>

<br/>

{% include tier-list.html tier="S" teams="" country="" shortnames="" change="" %}

{% include tier-list.html tier="A" teams="astralis|liquid|ence" country="dk|us|fi" shortnames="Astralis|Liquid|ENCE" change="||" %}

{% include tier-list.html tier="B" teams="navi|faze-solid|vitality-2018|nrg-2018|mousesports|furia|g2" country="ru|eu|fr|us|eu|br|fr" shortnames="NaVi|FaZe|Vitality|NRG|mousesports|FURIA|G2" change="down||||||up" %}

{% include tier-list.html tier="C" teams="mibr|nip|fnatic|renegades|north" country="br|se|se|au|dk" shortnames="MIBR|NiP|Fnatic|Renegades|North" change="down|down|down|||||" %}

{% include tier-list.html tier="D" teams="big|hellraisers|avangar-2018|cr4zy|windigo|heroic-2019|grayhound|cloud9|optic|complexity-2019|ancient|gamerlegion" country="de|eu|kz|rs|bg|dk|au|us|dk|us|se|eu" shortnames="BIG|HellRaisers|AVANGAR|CR4ZY|Windigo|Heroic|Grayhound|Cloud9|OpTic|compLexity|Ancient|GamerLegion" change="down|down|down|||||||debut|debut|debut" %}

<br/>

<p class="subheading">Reasons for Selected Teams (Movement or Roster Changes)</p>

<p>NaVi (-1): When you look at the performance of the other A-Tier teams, NaVi simply does not belong up there</p>

<p>G2 (+1): G2 showed a lot of promise recently and managed to make it all the way to the Grand Finals and put up a good fight against Team Liquid</p>

<p>MIBR, NiP, Fnatic (-1): Three formerly great teams dropped down to C-Tier this week because of recent performances, roster changes and inconsistency.</p>

<p>BIG, HellRaisers, AVANGAR (-1): Some of these teams should have been moved down earlier, but now they will settle into D-Tier unless they can show some good performances in the upcoming tournaments.</p>

<p>Additionally, compLexity has reentered the rankings alongside newcomers Team Ancient and GamerLegion.</p>

<p>Finally, both MVP PK and Ghost Gaming have fallen off the rankings as well in this edition.</p>

<br/>

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
