---
layout: post
title: "CSGO Tier Rankings: IEM Sydney, DreamHack Rio de Janeiro and BLAST Miami"
fulltitle: "CSGO Tier Rankings:<br/>IEM Sydney, DreamHack Rio de Janeiro and BLAST Miami"
category: counter-strike
tags: features tier-rankings fps-games esportskingdom
image: csgo-tiers-iemsydney-blast-dreamhack
author: esportskingdom
headercredit: 
  - name: IEM on Twitter
    link: https://twitter.com/IEM
circa: 2019-05-07 22:00:00 +1200
---
<p>Grady has returned home from IEM Sydney and that means it is time for the team to sit down and try to figure out a new set of tier rankings. We have 2 teams dropping out of the rankings and three debuts, one of which is the highest debut of all time.</p>

<br/>

{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="navi|liquid" country="ua|us" shortnames="NaVi|Liquid" change="|" %}

{% include tier-list.html tier="B" teams="ence|mibr|faze-solid|nip|renegades|vitality-2018|fnatic|nrg-2018|mousesports" country="fi|br|eu|se|au|fr|se|us|eu" shortnames="ENCE|MIBR|FaZe|NiP|Renegades|Vitality|Fnatic|NRG|mousesports" change="down||||||||debut" %}

{% include tier-list.html tier="C" teams="big|hellraisers|g2|north|avangar-2018" country="de|eu|fr|dk|kz" shortnames="BIG|HellRaisers|G2|North|AVANGAR" change="||||up" %}

{% include tier-list.html tier="D" teams="complexity|tyloo|furia|vici|valiance-2018|windigo|heroic-2019|grayhound|mvp" country="us|cn|br|cn|rs|bg|dk|au|kr" shortnames="compLexity|TyLoo|Furia|ViCi|Valiance|Windigo|Heroic|Grayhound|MVP PK" change="|||||||debut|debut" %}

<br/>

<p class="subheading">Reasons for Selected Teams (Movement or Roster Changes)</p>

<p>ENCE (-1): Been almost a month since we've seen them in action.</p>

<p>mousesports (Debut): We think the new roster at least proved that they are able to play with some of the better teams out there. This is an initial ranking, and likley to be highly volatile until we get a good sample size to base a more permanent ranking off of.</p>

<p>AVANGAR (+1): AVANGAR have shown in recent tournaments that they are better than the D-Tier teams, do they belong with the C-Tier teams? Only time will tell.</p>

<p>Grayhound (Debut): A good showing at IEM Sydney has Grayhound back in the rankings.</p>

<p>MVP PK (Debut): Like Grayhound a decent showing at IEM Sydney has MVP PK back in the rankings.</p>

<p>Team Spirit and AGO were removed from the rankings.</p>

<br/>

<p class="subheading">Explanation of Tiers</p>

<li>S-Tier: Teams you expect to win every tournament they are in. They are the current kings of the Counter-Strike scene.</li>

<li>A-Tier: Teams that can be expected to easily beat teams in the tiers below, and may even upset an S-Tier team once in a while. Regularly makes the playoffs.</li>

<li>B-Tier: Teams that; Have shown recent potential or Former A-Tier teams with recent and extended periods of poor play.</li>

<li>C-Tier: Teams that; Have had decent showings at recent international LANs or Teams that may have dropped off recently, but have historically decent placements and can potentially make the playoffs.</li>

<li>D-Tier: Teams that have appeared at a few international LANs recently, likely via qualifiers, but have not shown skill consistently on the level of the other tiers. Rarely make playoffs if they ever have.</li>

<p>These rules are not exact, and they are not hard and fast. There are always exceptions. If there were not, it would become impossible to rank teams due to the nature of the game.</p>
