---
layout: post
title: "IEM Katowice 2019 - Quarterfinals Day 1 Preview"
fulltitle: "IEM Katowice 2019 - Quarterfinals Day 1 Preview"
category: counter-strike
tags: event-previews fps-games palmtoppitbull iem-katowice-2019
tournament: iem-katowice-2019
image: katowice19-quarterfinal1-preview
author: palmtoppitbull
headercredit:
  - name: ESLCS on Twitter
    link: https://twitter.com/ESLCS
circa: 2019-02-28 18:40:00 +1300
---
<p>The first day of the IEM Katowice Champions Stage is here, and we have two wonderful matches today. We will see three of the top teams in the world and a team well-known for their upsets go head-to-head for only two spots in the Semifinals of the IEM Katowice Major 2019.</p>

{% include team-info.html logo="navi" logo2="faze" text="Neither team was head and shoulders above the other for the entirety of year last year, but NaVi began to look much better towards the end of the year. So far in this tournament the only series loss NaVi has suffered is to Team Liquid, who also made it to the Quarterfinals. FaZe meanwhile lost to both Renegades and AVANGAR, one of which fell short of making it to the play-offs." %}

<p>After going down 1-2, FaZe had to fight back in two best-of-three's against compLexity and Cloud9. Throughout those matches and their other ones, they did not look particularly strong. On the other hand NaVi didn't beat a single team who advanced, but looked like the stronger team during their run.</p>

<p>Given recent history and current form, I have to give this match to Natus Vincere, but it is not beyond belief that FaZe Clan could find their stride and give them a run for their money.</p>

{% include team-info.html logo="liquid" logo2="ence" text="There is no previous history between these two teams at LAN. Team Liquid looked less stellar than usual, with close single-map matches against the Ninjas in Pyjamas and AVANGAR. Though Liquid did beat NaVi to advance, there were some areas that the team clearly need to improve on to hopefully make it to the grand finals of this CSGO Major." %}

<p>ENCE fought through the Minor, the Challengers Stage and the Legends Stage to be here - They did well at the Challengers Stage before going 0-2 against Renegades and HellRaisers. They managed to reverse sweep their way to the Champions Stage by beating BIG, G2 Esports and AVANGAR in best-of-three's and claim a spot in the play-offs. Only BIG took them to the decider map of the three teams they faced.</p>

<p>With no prior matches to go off of, I have to base this purely off strength of the team and how well they have played. Team Liquid is easily the better team and therefore they are my pick to advance to the Semifinals to face the winner of NaVi vs. FaZe.</p>