---
layout: post
title: "CSGO Tier Rankings: BLAST Premier Spring 2020 Season"
fulltitle: "CSGO Tier Rankings:<br/>BLAST Premier Spring 2020 Season"
category: counter-strike
tags: tier-ranking fps-games esportskingdom phoebedua gradyhooker csgo-tiers
image: csgo-tiers-blastspring
author: esportskingdom
headercredit:
  - name: BLASTPremier on Twitter
    link: https://twitter.com/BLASTPremier/
circa: 2020-02-19 18:15:00 +1300
---
<p>With the Holiday Season complete, it was time to start the BLAST Premier Spring Season. For this issue of the Tier Rankings, we have major shake ups in the A and B-Tiers, as well as some debuts that jumped straight into C-Tier on their first performances.</p>

<p>Tier Rankings compiled by Phoebe "Dualism" Dua (<a href="https://twitter.com/Dualism97">@Dualism97 on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

<div class="tier-list">
{% include tier-list.html tier="S" teams="astralis" country="dk" shortnames="Astralis" change="" %}

{% include tier-list.html tier="A" teams="liquid-2019|mousesports|fnatic-2020|navi" country="us|eu|se|ua" shortnames="Liquid|mousesports|Fnatic|NaVi" change="|||up" %}

{% include tier-list.html tier="B" teams="evilgeniuses-2020|vitality-2018|100thieves|g2-2019|faze-solid" country="us|fr|au|fr|eu" shortnames="Evil Geniuses|Vitality|100T|G2|FaZe" change="down|||up|up" %}

{% include tier-list.html tier="C" teams="nip|ence|mibr|madlions|og|complexity-2019" country="se|fi|br|dk|eu|eu" shortnames="NiP|ENCE|MIBR|MAD Lions|OG|Complexity" change="|||up|debut|debut" %}

{% include tier-list.html tier="D" teams="heroic-2019|virtuspro-2019|furia|north-2020|c0ntact|renegades|godsent|forze-2018|cloud9|big|dignitas-2019" country="dk|kz|br|dk|eu|au|eu|ru|us|de|se" shortnames="Heroic|VirtusPro|FURIA|North|c0ntact|Renegades|GODSENT|forZe|Cloud9|BIG|Dignitas" change="down|down|down|||||||debut|debut" %}
</div>
