---
layout: post
title: "Dota2 Tier Rankings: OGA Dota PIT, BEYOND EPIC, BTS Pro Series, and more"
fulltitle: "Dota2 Tier Rankings:<br/>OGA Dota PIT, BEYOND EPIC, BTS Pro Series, and more"
category: dota-2
tags: tier-ranking fps-games esportskingdom gradyhooker dota2-tiers
image: dota2-tiers-oga-bts-beyond
socialimage: dota2-tiers-oga-bts-beyond-social
author: esportskingdom
circa: 2020-08-08 10:00:00 +1200
---
<p>There have been a bunch of regional tournaments in the past few months hosted by OGA Dota PIT, BEYOND EPIC, BTS Pro Series and other awesome TOs. It feels like a good time for the next edition of our Dota2 Tier Rankings!</p>

<p>PLEASE NOTE: Different regions tiers are not comparable - teams that are in the Europe A-Tier are not necessarily equal to those in the SEA A-Tier. Each region has been ranked individually and isolated from the others. We have also temporarily removed the S-Tier, reserving that for when the regions collide again and a 'King of Dota2' can truly be named.</p>

<p>NOTE: Esports Kingdom is on the look-out for someone to help with our Dota2 Tier Rankings. If you are interest, please contact <a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a> and we will see what we can do.</p>

<div class="tier-list-controller">
	<div class="tier-list-button tier-list-button-yellow tier-list-button-active" onclick="showTierRanking(this, 'sea')">SEA</div>
	<div class="tier-list-button tier-list-button-orange" onclick="showTierRanking(this, 'china')">China</div>
	<div class="tier-list-button tier-list-button-red" onclick="showTierRanking(this, 'europecis')">Europe + CIS</div>
	<div class="tier-list-button tier-list-button-blue" onclick="showTierRanking(this, 'americas')">Americas</div>
</div>

<div class="tier-list tier-list-yellow tier-list-sea">
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="geekfam" shortname="Geek Fam" country="ph" change="up2" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="fnatic-2020" shortname="Fnatic" country="sea" change="down" %}
		{% include tier-list-team.html team="boom" shortname="BOOM" country="id" change="" %}
		{% include tier-list-team.html team="tncpredator" shortname="TNC Predator" country="ph" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="adroit" shortname="Adroit" country="ph" change="down" %}
		{% include tier-list-team.html team="realityrift" shortname="Reality Rift" country="sea" change="up" %}
		{% include tier-list-team.html team="t1" shortname="T1" country="id" change="up" %}
		{% include tier-list-team.html team="neon" shortname="Neon" country="ph" change="up" %}
		{% include tier-list-team.html team="execration-2020" shortname="Execration" country="ph" change="debut" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="cignalultra" shortname="Cignal Ultra" country="ph" change="" %}
		{% include tier-list-team.html team="new" shortname="NEW" country="my" change="debut" %}
		{% include tier-list-team.html team="dotahero" shortname="Dotahero" country="my" change="debut" %}
		{% include tier-list-team.html team="496" shortname="496" country="vn" change="debut" %}
	</div>
</div>

<div class="tier-list tier-list-orange tier-list-china tier-list-inactive">
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="psglgd" shortname="PSG.LGD" country="cn" change="down" %}
		{% include tier-list-team.html team="invictus" shortname="Invictus" country="cn" change="" %}
		{% include tier-list-team.html team="royalnevergiveup" shortname="RNGU" country="cn" change="" %}
		{% include tier-list-team.html team="vici" shortname="ViCi" country="cn" change="" %}
		{% include tier-list-team.html team="cdec" shortname="CDEC" country="cn" change="up" %}
		{% include tier-list-team.html team="ehome-2018" shortname="EHOME" country="cn" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="aster" shortname="Team Aster" country="cn" change="" %}
		{% include tier-list-team.html team="sparkingarrow" shortname="Spark. Arrow" country="cn" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="sirius" shortname="Team Sirius" country="cn" change="" %}
		{% include tier-list-team.html team="ehomeimmortal" shortname="EHOME.Imm" country="cn" change="debut" %}
		{% include tier-list-team.html team="igvitality" shortname="iG.Vitality" country="cn" change="debut" %}
	</div>
</div>

<div class="tier-list tier-list-red tier-list-europecis tier-list-inactive">
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="secret" shortname="Secret" country="eu" change="" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="alliance" shortname="Alliance" country="se" change="down" %}
		{% include tier-list-team.html team="nigma" shortname="Nigma" country="eu" change="" %}
		{% include tier-list-team.html team="liquid-2019" shortname="Liquid" country="se" change="" %}
		{% include tier-list-team.html team="og" shortname="OG" country="eu" change="" %}
		{% include tier-list-team.html team="flytomoon" shortname="FlyToMoon" country="ua" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="vpprodigy" shortname="VP.Prodigy" country="ru" change="down" %}
		{% include tier-list-team.html team="vikingg" shortname="Vikin.gg" country="eu" change="down" %}
		{% include tier-list-team.html team="virtuspro-2019" shortname="Virtus.Pro" country="cis" change="down" %}
		{% include tier-list-team.html team="hellraisers-2018" shortname="HellRaisers" country="ru" change="" %}
		{% include tier-list-team.html team="navi" shortname="NaVi" country="ru" change="" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="nip" shortname="NiP" country="eu" change="down" %}
		{% include tier-list-team.html team="unique" shortname="Unique" country="ru" change="" %}
		{% include tier-list-team.html team="b8" shortname="B8" country="cis" change="" %}
		{% include tier-list-team.html team="empire" shortname="Empire" country="cis" change="debut" %}
	</div>
</div>

<div class="tier-list tier-list-blue tier-list-americas tier-list-inactive">
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="quincycrew" shortname="Quincy Crew" country="us" change="" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="evilgeniuses-2020-2" shortname="Evil Geniuses" country="us" change="down" %}
		{% include tier-list-team.html team="cr4zy" shortname="CR4ZY" country="ca" change="" %}
		{% include tier-list-team.html team="thunderpredator" shortname="Thunder Pr." country="pe" change="" %}
		{% include tier-list-team.html team="4zoomers" shortname="4 Zoomers" country="us" change="debut" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="beastcoast" shortname="beastcoast" country="pe" change="down" %}
		{% include tier-list-team.html team="businessassociates" shortname="business" country="us" change="" %}
		{% include tier-list-team.html team="midasclub" shortname="Midas Club" country="br" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="noping" shortname="NoPing" country="br" change="down" %}
		{% include tier-list-team.html team="infamous-2019" shortname="Infamous" country="pe" change="debut" %}
		{% include tier-list-team.html team="infinity-lol" shortname="Infinity" country="pe" change="debut" %}
	</div>
</div>