---
layout: post
title: "Call of Duty Tier Rankings: CoD League Weeks 11-13"
fulltitle: "Call of Duty Tier Rankings:<br/>CoD League<br/>Weeks 11-13"
category: call-of-duty
tags: tier-ranking fps-games esportskingdom gradyhooker cod-tiers
image: cod-tiers-weeks11-13
socialimage: cod-tiers-weeks11-13-social
author: esportskingdom
circa: 2020-07-29 20:00:00 +1200
---
<p>The Regular Season is completed as now we know how the CoD League teams will be seeded going into the Playoffs. Two teams take the top spot in S-Tier as well as the top seeding right into the Quarterfinals.</p>

<p>Flags behind the team logos will match the country that they representing from now on for the Call of Duty League.</p>

<p>Tier Rankings compiled by Coy DePratt (<a href="https://twitter.com/coydepratt">@coydepratt on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

<div class="tier-list">
	{% include tier-list-header.html tier="S" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="atlantafaze" shortname="FaZe" country="us" change="up" %}
		{% include tier-list-team.html team="dallasempire" shortname="Empire" country="us" change="up" %}
	</div>

	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="floridamutineers" shortname="Mutineers" country="us" change="down" %}
		{% include tier-list-team.html team="chicagohuntsmen" shortname="Huntsmen" country="us" change="" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="londonroyalravens" shortname="Royal Ravens" country="uk" change="" %}
		{% include tier-list-team.html team="newyorksubliners" shortname="Subliners" country="us" change="" %}
		{% include tier-list-team.html team="opticgamingla" shortname="OpTic" country="us" change="" %}
		{% include tier-list-team.html team="torontoultra" shortname="Ultra" country="ca" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="parislegion" shortname="Legion" country="fr" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="minnesotarokkr" shortname="RØKKR" country="us" change="down" %}
		{% include tier-list-team.html team="losangelesguerillas" shortname="Guerillas" country="us" change="down" %}
		{% include tier-list-team.html team="seattlesurge" shortname="Surge" country="us" change="" %}
	</div>
</div>