---
layout: post
title: "Rogue sign Giants Gaming core in time for Pro League Season 11"
fulltitle: "Rogue sign Giants Gaming core in time for Pro League Season 11"
category: rainbow-six
tags: player-news fps-games gradyhooker
image: rogue-signs-giants-core
author: gradyhooker
headercredit: 
  - name: Rogue on Twitter
    link: https://twitter.com/Rogue
circa: 2020-01-07 07:50:00 +1300
hasTweets: true
---
<p>Rogue hasn't had a full 5-man roster for Rainbow Six since November last year, but now they are returning just in time for Pro League Season 11. They have signed the core of Giants Gaming and then added a young German talent from OrgLess as their fifth.</p>

{% include tweet.html tweet="1214192565672656898" %}

<p>Previously Rogue has been an entirely American roster, but in November of last year the team fell apart. Rogue placed 7th in Pro League Season 10 meaning they had to face relegation and because of a loss to 2Faced (now Tempo Storm), they were sent down to the Challenger League. This is when Slashug, Ecl9pse, and VertcL left for Luminosity, DarkZero, and Reciprocity respectively and Rogue were left without a full team.</p>

<p>Rogue's president and founder Franklin Villarreal comments on the team:</p>

<p class="quote">First of all, we are happy to have found an extremely talented and consistent new team. Rogue has always been a believer in R6S and we wanted to continue to show our commitment to the scene. After North American relegations there wasn't much time to make any decisions before things started being decided for us by outside forces. We worked quickly to secure the best possible future for Rogue in Rainbow Six and we have done it with this roster. I can't wait to see what they can achieve with our infrastructure and support.</p>

<p>The Giants Gaming core of Hicks, risze, and AcceZ have been playing together since Millenium in 2018, then through LeStream Esport (where they picked up korey), Looking For Org, Giants Gaming, and now in Rogue. The fifth member of the team is 21 year old Jan 'ripz' Hucke. He has recently played in Natus Vincere and OrgLess with good results in German National 2019.</p>

<p>Because they picked up the core of Giants Gaming, Rogue takes over their Pro League Season 11 Europe spot and will be competing against Chaos Esports Club, Team Empire, G2 Esports, Natus Vincere, Team Vitality, BDS Esports, and forZe in the coming months.</p>

<p>The current Rainbow Six Siege roster for Rogue is:</p>

{% include teamlist.html logo="rogue" players="Théophile 'Hicks' Dupont|Valentin 'risze' Liradelfo|Maurice 'AceeZ' Erkelenz|Lukas 'korey' Zwingmann|Jan 'ripz' Hucke" country="FR|BE|DE|DE|DE" %}