---
layout: post
title: "ESL and NetEase launch mobile MOBA game MARVEL Super War in ANZ"
fulltitle: "ESL and NetEase launch mobile MOBA game MARVEL Super War in ANZ"
category: multiple-games
tags: event-news other-games gradyhooker
image: esl-netease-marvel-super-war
socialimage: esl-netease-marvel-super-war-social
author: gradyhooker
headercredit: 
  - name: MARVEL Super War
    link: https://www.marvelsuperwar.com/
circa: 2020-09-03 20:30:00 +1200
---
<p>We talk to Ben Green from ESL Australia about working with NetEase to launch the mobile MOBA game MARVEL Super War in Australia & New Zealand, setting up a long-term competitive ecosystem, and the rise of mobile esports.</p>

<p>Players can visit the App Store or Google Play Store to download now at <a href="http://esl.gg/superwar">http://esl.gg/superwar</a>. Those who sign up and log in for 7 consecutive days will receive a permanent Hero - Iron Man.</p>

<p>All of the quotes in this article are from Ben Green, ESL Australia's Head Account Manager.</p>

<p class="quote">We do a bit of work with NetEase on other games and particularly around Asia. They have got a game coming out in Australia, they're going to launch with servers, and they want to launch the esports side of it straight off the bat. It's not something we always get to do, so we jumped at it, because it's a really cool opportunity.</p>

<p class="subheading">Hero Spotlights</p>

<p>ESL Australia are working with local content creators from Australia and New Zealand to produce a series of videos introducing the characters in MARVEL Super Wars. They aim to act as a tutorial of sorts and help players that might be new to the game.<p/>

<p class="quote">There wasn't really that much English language content around MARVEL Super War yet, so that was something that we could help with. We have a lot of very enthusiastic gamers who work as part of ESL and we have the capabilities to create content. If you're new to the space, it may be you're a Marvel fan, but you haven't played MOBAs before, we wanted to make that transition across easier for people in Australia who were keen to get involved.</p>

{% include video.html video="7rYgCpU6iLk" caption="Hulk Hero Spotlight video for MARVEL Super War created by ESL Australia" %}

<p class="subheading">Tournaments and Esports</p>

<p class="quote">I think for the beginning it's definitely about easing in the community, because even for esports enthusiasts in Australia, mobile esports hasn't been as big here as it is in other regions.</p>

<p>Alongside the launch, ESL will be hosting two MARVEL Super War tournaments on their ESL Play platform - open for anyone to enter.</p>

<p class="quote">I suspect there's going to be plenty of people who are interested in the MOBA genre, but maybe haven't played it on mobile before, so we definitely want to ease people into the esports side of things. The ESL Play platform is useful for this because the site has a ton of esports enthusiasts on it already. So you can bring on the new game and people who want to check it out whilst also providing an opportunity for everyone who's already on ESL Play to see that it's there and go "Oh, cool I might give this a try".</p>

<p>ESL's Ben Green is very open about wanting to grow with the community and not force anything upon them.</p>

<p class="quote">It's not about dictating for a community what they should want, how they should want to play this game, or how they want their esports ecosystem to look like. We want to grow it with them so that we're providing what the community is after.</p>

{% include image.html image="esl-netease-marvel-super-war-1" caption="Screenshot of a the Versus screen for a game of MARVEL Super War" %}

<p class="subheading">Upcoming Content</p>

<p>Ben gave us a view into the future of MARVEL Super Wars in the coming weeks aroudnw hat types of content we shoudl epxect to see.</p>

<p class="quote">We'll be creating more video content, like you've already seen. If you have a particular hero that you want to learn, or a favorite hero in the Marvel universe already - we're going to see more hero spotlights. We're going to be working with influencers here in Australia and New Zealand to play the game and to participate in our tournaments. Then we will be releasing tournament's very shortly that, people will be able to sign up and they're free to sign up. You literally have nothing to lose by playing.</p>

<p>Lastly we talk about how wide of an audience seem to be interested in the concept of mobile MOBA esports.</p>

<p class="quote">I've already seen a lot of people, even just in the esports space, who I wouldn't necessarily have considered mobile gaming fans who are like "Oh, I've downloaded it. I've given it a go. I actually really liked this." I feel like we're reaching quite a diverse audience. Normally it would be shooter fans like one thing and MOBA fans like one thing, but it seems to be quite a diverse audience just within our own ESL ecosystem who were already interested in the game. I'm hoping that we'll see a really diverse community join up and hopefully some good tournaments.</p>

<p>For more details about MARVEL Super War, visit their <a href="http://www.marvelsuperwar.com">Official Website</a>, <a href="https://twitter.com/MARVELSupWar">Twitter</a>, <a href="https://www.facebook.com/MARVELSuperWar/">Facebook</a>, <a href="http://www.youtube.com/c/MarvelSuperWar">YouTube</a>, or <a href="https://www.instagram.com/MARVELSuperWar/">Instagram</a>.