---
layout: post
title: "ESL One Birmingham South East Asia - Playoffs Preview"
fulltitle: "ESL One Birmingham<br/>South East Asia<br/>Playoffs Preview"
category: dota-2
tags: event-previews moba-rts-games gradyhooker eslone-birmingham-2020
tournament: eslone-birmingham-2020
image: eslonebirmingham-sea-preview
socialimage: eslonebirmingham-sea-preview-social
author: gradyhooker
circa: 2020-05-29 21:30:00 +1200
---
<p>The ESL One Birmingham Dota2 event might have lost it's LAN, but it hasn't lost it's momentum. The tournament moved online and now we take a look at 4 of the top teams from the South East Asia region who have made it to the playoffs for the region.</p>

{% include logoheadline.html logo="boom" headline="BOOM Esports (1st in Group Stage)" %} 
<p>BOOM Esports had a really good group stage, they managed to make their way through the five teams with only taking one lose to Reality Rift (2-1). Boom earned their spot in this tournament with a win at the ESL SEA Championship defeating teams such as Team Adroit and Geek Fam on their way to the gold. In their last major tournament, ESL One Los Angeles, they placed third against the same 4 teams we see in the playoffs this time. Although they topped the group stage BOOM are not the favorites - that distinction belongs to...</p>

{% include logoheadline.html logo="fnatic-2020" headline="Fnatic (2nd in Group Stage)" %}
<p>Fnatic are the clear favorites to take home the trophy and win ESL One Birmingham, at least the South East Asian portion. Fnatic are the powerhouses of the SEA region with wins next to their names at ESL One Los Angeles 2020, BTS Pro Series, and DOTA Summit 12 so far this year. Captain Jabz is leading his team to, what should be, another trophy for the mantelpiece. Coming through the Upper Bracket, they are only two wins away from it.</p>

{% include logoheadline.html logo="geekfam" headline="Geek Fam (3rd in Group Stage)" %} 
<p>In January Geek Fam made a change with DuBu heading off to coach for CR4ZY and Whitemon joining on in the 5th position. Since then we have seen them at two major events, the first being ESL One Los Angeles in which they landed last place. The second is BTS Pro Series in which they had a rough group stage, but managed to claw back a 3rd place through the Lower Bracket. Overall they are quite a long-shot to win the tournament and I don't like their chances.</p>

{% include logoheadline.html logo="adroit" headline="Team Adroit (4th in Group Stage)" %} 
<p>Team Adroit have been having mixed results as of late. There has been some successes like a 2nd place finish at ESL One Los Angeles, but their has also been failures such as double-loss in the playoffs of the BTS Pro Series (against TNC Predator and Geek Fam). Adroit have looked good in the group stages and even managed to steal a win off of Fnatic (2-1), but their fairytale is coming to an end.</p>

<p class="subheading">Playoff Match-ups</p>

{% include team-info.html logo="boom" logo2="fnatic-2020" text="Upper Bracket" %}
<p>We saw this collision in the group stages and it lead to three tight matches and a BOOM victory 2-1, but when it comes time for the playoffs Fnatic take off the gloves and pull into an extra energy reserve. In the last 5 collisions between these teams Fnatic has won 3 and BOOM have only won 2 (both in Group Stages). The odds are in favor of Fnatic taking out the entire competition and to do that, they have to run through BOOM.</p>

{% include team-info.html logo="geekfam" logo2="adroit" text="Lower Bracket" %}
<p>Similarly to the Upper Bracket match these teams are well matched. Over the last 5 games these teams have played in, Geek Fam have won the last 2 and Team Adroit won the 3 before that. I am going to give the advantage to Geek Fam as I think, on the day, they are going to be the stronger team. Geek Fam's stock is on the rise and Team Adroit are chum in the water.</p>
