---
layout: post
title: "Overwatch League Week 14 - Hero Bans and Match-ups"
fulltitle: "Overwatch League Week 14 - Hero Bans and Match-ups"
category: overwatch
tags: event-news fps-games gradyhooker owl-season3 
tournament: owl-season3
image: owl-week14-heroes-games
socialimage: owl-week14-heroes-games-social
author: gradyhooker
circa: 2020-05-07 09:00:12 +1200
hasTweets: true
---
<p>The overWatch League have settled on the 4 heroes that will be banned during Week 14 of the OverWatch League as well as the 12 match-ups for the week spread across two days. We have all the details including times, teams, and banned heroes.</p>

<p class="subheading">Hero Bans</p>

{% include tweet.html tweet="1257114317213876227" %}

<p>Hero pools are an algorithm-driven way to figure out which heroes are being played the most and remove them from play for the next week. There is an element of randomness, but heroes with a higher play-rate will have a higher chance of being banned. There is one exception and that is if a hero was banned last week, they cannot be banned again the next week.</p>

<p>The four heroes that will be banned for Week 14 play are:</p>

<li>Damage: Reaper & Ashe</li>

<li>Tank: Reinhardt</li>

<li>Support: Brigitte</li>

<p>For last week (Week 13) the banned heroes were McCree & Widowmaker (Damage), Wrecking Ball (Tank), and Mercy (Support).</p>

<p class="subheading">Match-ups</p>

{% include tweet.html tweet="1257377343204667392" %}

{% include team-info.html logo="shanghaidragons" logo2="seouldynasty" %}
{% include time.html datetime="2020-05-09T20:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="chengduhunters" logo2="londonspitfire" %}
{% include time.html datetime="2020-05-09T22:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="guangzhoucharge" logo2="newyorkexcelsior" %}
{% include time.html datetime="2020-05-10T00:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="pariseternal" logo2="losangelesgladiators" %}
{% include time.html datetime="2020-05-10T07:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="washingtonjustice" logo2="vancouvertitans" %}
{% include time.html datetime="2020-05-10T09:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="houstonoutlaws" logo2="atlantareign" %}
{% include time.html datetime="2020-05-10T11:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="losangelesvaliant-2020" logo2="bostonuprising" %}
{% include time.html datetime="2020-05-10T13:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="hangzhouspark" logo2="shanghaidragons" %}
{% include time.html datetime="2020-05-10T20:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="londonspitfire" logo2="guangzhoucharge" %}
{% include time.html datetime="2020-05-10T22:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="dallasfuel" logo2="philadelphiafusion" %}
{% include time.html datetime="2020-05-11T07:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="torontodefiant" logo2="sanfranciscoshock" %}
{% include time.html datetime="2020-05-11T09:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}

{% include team-info.html logo="floridamayhem-2020" logo2="vancouvertitans" %}
{% include time.html datetime="2020-05-11T11:00:00+12:00" format="ddd, MMMM dd @ h:mma" %}