---
layout: post
title: "League of Legends Tier Rankings: Worlds 2020"
fulltitle: "League of Legends Tier Rankings:<br/>Worlds 2020"
category: league-of-legends
tags: tier-ranking fps-games esportskingdom ryanhull gradyhooker lol-tiers
image: lol-tiers-worlds2020
socialimage: lol-tiers-worlds2020-social
author: esportskingdom
headercredit: 
  - name: DamwonGaming on Twitter
    link: https://twitter.com/DamwonGaming
circa: 2020-11-08 15:30:00 +1300
---
<p>We are back with a special edition of our League of Legends tier rankings. Since Worlds 2020 showed up the first glimpse of cross-region competition we have brought together our rankings into a big one-off World Tier Rankings!</p>

<p>Teams that did not qualify for Worlds 2020 are placed based on our best approximation with regards to how the other teams in their region performed. To distinguish them, all teams that reached the Main Event of Worlds 2020 have a little icon in the top left of their box.</p>

<p>Tier Rankings compiled by Ryan "Hullitude" Hull (<a href="https://twitter.com/Hullitude">@Hulltude on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

<div class="tier-list">
	{% include tier-list-header.html tier="S" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="damwon" shortname="DAMWON" country="kr" change="" league="lol-worlds2020" %}
	</div>
	
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="suning" shortname="Suning" country="cn" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="top" shortname="Top" country="cn" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="g2-2019" shortname="G2" country="eu" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="fnatic-2020" shortname="Fnatic" country="eu" change="" league="lol-worlds2020" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="drx" shortname="DRX" country="kr" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="geng" shortname="Gen.G" country="kr" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="jd" shortname="JD" country="cn" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="t1" shortname="T1" country="kr" change="" league="lol-worlds2020" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="liquid-2019" shortname="Liquid" country="us" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="flyquest" shortname="FlyQuest" country="ca" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="lgd-2020" shortname="LGD" country="cn" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="afreeca" shortname="Afreeca" country="kr" change="" %}
		{% include tier-list-team.html team="invictus" shortname="Invictus" country="cn" change="" %}
		{% include tier-list-team.html team="funplusphoenix" shortname="FunPlus" country="cn" change="" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="psgtalon" shortname="PSG.Talon" country="hk" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="machi" shortname="Machi" country="tw" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="rogue" shortname="Rogue" country="eu" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="tsm" shortname="TSM" country="us" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="unicornsoflove" shortname="Unicorns" country="ru" change="" league="lol-worlds2020" %}
		{% include tier-list-team.html team="legacy" shortname="Legacy" country="au" change="" %}
		{% include tier-list-team.html team="madlions" shortname="MAD Lions" country="eu" change="" %}
		{% include tier-list-team.html team="cloud9" shortname="Cloud9" country="ca" change="" %}
		{% include tier-list-team.html team="teamwe" shortname="Team WE" country="cn" change="" %}
		{% include tier-list-team.html team="victoryfive" shortname="Victory 5" country="cn" change="" %}
	</div>
</div>