---
layout: post
title: "Road to Rio North America - Playoffs Preview"
fulltitle: "Road to Rio<br/>North America<br/>Playoffs Preview"
category: counter-strike
tags: event-previews fps-games gradyhooker eslone-roadtorio-2020
tournament: eslone-roadtorio-2020
image: roadtorio-northamerica-preview
socialimage: roadtorio-northamerica-preview-social
author: gradyhooker
headercredit: 
  - name: prijordao on Flickr
    link: https://www.flickr.com/photos/prijordao/
circa: 2020-05-06 08:30:00 +1200
---
<p>After the group stages that saw one team disband and drop out entirely, and two of the stronger teams in Evil Geniuses and MIBR fail to make the top 3 in the group - we take a look at the six teams that made it to the playoffs of the North American Road to Rio.</p>

<p>For current betting odds for the Road to Rio North America matches - check out <a href="https://esportsbettingtop.com/csgo-betting-odds/esl-one-road-to-rio-north-america/">esportsbettingtop.com</a>.</p>

{% include logoheadline.html logo="geng" headline="Gen.G (1st in Group A)" %} 
<p>Gen.G had a less than stellar performance in FLASHPOINT Season 1 recently with loses against Cloud9 (2-0) and HAVU (2-1) putting them out of the tournament in 5th/6th place. Despite that, they came out swinging in Group A of the Road to Rio and took out everyone in their way, except for their kryptonite in Cloud9. Gen.G were the team to put the final nail in the coffin of Evil Geniuses and send them packing with an exciting 16-14 final map on Dust2.</p>

{% include logoheadline.html logo="100thieves" headline="100 Thieves (2nd in Group A)" %} 
<p>Second place was solidly locked in by 100 Thieves, who only lost to one team and that was first place Gen.G. There were question marks above 100 Thieves since they had just <a href="/counter-strike/2020-04-kassad-leaves-100thieves">parted ways with their coach</a> and failed to make the playoffs in the ESL Pro League Season 11 North America tournament. They seem to be over any hurdles and have shaken off any rust in this tournament and are a legitimate contender for the championship.</p>

{% include logoheadline.html logo="cloud9" headline="Cloud9 (3rd in Group A)" %} 
<p>The American/South African squad has had some good tier 2 results lately by wiping the floor of the other teams in the DreamHack Masters Spring 2020 North American Qualifier and again in the Americas Minor North American Closed Qualifier for the, now delayed, Rio Major. There only slip ups were against European teams such as MAD Lions and HAVU Gaming in FLASHPOINT - but now they are back against local teams and are looking good.</p>

{% include logoheadline.html logo="furia" headline="FURIA (1st in Group B)" %} 
<p>FURIA is the dark horse of this entire tournament, no one was thinking too highly of them after a 3rd place finish in the ESL Pro League Season 11 North America tournament. Then they beat Envy (2-1)...expected. Defeat Bad News Bears (2-0)...expected. Defeat Yeah (2-1)...still expected. Defeat Team Liquid (2-0) and then follow that up with defeating MIBR (2-0) as well. That is a strong team that is hitting their stride right now.</p>

{% include logoheadline.html logo="envy" headline="Envy (2nd in Group B)" %} 
<p>Another good example of a team that no one was pegging as a contender. Maybe Team Liquid was having a bad week or maybe Envy were playing out of their minds, because they too managed to defeat Liquid (2-0). Envy only lost to the Brazilian sides of MIBR and FURIA when cementing their place in the playoffs. Keep an eye on this Envy, I don't know what to expect just yet.</p>

{% include logoheadline.html logo="liquid-2019" headline="Team Liquid (3rd in Group B)" %} 
<p>The <a href="/counter-strike/2020-04-csgo-tiers-epl11-flashpoint1">highest ranked Americas team in the CSGO Tier Rankings</a> struggled in Group B to even make it to the playoffs. Liquid were coming off a win in the ESL Pro League Season 11 North America tournament and then completely disappeared in the Road to Rio. The question here is if they can pick up their form or not in the playoffs.</p>

<p class="subheading">Quarterfinal Match-ups</p>

{% include team-info.html logo="envy" logo2="cloud9" text="" %}
<p>Taking a look at the first Quarterfinal, the favorites have to be Cloud9 coming in the momentum. Taking a look on <a href="https://esportsbettingtop.com/csgo-betting-odds/esl-one-road-to-rio-north-america/">esportsbettingtop.com</a> the odds are also in the favour of a Cloud9 victory on both of the betting sites with odds (at time of writing). It is likely that the top North American team from FLASHPOINT Season 1 can take out Envy, who didn't even make it to the FLASHPOINT playoffs.</p>

{% include team-info.html logo="100thieves" logo2="liquid-2019" text="" %}
<p>The second game should be more competitive, I think this game will end up going the full three maps. This match-up would usually tip in the favour of Team Liquid, as they are the top Americas team right now, but with their recent form in the group stages...I'm not so sure. On <a href="https://esportsbettingtop.com/csgo-betting-odds/esl-one-road-to-rio-north-america/">esportsbettingtop.com</a> the odds are leaning heavily into Team Liquid (an average of 1.59 odds at time of writing). I could see an upset here with the Australian 100T squad picking up the win and that will be my official prediction.</p>
