---
layout: post
title: "5 things FLASHPOINT can learn from the WWE"
fulltitle: "5 things FLASHPOINT can learn from the WWE"
category: counter-strike
tags: features fps-games gradyhooker flashpoint-season1
tournament: flashpoint-season1
image: esports-learn-from-wwe
author: gradyhooker
circa: 2020-02-06 15:45:00 +1300
---
<p>When FLASHPOINT was announcing their CSGO league, they said they wanted to "take inspiration from UFC and WWE". The worlds of esports and professional wrestling already have some overlap, but we look at five things that FLASHPOINT could learn from the WWE.</p>

<hr/>

<p class="subheading">#1 - Entrances and Music</p>

{% include image.html image="esports-learn-from-wwe-entrances" caption="WWE Superstar Shawn Michaels making his grand entrance at WrestleMania 25" credit="WWE" creditlink="https://www.wwe.com/" %}

<p>The number one thing that helps professional wrestling is the entrances and music - It makes every wrestler feel special. When that glass shatters, you know "Stone Cold" Steve Austin is about to come and open a can of whoop ass. Every wrestler enters the ring is a subtly different way; some dance, some run, some have an entourage, some have the lights go out, and some simply saunter at a regular pace.</p>

<p>Having unique entrance elements (music, videos, mannerisms) means that it separates everyone and gives them their own little part of this broadcast that is uniquely theirs. Some events have had pyrotechnics, some players walk out wearing flags, some players try to hype up the crowd as they walk in - but there is a next level of production that can be reached.</p>

<p>It can be as simple as licensing 12 songs for the participating teams and having those play into the personas and cultures of their players. As soon as the music begins to play, you know exactly which team is about to come out and it gets you hyped up. It also opens up the possibility of live musical performances of those songs, which again adds a layer of grandness to these teams entering the arena.</p>

<hr/>

<p class="subheading">#2 - Storylines and Video Packages</p>

{% include image.html image="esports-learn-from-wwe-storylines" caption="WWE Owner Vince McMahon getting in the face of WWE Superstar 'Stone Cold' Steve Austin" credit="WWE" creditlink="https://www.wwe.com/" %}

<p>WWE is all about writing storylines; your best friend throwing you through a barber shop window, your partner cheating on you with the commentator, you're half-brother who is also a demon coming up from the depths of hell... This isn't everything though as some of WWE's best stories have been naturally forming from Tweets and real-life circumstances like wrestlers jumping companies or being frustrated with an aspect of the company.

<p>There is a number of storylines that naturally appear in Counter-Strike; the underdog team making a run for the championship, the old guard having one last hurrah, a kicked player against their old team. These might get talked about by an analyst desk or with threads on Reddit, but they are perfect opportunities for content.</p>

{% include video.html video="rsX1ATcyQxU" caption="WWE's video package for Daniel Bryan vs. Triple H at WrestleMania XXX" %}

<p>You could know absolutely nothing about WWE and professional wrestling, but after 4 minutes of video, you want to see these two guys beat the hell out of each other and you want to see Daniel Bryan succeed.</p>

<p>In Counter-Strike we have some frag-movies, we have some video interviews, but we have never brought all of this together to tell a story. Short 2-3 minutes videos before big matchups, maybe just Semifinals and Grand Finals, telling the audience how we got here. Using in-game clips with casting like fragmovies and using the IRL content either from trash-talking clips or interviews.</p>

<hr/>

<p class="subheading">#3 - Promos and Characters</p>

{% include image.html image="esports-learn-from-wwe-promos" caption="WWE Superstar CM Punk dropping a pipebomb" credit="WWE" creditlink="https://www.wwe.com/" %}

<p>There is an art to talking. It is one thing to be comfortable to do interviews on stage and put your words together and it is another to have the confidence to trash-talk your opponent (in good fun). The easiest way to get the crowd behind a match-up is to put some stakes on it. The easiest stakes to add is a little spice and rivalry from a few choice words.</p>

<p>There is no reason that CSGO pros can't, either as a part of the show or on Twitter, turn on the trash-talking (respectfully) and hype up their games. It would wrap everything in a nice package where both the players and the event mean more because of some small videos and a few words. Sometimes people need help to get out of their shell and having a character they can portray helps with that.</p>

{% include image.html image="esports-learn-from-wwe-characters" caption="Some of WWE's characters (Left to Right); Max Moon, The Boogeyman, The Honky Tonk Man, and The Gobbledy Gooker" credit="WWE" creditlink="https://www.wwe.com/" %}

<p>I'm not suggesting GeT_RiGhT comes out with a black trench-coat on and pretends to be an undead wizard. I'm not suggesting BnTeT should wear a luchador mask and run around jumping off things before his games. The best characters in professional wrestling is just the human with their personality turned up to 11 (and The Undertaker, he is pretty cool).</p>

<p>The crowd loves to cheer and the crowd loves to boo, you just have to give them a reason. Look no further than IEM Sydney's Caches events where there is a clear babyface (good guy) and a clear heel (bad guy). The crowd loves it and gets behind the local team and makes the game even more hype. Recently, we have had "Mr. Australia" DickStacy get into a tussle with HenryG and BadFalleN (a great example of how to use a character in Counter-Strike) show up in a demon mask.</p>

<hr/>

<p class="subheading">#4 - People going through announce tables</p>

{% include image.html image="esports-learn-from-wwe-table" caption="WWE Superstar Shawn Michaels laying on what remains of the Spanish announcer table" credit="WWE" creditlink="https://www.wwe.com/" %}

<p>If I don't see someone smash Thorin through the analyst desk at least once in this league, then FLASHPOINT has been for nothing and is a waste of my time.</p>

<hr/>

<p class="subheading">#5 - Funny Segments</p>

{% include image.html image="esports-learn-from-wwe-funny" caption="WWE Superstars Kurt Angle (Left) and Edge (Right) hanging out backstage" credit="WWE" creditlink="https://www.wwe.com/" %}

<p>It can't be all serious all the time, you need a break to have a laugh between all of the games. Usually in the WWE, this is done with some 3-4 minute backstage (or in-ring) skits that continue the storyline or build the character that someone is trying to create. Then there are also times when a wrestlers thinks of something so stupid and funny and just does it for camera and it doesn't mean anything.</p>

<p>Renegades (ex-Grayhound) are great at this sort of short-form comedy content and I commend them for that. When everyone else is head-down and practising, they are making goofy videos about <a href="https://twitter.com/grayhoundgaming/status/1201637210610683905">swapping organizations</a>, <a href="https://twitter.com/Renegades/status/1216268473321443334">getting a new player</a>, or <a href="https://www.youtube.com/watch?v=-WBTOVyxlC0">erkaSt jumping out of the window on Mirage</a>. Other teams and tournament organizers needs to get in on the comedic short-form content to fill the gaps in their production.</p>

<hr/>

<p>And this is the bottom line, because Stone Cold said so (and it is at the end of the article).</p>