---
layout: post
title: "IEM Fall 2021 - Europe Group C Preview"
fulltitle: "IEM Fall 2021<br/>Europe Group C Preview"
category: counter-strike
tags: event-previews fps-games joshuatreadway iem-fall-2021
tournament: iem-fall-2021
image: iemfall2021-preview-europec
socialimage: iemfall2021-preview-europec-social
author: joshuatreadway
circa: 2021-09-27 16:20:00 +1200
---
<p>IEM Fall: EU is only a few days away, and Group C is shaping up to be among the most competitive in any region. These six teams all enter the event with different pressures and motivators, but their goals remain the same: earn as many Regional Major Rankings points as possible, in a final attempt to reach the PGL Stockholm Major.</p>

<p>Today, we'll look at each team's form and past results to determine where they'll finish once the group stage is over, and to find out who we're likely to see in Stockholm in a month's time.</p>

{% include image.html image="iemfall2021-preview-europec" caption="" %}

{% include logoheadline.html logo="vitality-2018" headline="Team Vitality (1480 RMR Points)" %}
<p>Team Vitality currently sit in fifth place in Europe's RMR circuit. France's team looks in excellent form heading into IEM Fall, finishing second in the ESL Pro League and running through their group at the BLAST Premier: Fall Groups without dropping a series.</p>
<p>With Legend's Status within reach, it should be the goal of Team Vitality to be among the top three in Europe's RMR Circuit. First, they'll need to finish among the top two in Group C, but that shouldn't be an issue for a Vitality that looks this good. Their true test will begin in the playoffs, where another deep run will be necessary if the squad hopes to advance directly to Stockholm's New Legends stage.</p>

{% include logoheadline.html logo="og" headline="OG (430 RMR Points)" %}
<p>OG is in eleventh place with 430 points, just enough to hang onto a qualification slot at the PGL Stockholm Major. At their best, it wouldn't be shocking to see OG top Group C — but inconsistency issues continue to plague the squad. A perfect record in groups led to a top four finish at the ESL Pro League, but the team was unable to follow up on their momentum at BLAST, finishing their group in last place.</p>
<p>In truth, OG could end up anywhere in this group. However, if they come in prepared they are likely to finish among the top two, which would net them the points needed to not just secure a major slot, but to make a significant leap up the European rankings. If they stumble early, however, it will be a significant task in itself just to hold onto their ticket to Stockholm.</p>

{% include logoheadline.html logo="sprout" headline="Sprout (480 RMR Points)" %} 
<p>Sprout walks into IEM Fall in a precarious position in Europe's RMR circuit. With 480 points, the team is currently in tenth place, enough to secure Contender's Status in Stockholm. However, they will need to pull off a good performance here in order to maintain that status, especially with so many hungry teams looking to take their spot.</p>
<p>Sprout currently sits with a respectable 4-2 record in the 38th season of ESEA Premier, but their opponents here will be on another level. They should set their sights on reaching the top three in the group, as even a third place finish will see them into the 9th-12th place tiebreakers. Anything less than that and the team risks missing the major, a result they'd surely love to avoid.</p>

{% include logoheadline.html logo="dignitas-2021" headline="Dignitas (0 RMR Points)" %} 
<p>Dignitas enter IEM Fall without any RMR points, having just missed Flashpoint Season 3. The Swedes qualified for this event after defeating fellow group member MAD Lions, and have recent victories over ENCE, FunPlus Phoenix and the Copenhagen Flames, but have been otherwise unable to crack into the top tier of European competition.</p>
<p>With a mix of established legends and young, determined players, Dignitas have already proven themselves able to defeat some of the opposition in their group. Their result at IEM Fall will hinge on their ability to remain consistent in those results. If so, they just may be able to beat out the likes of Sprout and ENCE to claim one of Group C's top slots, giving them a shot at sneaking into the PGL Major.</p>

{% include logoheadline.html logo="ence-2020" headline="ENCE (0 RMR Points)" %} 
<p>ENCE comes into IEM Fall revamped and remotivated, looking in great form ahead of the event. At the ESL Pro League, ENCE finished their group with a 3-2 record, and fought their way to the Quarterfinals before being defeated by Na'Vi. Unfortunately, the squad has zero points to their name after failing to qualify for Flashpoint Season 3.</p>
<p>ENCE will need to come in swinging if they want to reach Stockholm. They're likely to finish somewhere in the middle of the group, and may end up fighting it out in the 9th-12th place tiebreakers. They're playing with their backs against the wall, and there may be no team feeling the pressure more than ENCE.</p>

{% include logoheadline.html logo="madlions" headline="MAD Lions (0 RMR Points)" %} 
<p>MAD Lions enter their first RMR event, qualifying after a victory against Anonymo Esports. Another international roster, MAD Lions finished the 38th season of ESEA Advanced with an 11-3 record in the group stage, and are currently making a campaign through the playoffs. They have recent wins over the likes of FunPlus Phoenix and Sprout, but are inexperienced against top European competition. </p>
<p>The Lions will likely be among the back half of the group, but could still easily pull off a victory against Sprout, Dignitas, or even ENCE. At this point, any experience is good experience for this team, and walking out with a victory or two would be a considerable accomplishment.</p>