---
layout: post
title: "Voting is now open for the first ever OCCA Awards"
fulltitle: "Voting is now open for the first ever OCCA Awards"
category: multiple-games
tags: other-articles other-games gradyhooker
image: occa-voting-open
socialimage: occa-voting-open
author: gradyhooker
circa: 2021-01-18 21:30:00 +1300
---
<p>Nominations have now closed and voting is open for the first ever OCCA Awards - recognising the hard working esports players, teams, and casters in Oceania. Find out how to vote, what each of the categories are, and when to tune in to see the results!</p>

<p>The first ever OCCA Awards will be taking place on the {% include time.html datetime="2021-01-30T19:30:00+11:00" format="D MMM" %} at {% include time.html datetime="2021-01-30T19:30:00+11:00" format="h:mm a" %} (converted to local time). They will be streamed live on the <a href="https://www.twitch.tv/OCCA_TV">OCCA_TV Twitch account</a>.</p>

<p class="subheading">The Oceanic Counter-Strike Community Association</p>

<p>Joshaaye, the man behind OCCA, described it best:</p>
<p class="quote">OCCA, or Oceanic Counter-Strike Community Association, is simply something put together to be run by the community, for the community. It's a way to recognise the hard work that players, organisation staff, admins, torunament organisers, casters, and everyone else involved in the scene put in every day.</p>
<p class="quote">This hard work often results in so many important people not getting the thanks and recognition they deserve along the way. Esports is such an integral part of so many peoples lives, and unfortunately so many people leave esports due to feeling undervalued or unappreciated.</p>
<p class="quote">OCCA is designed to help prevent that and bring the community together to recognise excellence and have fun along the way. There's no board or ties to any entity that could influence it. Its 100% not-for-profit, community-focused, and community-driven.</p>

<p class="subheading">Voting</p>

<p>To vote head along to <a href="#">this Google Forms link</a> and make your selections. You don't have to vote in every category and at the very end if you supply your email address you will go into the draw to win one of five $10 PacificES Cloud Server vouchers!</p>

<p>The categories are as follows:</p>
<ul>
<li>2020 Player of the Year</li>
<li>The Legion Energy Most Improved Player</li>
<li>The PacificES Rookie of the Year</li>
<li>Player Streamer of the Year</li>
<li>Team of the Year</li>
<li>Best Org or Team Content Overall</li>
<li>Overall Caster or Casting Duo of the Year</li>
<li>MDL Broadcaster of the Year</li>
<li>Up-and-coming Caster of the Year</li>
</ul>

<p>With regards to the response so far, 'Joshaaye' said:</p>
<p class="quote">The community response has been incredible. Luckily for me, most people already know who I am through my casting, previous work with orgs, and tournament hosting in the past. So they knew they could trust this venture and that it would be able to be pulled off. Obviously there's always scepticism but we had some amazing and incredibly influential people within the scene come straight to our defence and get people to give OCCA a chance.</p>
<p class="quote">The support from sponsors and anonymous donations, as well as the people in the community who have either nominated people or even come on board to help out in the OCCA team has been fantastic. I'm so appreciative of everyone involved with OCCA, and they truly have made this whole process much easier.</p>

<p class="subheading">Tune In</p>

<p>The awards night will be hosted by Conky & Roflko. Conky is a professional caster and Twitch partner who has worked with tournament organisers around the world. Roflko is a professional CSGO player for VERTEX Esports Club as well as a Twtch streamer. They wont be the only personalities to appear throughout the night, but you will have to tune in to see who else makes an appearance.</p>

<p>Talking about tuning in, {% include time.html datetime="2021-01-30T19:30:00+11:00" format="D MMM" %} at {% include time.html datetime="2021-01-30T19:30:00+11:00" format="h:mm a" %} (converted to local time) make your way to the <a href="https://www.twitch.tv/OCCA_TV">OCCA_TV Twitch account</a>, settle down with your beverage of choice, and watch OCCA recognise some of the awesome people in the Oceanic esports scene.</p>

<p>For more about OCCA and the OCCA Awards, follow them <a href="https://twitter.com/Official_OCCA">on Twitter</a>.