---
layout: post
title: "Counter-Strike Tier Rankings: PGL Stockholm Major 2021"
fulltitle: "Counter-Strike Tier Rankings:<br/>PGL Stockholm Major 2021<br/>"
category: counter-strike
tags: tier-ranking fps-games esportskingdom gradyhooker csgo-tiers joshuatreadway
image: csgo-tiers-pglmajor2021
socialimage: csgo-tiers-pglmajor2021-social
author: esportskingdom
headercredit: 
  - name: pglesports on Twitter
    link: https://twitter.com/pglesports
circa: 2021-11-11 10:30:00 +1300
---
<p>It was the first major in a long time and it allowed us to see all of the top international teams together on LAN going head-to-head for the most prestigious title in Counter-Strike. How do the teams stand against each other? Come and take a look!</p>

<p>Tier Rankings compiled by Joshua "SUPER__FRESH" Treadway (<a href="https://twitter.com/SUPERFRESHCS">@SUPERFRESHCS on Twitter</a>) and Grady Hooker (<a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a>).</p>

<div class="tier-list">
	{% include tier-list-header.html tier="S" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="navi-2021" shortname="NaVi" country="ru" change="" %}
	</div>
	
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="gambit-2020" shortname="Gambit" country="ru" change="" %}
		{% include tier-list-team.html team="vitality-2018" shortname="Vitality" country="fr" change="" %}
		{% include tier-list-team.html team="nip-2021" shortname="NiP" country="se" change="" %}
		{% include tier-list-team.html team="heroic-2019" shortname="Heroic" country="dk" change="up" %}
		{% include tier-list-team.html team="g2-2019" shortname="G2" country="eu" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="faze-solid" shortname="FaZe" country="eu" change="" %}
		{% include tier-list-team.html team="virtuspro-2019" shortname="Virtus.Pro" country="cis" change="" %}
		{% include tier-list-team.html team="furia" shortname="FURIA" country="br" change="" %}
		{% include tier-list-team.html team="cphflames" shortname="CPH Flames" country="dk" change="up" %}
		{% include tier-list-team.html team="entropiq" shortname="Entropiq" country="ru" change="up" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="astralis" shortname="Astralis" country="dk" change="down2" %}
		{% include tier-list-team.html team="liquid-2019" shortname="Liquid" country="us" change="down" %}
		{% include tier-list-team.html team="ence-2020" shortname="ENCE" country="eu" change="down" %}
		{% include tier-list-team.html team="mousesports-2021" shortname="mousesports" country="eu" change="" %}
		{% include tier-list-team.html team="og" shortname="OG" country="eu" change="" %}
		{% include tier-list-team.html team="big" shortname="BIG" country="de" change="" %}
		{% include tier-list-team.html team="spirit-2021" shortname="Spirit" country="ru" change="" %}
		{% include tier-list-team.html team="movistarriders" shortname="Movistar" country="es" change="" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="fnatic-2020" shortname="Fnatic" country="uk" change="" %}
		{% include tier-list-team.html team="forze-2020" shortname="forZe" country="ru" change="" %}
		{% include tier-list-team.html team="renegades" shortname="Renegades" country="au" change="" %}
		{% include tier-list-team.html team="sinners" shortname="Sinners" country="cz" change="" %}
		{% include tier-list-team.html team="skade" shortname="SKADE" country="bg" change="" %}
		{% include tier-list-team.html team="pain" shortname="paiN" country="br" change="" %}
		{% include tier-list-team.html team="godsent" shortname="GODSENT" country="br" change="" %}
		{% include tier-list-team.html team="fiend" shortname="Fiend" country="bg" change="" %}
		{% include tier-list-team.html team="lyngby" shortname="Lyngby" country="dk" change="debut" %}
		{% include tier-list-team.html team="tyloo" shortname="TYLOO" country="cn" change="debut" %}
		{% include tier-list-team.html team="madlions" shortname="MAD Lions" country="eu" change="debut" %}
	</div>
</div>