---
layout: post
title: "Counter-Strike Tier Rankings: IEM Katowice 2021"
fulltitle: "Counter-Strike Tier Rankings:<br/>IEM Katowice 2021<br/>"
category: counter-strike
tags: tier-ranking fps-games esportskingdom gradyhooker csgo-tiers
image: csgo-tiers-iemkatowice21
socialimage: csgo-tiers-iemkatowice21-social
author: esportskingdom
circa: 2021-03-11 18:20:00 +1200
---
<p>We are switching back into global rankings for this edition as IEM Katowice saw teams from most of the major regions go head-to-head. What does this mean for the Europe old guard, the dying North American scene, and the new fresh crop of CIS talent?</p>

<p>NOTE: Esports Kingdom is on the look-out for someone to help with our Counter-Strike Tier Rankings. If you are interested, please contact <a href="https://twitter.com/GradyHooker">@GradyHooker on Twitter</a> and we will see what we can do.</p>

<div class="tier-list">
	{% include tier-list-header.html tier="S" %}
	<div class="tier-cont">
		&nbsp;
	</div>
	
	{% include tier-list-header.html tier="A" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="astralis" shortname="Astralis" country="dk" change="" %}
		{% include tier-list-team.html team="navi" shortname="NaVi" country="ru" change="" %}
		{% include tier-list-team.html team="virtuspro-2019" shortname="Virtus.Pro" country="cis" change="" %}
		{% include tier-list-team.html team="gambit-2020" shortname="Gambit" country="ru" change="" %}
	</div>
	
	{% include tier-list-header.html tier="B" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="vitality-2018" shortname="Vitality" country="fr" change="" %}
		{% include tier-list-team.html team="liquid-2019" shortname="Liquid" country="us" change="" %}
		{% include tier-list-team.html team="big" shortname="BIG" country="de" change="" %}
		{% include tier-list-team.html team="spirit-2021" shortname="Spirit" country="ru" change="" %}
		{% include tier-list-team.html team="heroic-2019" shortname="Heroic" country="dk" change="" %}
	</div>
	
	{% include tier-list-header.html tier="C" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="complexity-2019" shortname="Complexity" country="eu" change="" %}
		{% include tier-list-team.html team="furia" shortname="FURIA" country="br" change="" %}
		{% include tier-list-team.html team="g2-2019" shortname="G2" country="fr" change="" %}
		{% include tier-list-team.html team="nip-2021" shortname="NiP" country="se" change="" %}
		{% include tier-list-team.html team="evilgeniuses-2020-2" shortname="Evil Geniuses" country="us" change="" %}
		{% include tier-list-team.html team="mousesports" shortname="mousesports" country="eu" change="" %}
		{% include tier-list-team.html team="fnatic-2020" shortname="Fnatic" country="se" change="" %}
		{% include tier-list-team.html team="faze-solid" shortname="FaZe" country="eu" change="" %}
		{% include tier-list-team.html team="og" shortname="OG" country="eu" change="" %}
		{% include tier-list-team.html team="funplusphoenix-2021" shortname="FunPlus" country="eu" change="" %}
	</div>
	
	{% include tier-list-header.html tier="D" %}
	<div class="tier-cont">
		{% include tier-list-team.html team="cloud9" shortname="Cloud9" country="eu" change="" %}
		{% include tier-list-team.html team="sprout" shortname="Sprout" country="de" change="" %}
		{% include tier-list-team.html team="winstrike-2019" shortname="Winstrike" country="cis" change="" %}
		{% include tier-list-team.html team="saw-2021" shortname="SAW" country="pt" change="" %}
		{% include tier-list-team.html team="extrasalt" shortname="ExtraSalt" country="us" change="" %}
		{% include tier-list-team.html team="movistarriders" shortname="Movistar" country="eu" change="" %}
		{% include tier-list-team.html team="havu" shortname="HAVU" country="fi" change="" %}
		{% include tier-list-team.html team="mibr" shortname="MIBR" country="br" change="" %}
		{% include tier-list-team.html team="renegades" shortname="Renegades" country="au" change="" %}
		{% include tier-list-team.html team="ence-2020" shortname="ENCE" country="fi" change="" %}
		{% include tier-list-team.html team="teamone" shortname="TeamOne" country="br" change="" %}
		{% include tier-list-team.html team="endpoint-2020" shortname="Endpoint" country="uk" change="" %}
		{% include tier-list-team.html team="tyloo" shortname="TYLOO" country="cn" change="" %}
	</div>
</div>