---
layout: post
title: 'NaVi a win away from the top and G2 stumbling at the starting line'
fulltitle: 'NaVi a win away from the top and G2 stumbling at the starting line'
category: counter-strike
tags: interviews fps-games joshuatreadway iem-cologne-2022
tournament: iem-cologne-2022
image: iemcologne22-groupa
socialimage: iemcologne22-groupa-social
author: joshuatreadway
circa: 2022-07-08 17:30:00 +1200
---
<p>Counter-Strike returns to the LANXESS Arena with IEM Cologne, pitting 24 teams against one-another for their share of $1,000,000 USD. Of these teams, eight will receive a distinct advantage: their consistency in recent months has earned them direct qualification into the Group Stage, bypassing the Play-Ins entirely.</p>

<p>Of these teams, Natus Vincere, Ninjas in Pyjamas, G2 Esports and ENCE were all slotted into Group A. For the audience, this means a highly exciting field even without the addition of MOUZ, Heroic, Movistar Riders and Team Vitality from the Play-Ins. For the players, however, it is a guarantee that reaching the stage and playing in front of the famous Cologne crowd will be a significant challenge. Today, we look at the past performances of these invited teams, and take a look at how the first day of competition treated them.</p>

{% include logoheadline.html logo="navi-2021" headline="Natus Vincere: A Win Away from The Top" %} 

<p>The faces of CIS Counter-Strike are coming into IEM Cologne fresh off a championship win at the BLAST Premier: Spring Finals. That event marked Viktor "sdy" Orudzhev's debut as a stand-in for the squad after Kirill "Boombl4" Mikhaylov was benched in May. He will continue his stint with the team in Cologne, under the direction of in-game leader Denis "electroNic" Sharipov. Despite the circumstances that forced Na'Vi to restructure their team and the player's roles inside it, the Ukrainian organization looks to secure their second straight title and cement themselves back atop the mountain in Cologne.</p>

<p>Na'Vi's first opponent of the event was MOUZ. The squad advanced to this stage with victories over paiN Gaming and TyLoo, but Andrii "B1ad3" Horodenskyi's system posed an entirely different challenge. Following a rather convincing victory against Christopher "dexter" Nong's squad, Na'Vi now look towards their next Upper Bracket game taking place on July 8th. There, they will face the Ninjas in Pyjamas, who seem to be getting better and better every series. With a single series standing between them and the playoffs, a win over the Ninjas is exactly what this line-up needs to take some pressure off their shoulders.</p>

{% include logoheadline.html logo="nip-2021" headline="Ninjas in Pyjamas: A Statement to Make" %} 

<p>Since the addition of Ludvig "Brollan" Brolin in March, the Ninjas in Pyjamas have been on the upswing with no signs of slowing down. The team most recently participated in the Global Esports Tour Dubai 2022, winning the tournament with wins over the likes of OG and MOUZ. Heading into Cologne, NIP has a chance to solidify this roster as tournament contenders and prove that this team can be majorly successful even without Nicolai "dev1ce" Reedtz on the AWP.</p>

<p>On the first day of Group Stage play, the Ninjas would do just that. With Casper "cadiaN" Møller's Heroic on the other side of the server, Hampus "hampus" Poser and Patrick "es3tag" Hansen came alive. The two delivered 1.40 and 1.37 HLTV ratings respectively, enough to get their team across the line on both Ancient and Inferno, and grab a 2-0 victory. Their reward? Natus Vincere in the next round. The Swedes continue to prove themselves, yet it will take an even stronger performance across the board for the Ninjas to overcome Na'Vi and secure a spot in the LANXESS Arena.</p>

{% include logoheadline.html logo="g2-2019" headline="G2 Esports: Stumbling At The Starting Line" %} 

<p>Following a middling performance at the PGL Antwerp Major that saw G2 Esports miss the playoffs, the international line-up entered both IEM Dallas and the BLAST Spring Finals with something to prove. Aleksi "Aleksib" Virolainen's roster would reach the playoffs stage of both events, yet the team's championship shelf sits noticeably empty. IEM Cologne marks the team's only chance in the immediate future to secure a trophy from a premier event — something they last achieved at DreamHack Masters Malmö in late 2017.</p>

<p>Unfortunately for G2, their opening match-up would end in a bitter 2-0 defeat at the hands of Movistar Riders. With the win, the Riders extended their winning streak to seven after a flawless run through DreamHack Valencia, and advanced to play XX in the following round of competition. In the lower bracket, however, G2 will compete against  XX, with elimination on the line. With their next game set for July 8th, the team has limited time to find their footing, lest they face an early elimination from Cologne.</p>

{% include logoheadline.html logo="ence-2020" headline="ENCE: An Arduous Road Ahead " %} 

<p>ENCE has spent recent months reaching playoffs after playoffs, yet they have continued to struggle overcoming the final hurdles between them and a trophy. Marco "Snappi" Pfeiffer's unexpected powerhouse of a squad finished second at IEM Dallas and reached the Quarterfinals in both the BLAST Spring Finals and Roobet Cup. With a direct invite into Cologne's Group Stage, ENCE had the opportunity to come in swinging, with the expectation of another playoffs berth on their minds.</p>

<p>However, Team Vitality would have something to say about ENCE's plan. Despite a rough Play-In Stage that saw Vitality lose 2-0 to the Movistar Riders, they managed to qualify to the Group Stage through a win over TYLOO and an all-too-narrow 2-1 win over Sprout. Once they got there, a different team revealed itself: one that sent ENCE into the Lower Bracket after a 2-1 series, off the back of masterclass performances from Mathieu "ZywOo" Herbaut and Emil "Magisk" Reif. Now, as Vitality looks towards a rematch against the Movistar Riders, ENCE must devise a plan to take down G2 Esports on July 8th — if they can't, it will be a quick departure from Cologne for Snappi and company.</p>