---
layout: post
title: "Exciting voice actors and other amazing guests coming to PAX Aus"
fulltitle: "Exciting voice actors and other amazing guests coming to PAX Aus"
category: multiple-games
tags: other-articles other-games gradyhooker pax-australia-2023
tournament: pax-australia-2023
image: pax-australia-guests
socialimage: pax-australia-guests-social
author: gradyhooker
circa: 2023-09-01 14:10:00 +1200
hasTweets: true
---
<p>From captivating voice actors to uproarious entertainment, PAX Aus 2023 is gearing up to be an unforgettable event. Erika Ishii, acclaimed for her roles in Apex Legends and beyond, leads the pack of renowned talents making an appearance.</p>

{% include tweet.html tweet="1696983262214935037" %}

<p>Kicking off PAX Aus 2023 will be Erika Ishii, a well-known performer who lends her voice to characters like Valkyrie in Apex Legends, Ana Bray, and Kridis in Destiny 2, Lumu in Halo Infinite, and Kitsune in Call of Duty: Warzone. She's also been part of Cyberpunk 2077 and Young Justice. Erika Ishii is no stranger to the RPG scene, often appearing on the RPG show Dimension 20 and its comedy streaming partner, Dropout. Additionally, she's a co-creator of the narrative-play podcast, Worlds Beyond Number.</p>

<p>Erika’s Storytime will kickstart PAX Aus 2023 in the main theatre on Friday 6th October at 12:00pm.</p>

<p>Erika isn't the only voice actor coming to PAX Aus – joining her are other notable talents. Actor Ben Prendergast, recognized for his voice work in games like Apex Legends and God of War: Ragnarok, will be there. Additionally, the dynamic and acclaimed voice actress, Jenny Yokobori, known for her roles in animated series and video games such as Smite, The Simpsons, Genshin Impact, Street Fighter 6, Fire Emblem Heroes, Ghost of Tsushima, Wasteland 3, and Fortnite, will also be in attendance. The event is shaping up to be a gathering of impressive voice talents!</p>

{% include tweet.html tweet="1697121844212691200" %}

<p>The Twitch gaming variety show, Back Pocket, is all set to make its appearance at PAX Aus! Get ready to join Stephanie "Hex" Bendixsen, Gus "Goose" Ronald, and the entire team for an exciting interactive experience on Saturday at the Quokka Theatre. And that's not all – throughout the entire weekend, you can catch them taking charge of controllers and keyboards at the PAX Rising booths. It's going to be a gaming extravaganza you won't want to miss!</p>

<p>PAX Aus fans are in for another round of awakening in a Dark Room, where they'll be greeted by the multi-talented Mr. John Robinson. With his roles as a comedian, streamer, author, improviser, actor, video game writer, insult comic, and a force of nature, John Robinson is all set to take the stage. Fresh from his Edinburgh Fringe and Soho Theatre Tour, he's returning to the event. Fans can anticipate the revival of the well-loved Twitch Series, The Dark Room, for an exciting and entertaining experience.</p>

<p>Throughout the three days, there will be plenty of chances for attendees to engage in meet and greets and interactive experiences. This means that everyone, regardless of their gaming preferences, will have the opportunity to meet their gaming idols. Keep an eye out for upcoming announcements about special guests, panels, tournaments, exhibitors, and the complete schedule. Stay tuned to PAX Aus social media channels for all the latest updates!</p>

<p>PAX Aus 2023 takes place October 6-8 at the Melbourne Convention and Exhibition Centre. For more information and badges, <a href="https://aus.paxsite.com/">visit the official website</a> or follow PAX Aus 2023 on <a href="https://www.facebook.com/PAXAUS/">Facebook</a>, <a href="https://twitter.com/PAXAus">Twitter</a>, <a href="https://www.instagram.com/paxaus/">Instagram</a>, and <a href="https://discord.com/invite/PrCYaMQGQH">Discord</a>.</p>