---
layout: post
title: "TEKKEN 8 Announces Closed Beta Test for October"
fulltitle: "TEKKEN 8 Announces Closed Beta Test for October"
category: tekken
tags: game-updates fighting-games gradyhooker
image: tekken8-closed-beta-test
socialimage: tekken8-closed-beta-test-social
author: gradyhooker
circa: 2023-09-20 17:00:00 +1200
---
<p>Get ready for intense battles in TEKKEN 8's Closed Beta Test launching on October 20th. Join the legendary franchise's next chapter, featuring cross-platform competition and exciting new features. Don't miss out - register now for the ultimate fighting experience!</p>

<p>Get ready, TEKKEN fans! TEKKEN 8 is gearing up for its most epic battle yet, and you have the chance to be part of it. The legendary fighting game franchise is stepping into the new generation with TEKKEN 8, and you can help shape its future. How? By joining the Closed Beta Test (CBT) starting on October 20th. This thrilling event will be accessible on PlayStation 5, Xbox Series X|S, and PC. Registration is now open at <a href="https://beta.bandainamcoent.eu/cb/tekken-8-closed-beta-test" target="_blank">https://beta.bandainamcoent.eu/cb/tekken-8-closed-beta-test</a>.</p>

<p>The TEKKEN 8 CBT introduces online head-to-head competitive play with cross-platform matching. This means you can face off against opponents regardless of their gaming platform. But that's not all! Enter the TEKKEN Fight Lounge, a hub of interaction where players can socialize, access new features, and explore game modes. Here, you can create personalized Avatars, chat with fellow gamers, use emotes, set up matchmaking, and dive into the rich world of customization and game modes, including the Battle Area, Customization Shop, TEKKEN DOJO, and Beach Area. And for those nostalgic moments, Tekken Ball is making its return, bringing back epic beach volleyball battles. While the CBT will feature the Battle Area and Customization Shop, stay tuned for more TEKKEN Fight Lounge surprises.</p>

<p>The CBT showcases a roster of 19 characters, featuring returning favorites such as Jin, Kazuya, Paul, and more. Joining them are new fighters like Azucena, Raven, and the recently revealed Feng. Engage in battles across a variety of dynamic environments, including Urban Square (Evening), Yakushima, Rebel Hangar, Sanctum, Arena, and Ortiz Farm—a brand-new stage added since the Closed Network Test.</p>

{% include video.html video="-fWYJY7Be6w" caption="TEKKEN 8 trailer unveiling the formidable character Feng" %} 

<p>No need for Xbox Live Gold or PlayStation®Plus subscriptions to participate! Plus, if you were part of the Closed Network Tests in June 2023 and downloaded the build, you'll be all set to dive into the upcoming Closed Beta Test after a quick update.</p>

<p>Beta test dates and additional details are as follows (all converted to local time):</p>
<ul>
<li>{% include time.html datetime="2023-10-11T09:00:00+02:00" format="MMMM D, h p" %} - Registration ends.</li>
<li>{% include time.html datetime="2023-10-18T09:00:00+02:00" format="MMMM D, h p" %} - Selected testers will be notified and provided codes to redeem.</li>
<li>{% include time.html datetime="2023-10-20T10:00:00+02:00" format="MMMM D, h p" %} - Closed Beta Testing starts.</li>
<li>{% include time.html datetime="2023-10-21T10:00:00+02:00" format="MMMM D, h p" %} to {% include time.html datetime="2023-10-21T13:00:00+02:00" format="h p" %} - Closed Beta Test downtime for server maintenance.</li>
<li>{% include time.html datetime="2023-10-23T09:00:00+02:00" format="MMMM D, h p" %} - Closed Beta Testing ends.</li>
</ul>

<p>For more information on TEKKEN 8 and other products from Bandai Namco Europe, please visit: <a href="www.bandainamcoent.eu" target="_blank">www.bandainamcoent.eu</a>. Follow us on Twitter at: <a href="https://twitter.com/TEKKEN" target="_blank">https://twitter.com/TEKKEN</a>.</p>