---
layout: post
title: "Final Lap: Mario Kart 8 Deluxe Booster Course Pass Wave 6 unveiled"
fulltitle: "Final Lap: Mario Kart 8 Deluxe Booster Course Pass Wave 6 unveiled"
category: mario-kart
tags: game-updates sports-games gradyhooker
image: mario-kart-wave6
socialimage: mario-kart-wave6-social
author: gradyhooker
circa: 2023-09-15 14:50:00 +1200
---
<p>Mario Kart 8 Deluxe fans, brace yourselves for the ultimate thrill as Wave 6 of the Booster Course Pass, the grand finale of DLC, zooms closer to its holiday season release. This exciting update is set to introduce a lineup of beloved characters.</p>

<p>In Wave 5 of the Booster Course Pass, players were treated to exciting new characters and courses, including Petey Piranha, Wiggler, and Kamek, as well as iconic tracks like Sunset Wilds from Mario Kart Super Circuit, Athens Dash from Mario Kart Tour, and Moonview Highway from Mario Kart Wii.</p>

<p>Although an official release date remains undisclosed, Nintendo has generously provided an extended preview of the content awaiting in this epic final wave. Among the highlights is the heart-pounding Daisy Circuit from Mario Kart Wii, beautifully set against the backdrop of an amber sky. What's more, the package includes four new character additions to Mario Kart 8.</p>

{% include image.html image="mario-kart-wave6-diddy" caption="" %}
<p>Diddy Kong, making a triumphant return from Mario Kart: Double Dash!!, brings his nimble racing skills and trademark charm to Mario Kart 8 Deluxe's Wave 6, adding a dash of nostalgia for long-time fans of the series.</p>

{% include image.html image="mario-kart-wave6-funky" caption="" %}
<p>Funky Kong, known for his funky style and speed from Mario Kart Wii, joins the race in Wave 6 of the Booster Course Pass, promising exhilarating and groovy gameplay moments on the tracks.</p>

{% include image.html image="mario-kart-wave6-pauline" caption="" %}
<p>From her adventures in Mario Kart Tour, Pauline speeds into the action, offering players a chance to race with the charismatic mayor of New Donk City in the Mario Kart 8 Deluxe world for the first time.</p>

{% include image.html image="mario-kart-wave6-peach" caption="" %}
<p>The charming transformation from Toadette into Peachette, which debuted in Mario Kart Tour, adds a delightful twist to the Mario Kart 8 Deluxe roster in Wave 6, providing players with a unique character choice for their karting adventures.</p>

<p>Mark your calendars because Wave 6 of the Mario Kart 8 Deluxe – Booster Course Pass DLC is set to launch on Nintendo Switch in summer 2023. Active Nintendo Switch Online + Expansion Pack subscribers can enjoy this DLC at no additional cost, and it will also be available for individual purchase.</p>