---
layout: base
type: index
title: Tier Rankings
---
<h2 class="autopage-title">Tier Rankings</h2>

<div class="single-page-cont single-page-cont-tiers">
	{% include tier-ranking-button.html game="csgo" link="tier-rankings/csgo" tag="csgo-tiers" %}
	{% include tier-ranking-button.html game="leagueoflegends" link="tier-rankings/leagueoflegends" tag="lol-tiers" %}
	{% include tier-ranking-button.html game="rainbowsix" link="tier-rankings/rainbowsix" tag="r6-tiers" %}
	{% include tier-ranking-button.html game="overwatch" link="tier-rankings/overwatch" disabled="true" %}
	{% include tier-ranking-button.html game="dota2" link="tier-rankings/dota2" disabled="true" %}
</div>