---
layout: base
type: autopage
pagination: 
  permalink: /:num/
---
{% assign category-metadata = site.data.mappingsGames | where:"id",page.title | first %}
{% if category-metadata == null %}
{% assign category-metadata = site.data.mappingsGenres | where:"id",page.title | first %}
{% if category-metadata == null %}
{% assign category-metadata = site.data.mappingsTypes | where:"id",page.title | first %}
{% endif %}
{% endif %}
<h2 class="autopage-title">{{ category-metadata.title }}</h2>

{% include paginator-list.html %}