---
layout: base
type: autopage
pagination: 
  permalink: /:num/
---
{% assign author = site.data.authors | where:"id",page.title | first %}
{% if author != null %}
  <h2 class="autopage-title">{{ author.firstname }} {% if author.nickname != null %}"{{ author.nickname }}" {% endif %}{{ author.lastname }}</h2>
{% else %}
  {% assign category = site.data.mappingsGames | where:"id",page.title | first %}
  {% if category == null %}
    {% assign category = site.data.mappingsGenres | where:"id",page.title | first %}
    {% if category == null %}
      {% assign category = site.data.mappingsTypes | where:"id",page.title | first %}
    {% endif %}
  {% endif %}
  <h2 class="autopage-title">{{ category.title }}</h2>
{% endif %}

{% include paginator-list.html %}