<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	{% include favicon.html %}
    <link href="http://fonts.googleapis.com/css?family=Bungee|Roboto:400,600,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/main.css">
	<script src="{{ site.url }}/js/main.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Esports Kingdom{% unless page.short_title == null %} - {{ page.short_title }}{% endunless %}</title>
	<!-- Google Analytics -->
	<script>
		window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
		ga('create', 'UA-106610382-1', 'auto');
		ga('send', 'pageview');
	</script>
	<script async src='https://www.google-analytics.com/analytics.js'></script>
	<!--Background pattern from Subtle Patterns-->
  </head>
  <body>
    <header id="header" class="header">
		{% include menu.html %}
    </header>

    <main id="main" class="main">
      {{ content }}
    </main>
	
    <footer>
    </footer>
  </body>
</html>
