---
layout: base
type: photos
---
<div class="single-page-cont single-page-cont-photos">
	<div class="photos">
		{% assign event = page.event %}
		{% assign json = site.data.photos %}
		{% for album in json %}
			{% if album.shortname == event %}
				{% for image in album.photos %}
					{% assign imageid = image | split: "_" %}
					<a href="https://www.flickr.com/photos/kingofesports/{{ imageid[0] }}/in/album-{{ album.id }}" title="Click to View/Download full size image" target="_blank">
						<img class="photo-image" src="https://live.staticflickr.com/65535/{{ image }}_w.jpg" alt="Photo from {{ page.event }}" />
					</a>
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
</div>

<script src="/js/photos.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
	makePhotosFull('{{ page.event }}');
}, false);
</script>