---
layout: base
type: post
---
<div class="page-main">
  <div class="post-container">
	<div class="post-banner"/>
		<img class="post-banner-image" src="/assets/{{ page.wideimage }}.jpg" alt="Header image"/>
	</div>
	<h1 class="post-title">
		<div class="post-title-text">{{ page.fulltitle }}</div>
	</h1>
    <div class="post-details">
		<h2 class="page-box__subheading">Written By: {{ page.author }}</h2>
		<h2 class="page-box__subheading">{{ page.circa }}</h2>
	</div>
	<div class="post-content">
      {{ content }}
    </div>
  </div>
  <div class="post-related">
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
  </div>
</div>
