---
layout: base
type: post
---
{% assign tags = page.category %}
{% assign author = site.data.authors | where:"id",page.author | first %}
{% assign tournament = site.data.tournaments | where:"id",page.tournament | first %}
{% assign headercredit = page.headercredit | first %}
{% assign postsize = content | size %}
{% if page.tags contains 'tier-ranking' %}
	{% assign relatedLimit = 5 %}
{% else %}
	{% assign relatedLimit = postsize | divided_by: 750.0 | floor %}
{% endif %}
<div class="page-main">
  <div class="post-container">
	<div class="post-banner"/>
		<img class="post-banner-image" src="/assets/banner/{{ page.image }}.jpg" alt="Header image"/>
	</div>
	<h1 class="post-title">
		<div class="post-title-text">{{ page.fulltitle }}</div>
	</h1>
    <div class="post-details">
		{% if page.guest != null %}
		{% assign showName = site.data.mappingsShows | where:"id",page.guest | first %}
		<div class="post-show pretty-print">Supplied by <a href="{{ showName.mainlink }}" target="_blank">{{ showName.title }}</a></div>
		{% else %}
        <h2 class="page-box__subheading">
		  {{ author.firstname }} {% if author.nickname != null %}"{{ author.nickname }}" {% endif %}{{ author.lastname }}{% if author.twitter != null %} (<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>){% endif %}
		</h2>
		{% endif %}
		{% assign displayTime = page.circa | date: "%Y.%m.%d" %}
		<h2 class="page-box__subheading"><time datetime="{{ page.circa }}" title="{{ page.circa | date: '%d %B %Y at %r' }}" data-format="timeSince">{{ displayTime }}</time></h2>
	</div>
	{% if page.sponsor != null %}
	<div class="post-sponsor">
		<span>Presented by</span>
		<img src="/assets/sponsors/{{ page.sponsor }}-tiny.png" alt="Sponsor logo"/>
	</div>
	{% endif %}
	<div class="post-content">
      {{ content }}
	  <div class="post-footer">
	    {% if tournament.title != null %}
	      <a href="/{{ tournament.id }}">Click here for more {{ tournament.title }} content</a>
	    {% endif %}
		{% if headercredit.name != null %}
		<div>
		  Header image thanks to <a href="{{ headercredit.link }}">{{ headercredit.name }}</a>
		</div>
		{% endif %}
      </div>
    </div>
	<div class="post-author">
	    {% if page.guest != null %}
		{% assign author = site.data.mappingsShows | where:"id",page.guest | first %}
		<img class="author-image" src="/assets/characters/guest/{{ page.guest }}.png"/>
		<div>
			<p class="author-name">{{ showName.title }}</p>
			<p class="author-description">{{ showName.description }}</p>
			{% if showName.country != null %}<img class="flag" src="/assets/flags/{{ showName.country }}.png"/> {% endif %}
			{% if showName.twitter != null %}<a href="https://twitter.com/{{ showName.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
			{% if showName.twitch != null %}<a href="https://twitch.tv/{{ showName.twitch }}" target="_blank"><i class="fab fa-twitch"></i></a>{% endif %}
			{% if showName.facebook != null %}<a href="https://facebook.com/{{ showName.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>{% endif %}
			{% if showName.youtube != null %}<a href="https://www.youtube.com/{{ showName.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>{% endif %}
		</div>
		{% else %}
		<img class="author-image author-image-human" src="/assets/authors/{{ page.author }}.jpg"/>
        <div>
			<p class="author-name">{{ author.firstname }} {% if author.nickname != null %}"{{ author.nickname }}" {% endif %}{{ author.lastname }}</p>
			{% if author.role != null %}<p class="author-role">{{ author.role }}</p>{% endif %}
			<p class="author-description">{{ author.description }}</p>
			{% if author.country != null %}<img class="flag" src="/assets/flags/{{ author.country }}.png"/> {% endif %}
			{% if author.twitter != null %}<a href="https://twitter.com/{{ author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}
			{% if author.twitch != null %}<a href="https://twitch.tv/{{ author.twitch }}" target="_blank"><i class="fab fa-twitch"></i></a>{% endif %}
			{% if author.facebook != null %}<a href="https://facebook.com/{{ author.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>{% endif %}
			{% if author.youtube != null %}<a href="https://www.youtube.com/{{ author.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>{% endif %}
			{% if author.instagram != null %}<a href="https://www.instagram.com/{{ author.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>{% endif %}
			<a href="/{{ page.author }}">More from this author</a>
		</div>
		{% endif %}
    </div>
  </div>
  {% unless page.category == null %}
  {% capture pageCategory %}{{ page.category }}{% endcapture %}
  {% unless site.categories[pageCategory].size == 1 %}
  <div class="post-related">
    {% if page.sponsor != null %}
	<a class="post-link sponsor-link" href="" target="_blank">
	  <div class="post sponsor-post">
	    <img class="post-image sponsor-image" src="/assets/sponsors/{{ page.sponsor }}-big.jpg" alt="Sponsor logo"/>
		<img class="post-image sponsor-image-wide" src="/assets/sponsors/{{ page.sponsor }}-wide.jpg" alt="Sponsor logo"/>
	  </div>
	</a>
	{% else %}
	<a class="post-link plug-link" href="" target="_blank">
	  <div class="plug-post">
	    {% include advertisement.html %}
	  </div>
	</a>
	{% endif %}
    <h1>Related Posts</h1>
    {% for post in site.categories[pageCategory] limit:relatedLimit %}
    {% unless post.title == page.title %}
	<a class="post-link" href="{{ site.baseurl }}{{ post.url | replace: '.html', ''}}">
	  <div class="post">
	    <img class="post-image" src="/assets/banner/{{ post.image }}-small.jpg" alt="{{ post.title | escape }}"/>
	    <p>{{ post.title }}</p>
	  </div>
	</a>
	{% endunless %}
    {% endfor %}
  </div>
  {% endunless %}
  {% endunless %}
  </div>
</div>
