---
layout: base
type: post
---
{% assign author = site.data.authors[page.author] %}
{% assign headercredit = page.headercredit | first %}
<div class="page-main">
  <div class="post-container">
	<div class="post-banner"/>
		<img class="post-banner-image" src="/assets/{{ page.image }}.jpg" alt="Header image"/>
	</div>
	<h1 class="post-title">
		<div class="post-title-text">{{ page.fulltitle }}</div>
	</h1>
    <div class="post-details">
		{% if author.twitter != null %}
        <h2 class="page-box__subheading">
		  Written By: {{ author.name }} (<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>)
		</h2>
		{% else %}
        <h2 class="page-box__subheading">
		  Written By: {{ author.name }}
		</h2>
		{% endif %}
		{% assign today = site.time | date: '%s' %}
		{% assign start = page.circa | date: '%s' %}
		{% assign secondsSince = today | minus: start %}
		{% assign minutesSince = secondsSince | divided_by: 60 %}
		{% assign hoursSince = minutesSince | divided_by: 60 %}
		{% assign daysSince = hoursSince | divided_by: 24 %}
		{% if minutesSince == 1 %}
			{% assign displayTime = "a minute ago" %}
		{% elsif minutesSince <= 59 %}
			{% assign displayTime = minutesSince | append: " minutes ago" %}
		{% elsif hoursSince == 1 %}
			{% assign displayTime = "an hour ago" %}
		{% elsif hoursSince <= 23 %}
			{% assign displayTime = hoursSince | append: " hours ago" %}
		{% elsif daysSince == 1 %}
			{% assign displayTime = "a day ago" %}
		{% elsif daysSince <= 6 %}
			{% assign displayTime = daysSince | append: " days ago" %}
		{% else %}
			{% assign displayTime = page.circa | date: "%Y.%m.%d" %}
		{% endif %}
		<div class="post-date"></div>
		<h2 class="page-box__subheading"><time datetime="{{ page.circa }}" title="{{ page.circa | date: '%d %B %Y at %r' }}">{{ displayTime }}</time></h2>
	</div>
	<div class="post-content">
      {{ content }}
	  <div class="post-footer">
	    {% if author.twitter != null %}
        <div>
		  Written By: {{ author.name }} (<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>)
		</div>
		{% else %}
        <div>
		  Written By: {{ author.name }}
		</div>
		{% endif %}
		{% if headercredit.name != null %}
		<div>
		  Header image thanks to <a href="{{ headercredit.link }}">{{ headercredit.name }}</a>
		</div>
		{% endif %}
      </div>
    </div>
  </div>
  <!--<div class="post-related">
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
		<div class="post">
		efsefesfesfsef
		</div>
  </div>-->
</div>
