---
layout: base
type: tcg
hasSlick: true
---
<div class="single-page-cont single-page-cont-tcg">
	{% for i in (1..page.max) %}
		<img class="masked tcg-preview" src="/assets/tcg/{{ page.tournament }}/thumbs/{{ i }}.jpg" alt="image" onclick="showCards({{ i }});"/>
	{% endfor %}
</div>
<div class="cardDisplay">
	<div class="carousel">
		{% for i in (1..page.max) %}
			<div><img class="masked tcg-large" data-lazy="/assets/tcg/{{ page.tournament }}/{{ i }}.jpg" alt="Card Loading..." /></div>
		{% endfor %}
	</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1" height="0" width="0">
<defs>
    <clipPath id="myClip" clipPathUnits="objectBoundingBox">
		<path d="M0.06,0.92 L 0.06 0.08 A 0.06 0.04 0 0 1 0.12 0.04 L 0.88,0.04 A 0.06 0.04 0 0 1 0.94,0.08 L 0.94,0.92 A 0.06 0.04 0 0 1 0.88,0.96 L 0.12 0.96 A 0.06 0.04 0 0 1 0.06,0.92z" />
	</clipPath>
  </defs>
</svg>