---
layout: base
type: tcg
hasSlick: true
---
<div class="single-page-cont single-page-cont-tcg">
	{% assign path = page.tournament | prepend: "/tcg/" | append: "/thumbs/" %}
	{% assign imageFiles = site.static_files | where_exp: "image","image.path contains path" %}
	{% for image in imageFiles %}
		{% assign splits = image.basename | split: "-" %}
		{% assign team = splits[1] %}
		{% assign cardNum = splits[0] | plus: 0 %}
		{% if splits[2] != null %}
			<img class="masked tcg-preview" src="{{ image.path }}" alt="{{ splits[2] }} from {{ site.data.teams[team] }}" onclick="showCards({{ cardNum }});"/>
		{% else %}
			<img class="masked tcg-preview" src="{{ image.path }}" alt="{{ team }}" onclick="showCards({{ splits[0] }});"/>
		{% endif %}
	{% endfor %}
</div>
<div class="cardDisplay">
	<div class="carousel">
		{% assign path = page.tournament | prepend: "/tcg/" %}
		{% assign imageFiles = site.static_files | where_exp: "image","image.path contains path" %}
		{% for image in imageFiles %}
			{% unless image.path contains 'thumbs' %}
				<div><img class="masked tcg-large" data-lazy="{{ image.path }}" alt="Card Loading..." /></div>
			{% endunless %}
		{% endfor %}
	</div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" version="1" height="0" width="0">
<defs>
    <clipPath id="myClip" clipPathUnits="objectBoundingBox">
		<path d="M0.06,0.92 L 0.06 0.08 A 0.06 0.04 0 0 1 0.12 0.04 L 0.88,0.04 A 0.06 0.04 0 0 1 0.94,0.08 L 0.94,0.92 A 0.06 0.04 0 0 1 0.88,0.96 L 0.12 0.96 A 0.06 0.04 0 0 1 0.06,0.92z" />
	</clipPath>
  </defs>
</svg>